openapi: 3.0.1
info:
  version: 1.0.0
  title: FactSet Digital Cards API
  description: ''
  contact:
    name: Research Integrations
    email: reserach-integrations-dev@factset.com
servers:
  - url: https://api.factset.com/digital-cards-api
    description: Production
paths:
  /v1/company/{component}/adaptive-card:
    parameters:
      - name: component
        in: path
        required: true
        description: Card name
        schema:
          type: string
          enum:
            - profile
            - event-calendar
      - name: ids
        in: query
        required: true
        description: Public company tickers (comma delimited)
        schema:
          type: string
          default: FDS-US
      - name: format
        in: query
        description: >-
          Return data in different format. By default adaptive cards will be
          returned in key (ticker) value (adaptive card) pairs in a object.
          Table option would return adaptive cards in an array
        schema:
          type: string
          enum:
            - table
      - name: thumbnail
        in: query
        description: Whether or not to include a thumbnail card in the return data
        schema:
          type: boolean
          enum:
            - true
            - false
    get:
      tags:
        - - - - Digital Card
      summary: Retrieve Multiple Digital Cards in Microsoft Adaptive Card Format.
      responses:
        '200':
          description: Digital Card JSON received.
          headers:
            Content-Encoding:
              description: >-
                Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              schema:
                type: string
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
          content:
            application/json:
              examples:
                objectExample1:
                  $ref: '#/components/examples/MultiplePorfileCard'
                objectExample2:
                  $ref: '#/components/examples/MultipleEventCalendarCard'
        '400':
          description: >-
            Bad Request. For further assistance, file an issue under "Workflow &
            Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to
            assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
            Api-Supported-Versions:
              schema:
                type: string
              description: Supported API major versions
            Api-Version:
              schema:
                type: string
              description: API version (semantic versioning)
        '401':
          description: >-
            Missing or invalid authentication. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For further assistance, file an issue under
            "Connectivty - 401 or 403 Responses" using `Report Issue` at the top
            of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '404':
          description: >-
            Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this
            page, including the X-DataDirect-Request-Key from the header to
            assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '429':
          description: >-
            Too many requests - this API is rate-limited to 20 requests per
            second. For further assistance, file an issue under "Workflow &
            Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to
            assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '500':
          description: >-
            Server error. For further assistance, file an issue under
            "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the
            header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '503':
          description: >-
            Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an
            issue under "Performance - 404 and 500 Responses" using `Report
            Issue` at the top of this page, including the
            X-DataDirect-Request-Key from the header to assist in
            troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
  /v1/company/{component}/adaptive-card/{id}:
    parameters:
      - name: component
        in: path
        required: true
        description: Card name
        schema:
          type: string
          enum:
            - profile
            - event-calendar
      - name: id
        in: path
        required: true
        description: Public company ticker
        schema:
          type: string
          default: FDS-US
    get:
      tags:
        - - - - Digital Card
      summary: Retrieve One Digital Card in Microsoft Adaptive Card Format.
      responses:
        '200':
          description: Digital Card JSON received.
          headers:
            Content-Encoding:
              description: >-
                Standard HTTP header. Header value based on Accept-Encoding
                Request header.
              schema:
                type: string
            Content-Type:
              description: Standard HTTP header.
              schema:
                type: string
          content:
            application/json:
              examples:
                objectExample1:
                  $ref: '#/components/examples/OneProfileCard'
                objectExample2:
                  $ref: '#/components/examples/OneEventCalendarCard'
        '400':
          description: >-
            Bad Request. For further assistance, file an issue under "Workflow &
            Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to
            assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
            Api-Supported-Versions:
              schema:
                type: string
              description: Supported API major versions
            Api-Version:
              schema:
                type: string
              description: API version (semantic versioning)
        '401':
          description: >-
            Missing or invalid authentication. Ensure you are logged in and have
            successfully generated an API KEY for the IP range you are
            connecting from. For further assistance, file an issue under
            "Connectivty - 401 or 403 Responses" using `Report Issue` at the top
            of this page, including the X-DataDirect-Request-Key from the header
            to assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '404':
          description: >-
            Not found. For further assistance, file an issue under "Performance
            - 404 and 500 Responses" using `Report Issue` at the top of this
            page, including the X-DataDirect-Request-Key from the header to
            assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '429':
          description: >-
            Too many requests - this API is rate-limited to 20 requests per
            second. For further assistance, file an issue under "Workflow &
            Throttling - 400 or 429 Response" using `Report Issue` at the top of
            this page, including the X-DataDirect-Request-Key from the header to
            assist in troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '500':
          description: >-
            Server error. For further assistance, file an issue under
            "Performance - 404 and 500 Responses" using `Report Issue` at the
            top of this page, including the X-DataDirect-Request-Key from the
            header to assist in troubleshooting
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
        '503':
          description: >-
            Service unavailable. Typically a timeout, or result of a rejected
            request to prevent service overload. For further assistance, file an
            issue under "Performance - 404 and 500 Responses" using `Report
            Issue` at the top of this page, including the
            X-DataDirect-Request-Key from the header to assist in
            troubleshooting.
          headers:
            X-DataDirect-Request-Key:
              schema:
                type: string
              description: FactSet request ID
security:
  - basicAuth: []
components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
  examples:
    MultiplePorfileCard:
      summary: Company profile cards
      description: Example of a response for multiple adaptive cards
      value:
        data:
          FDS-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
                - type: TextBlock
                  text: FactSet Research Systems Inc. (FDS-US)
                  size: Large
                  weight: Lighter
                  wrap: true
                - type: TextBlock
                  text: As of 21 May '21
                  isSubtle: true
                  size: Small
                  spacing: Small
                  wrap: true
                - type: ColumnSet
                  columns:
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Price
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: $329.09
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Mkt Cap (M)
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: $12,389
                          size: Small
                          weight: Bolder
                          spacing: None
                  spacing: Small
                - type: ColumnSet
                  spacing: Small
                  columns:
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: 3M
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: 4.91%
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: YTD
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: '-1.03%'
                          color: Attention
                          size: Small
                          weight: Bolder
                          spacing: None
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: 1Y
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: 13.32%
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                - type: ColumnSet
                  spacing: Medium
                  columns:
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Sales (M)
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: $1,538
                          size: Small
                          weight: Bolder
                          spacing: None
                          wrap: true
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Industry
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: Data Processing Services
                          size: Small
                          weight: Bolder
                          spacing: None
                          wrap: true
                - type: TextBlock
                  text: Upcoming Event
                  $when: true
                  isSubtle: true
                  size: Small
                  spacing: Small
                - type: TextBlock
                  text: Q3 2021 Earnings Release (Projected) on 29 Jun '21
                  $when: true
                  wrap: true
                  size: Small
                  weight: Bolder
                  spacing: None
                - type: TextBlock
                  text: Most Recent Deal
                  $when: true
                  isSubtle: true
                  size: Small
                  spacing: Small
                - type: TextBlock
                  $when: true
                  text: >-
                    FactSet Research Systems, Inc. acquires TruValue Labs, Inc. 
                    (20 Oct '20)
                  wrap: true
                  size: Small
                  weight: Bolder
                  spacing: None
                - type: TextBlock
                  text: Description
                  isSubtle: true
                  size: Small
                  spacing: Medium
                - type: TextBlock
                  text: >-
                    FactSet Research Systems Inc. (the "Company" or "FactSet")
                    is a global provider of integrated financial information,
                    analytical applications and services for the investment and
                    corporate communities. Since inception, global financial
                    professionals have utilized the Company's cont...
                  wrap: true
                  size: Small
                  spacing: None
                - type: TextBlock
                  text: 'Source: [FactSet](https://www.factset.com)'
                  size: Small
                  separator: true
                  spacing: ExtraLarge
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: FactSet Research Systems Inc. (FDS-US)
                text: >-
                  <div style = 'color: #92c353'><b style = 'color:
                  #92c353'>$329.09</b> ▲1.78 (0.54%)</div>
          IBM-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
                - type: TextBlock
                  text: International Business Machines Corporation (IBM-US)
                  size: Large
                  weight: Lighter
                  wrap: true
                - type: TextBlock
                  text: As of 21 May '21
                  isSubtle: true
                  size: Small
                  spacing: Small
                  wrap: true
                - type: ColumnSet
                  columns:
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Price
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: $145.02
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Mkt Cap (M)
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: $128,560
                          size: Small
                          weight: Bolder
                          spacing: None
                  spacing: Small
                - type: ColumnSet
                  spacing: Small
                  columns:
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: 3M
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: 21.88%
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: YTD
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: 15.20%
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: 1Y
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: 21.74%
                          color: Good
                          size: Small
                          weight: Bolder
                          spacing: None
                - type: ColumnSet
                  spacing: Medium
                  columns:
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Sales (M)
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: $73,780
                          size: Small
                          weight: Bolder
                          spacing: None
                          wrap: true
                    - type: Column
                      width: auto
                      items:
                        - type: TextBlock
                          text: Industry
                          isSubtle: true
                          size: Small
                        - type: TextBlock
                          text: Information Technology Services
                          size: Small
                          weight: Bolder
                          spacing: None
                          wrap: true
                - type: TextBlock
                  text: Upcoming Event
                  $when: true
                  isSubtle: true
                  size: Small
                  spacing: Small
                - type: TextBlock
                  text: Q2 2021 Earnings Release on 19 Jul '21
                  $when: true
                  wrap: true
                  size: Small
                  weight: Bolder
                  spacing: None
                - type: TextBlock
                  text: Most Recent Deal
                  $when: true
                  isSubtle: true
                  size: Small
                  spacing: Small
                - type: TextBlock
                  $when: true
                  text: >-
                    International Business Machines Corp. offers to acquire Waeg
                    BVBA  (18 May '21)
                  wrap: true
                  size: Small
                  weight: Bolder
                  spacing: None
                - type: TextBlock
                  text: Description
                  isSubtle: true
                  size: Small
                  spacing: Medium
                - type: TextBlock
                  text: >-
                    International Business Machines Corp. is an information
                    technology company, which provides integrated solutions that
                    leverage information technology and knowledge of business
                    processes. It operates through the following segments: Cloud
                    and Cognitive Software, Global Business Serv...
                  wrap: true
                  size: Small
                  spacing: None
                - type: TextBlock
                  text: 'Source: [FactSet](https://www.factset.com)'
                  size: Small
                  separator: true
                  spacing: ExtraLarge
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: International Business Machines Corporation (IBM-US)
                text: >-
                  <div style = 'color: #92c353'><b style = 'color:
                  #92c353'>$145.02</b> ▲1.14 (0.79%)</div>
        meta: null
    MultipleEventCalendarCard:
      summary: Event calendar cards
      description: Example request for multiple event calendar adaptive cards
      value:
        data:
          FDS-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
                - type: TextBlock
                  text: FactSet Research Systems Inc. (FDS-US)
                  size: Large
                  weight: Lighter
                  wrap: true
                - type: TextBlock
                  text: Upcoming Events
                  wrap: true
                  fontType: Monospace
                  size: Medium
                  weight: Bolder
                - type: TextBlock
                  text: No Events
                  wrap: true
                  $when: true
                - type: ColumnSet
                  columns:
                    - type: Column
                      width: stretch
                      items: []
                      height: stretch
                    - type: Column
                      width: stretch
                      items: []
                - type: TextBlock
                  text: Past Events
                  wrap: true
                  fontType: Monospace
                  size: Medium
                  weight: Bolder
                - type: ColumnSet
                  $when: true
                  columns:
                    - type: Column
                      width: stretch
                      items:
                        - type: TextBlock
                          text: >-
                            Barclays Americas Select Franchise Virtual
                            Conference
                          wrap: true
                          height: stretch
                        - type: TextBlock
                          text: Trade Tech Europe Conference
                          wrap: true
                          height: stretch
                    - type: Column
                      width: stretch
                      items:
                        - type: TextBlock
                          text: 19 May '21, 11:00 AM
                          wrap: true
                          height: stretch
                        - type: TextBlock
                          text: 27 Apr '21
                          wrap: true
                          height: stretch
                - type: TextBlock
                  text: >-
                    [Company/Security - Event
                    Calendar](https://my.apps.factset.com/navigator/company-security/event-calendar/FDS-US)
                  wrap: true
                  spacing: ExtraLarge
                  separator: true
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: FactSet Research Systems Inc. (FDS-US)
                text: Event Calendar
          IBM-US:
            adaptiveCard:
              type: AdaptiveCard
              body:
                - type: TextBlock
                  text: International Business Machines Corporation (IBM-US)
                  size: Large
                  weight: Lighter
                  wrap: true
                - type: TextBlock
                  text: Upcoming Events
                  wrap: true
                  fontType: Monospace
                  size: Medium
                  weight: Bolder
                - type: TextBlock
                  text: No Events
                  wrap: true
                  $when: true
                - type: ColumnSet
                  columns:
                    - type: Column
                      width: stretch
                      items: []
                      height: stretch
                    - type: Column
                      width: stretch
                      items: []
                - type: TextBlock
                  text: Past Events
                  wrap: true
                  fontType: Monospace
                  size: Medium
                  weight: Bolder
                - type: ColumnSet
                  $when: true
                  columns:
                    - type: Column
                      width: stretch
                      items:
                        - type: TextBlock
                          text: RSA Conference
                          wrap: true
                          height: stretch
                        - type: TextBlock
                          text: Annual General Meeting
                          wrap: true
                          height: stretch
                    - type: Column
                      width: stretch
                      items:
                        - type: TextBlock
                          text: 17 May '21, 16:50 PM
                          wrap: true
                          height: stretch
                        - type: TextBlock
                          text: 27 Apr '21
                          wrap: true
                          height: stretch
                - type: TextBlock
                  text: >-
                    [Company/Security - Event
                    Calendar](https://my.apps.factset.com/navigator/company-security/event-calendar/IBM-US)
                  wrap: true
                  spacing: ExtraLarge
                  separator: true
              $schema: http://adaptivecards.io/schemas/adaptive-card.json
              version: '1.2'
            thumbnail:
              contentType: application/vnd.microsoft.card.thumbnail
              content:
                title: International Business Machines Corporation (IBM-US)
                text: Event Calendar
        meta: null
    OneProfileCard:
      summary: Company profile card
      description: Example request for one company profile adaptive card
      value:
        data:
          adaptiveCard:
            type: AdaptiveCard
            body:
              - type: TextBlock
                text: FactSet Research Systems Inc. (FDS-US)
                size: Large
                weight: Lighter
                wrap: true
              - type: TextBlock
                text: As of 21 May '21
                isSubtle: true
                size: Small
                spacing: Small
                wrap: true
              - type: ColumnSet
                columns:
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: Price
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: $331.39
                        color: Good
                        size: Small
                        weight: Bolder
                        spacing: None
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: Mkt Cap (M)
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: $12,389
                        size: Small
                        weight: Bolder
                        spacing: None
                spacing: Small
              - type: ColumnSet
                spacing: Small
                columns:
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: 3M
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: 5.65%
                        color: Good
                        size: Small
                        weight: Bolder
                        spacing: None
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: YTD
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: '-0.33%'
                        color: Attention
                        size: Small
                        weight: Bolder
                        spacing: None
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: 1Y
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: 14.11%
                        color: Good
                        size: Small
                        weight: Bolder
                        spacing: None
              - type: ColumnSet
                spacing: Medium
                columns:
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: Sales (M)
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: $1,538
                        size: Small
                        weight: Bolder
                        spacing: None
                        wrap: true
                  - type: Column
                    width: auto
                    items:
                      - type: TextBlock
                        text: Industry
                        isSubtle: true
                        size: Small
                      - type: TextBlock
                        text: Data Processing Services
                        size: Small
                        weight: Bolder
                        spacing: None
                        wrap: true
              - type: TextBlock
                text: Upcoming Event
                $when: true
                isSubtle: true
                size: Small
                spacing: Small
              - type: TextBlock
                text: Q3 2021 Earnings Release (Projected) on 29 Jun '21
                $when: true
                wrap: true
                size: Small
                weight: Bolder
                spacing: None
              - type: TextBlock
                text: Most Recent Deal
                $when: true
                isSubtle: true
                size: Small
                spacing: Small
              - type: TextBlock
                $when: true
                text: >-
                  FactSet Research Systems, Inc. acquires TruValue Labs, Inc. 
                  (20 Oct '20)
                wrap: true
                size: Small
                weight: Bolder
                spacing: None
              - type: TextBlock
                text: Description
                isSubtle: true
                size: Small
                spacing: Medium
              - type: TextBlock
                text: >-
                  FactSet Research Systems Inc. (the "Company" or "FactSet") is
                  a global provider of integrated financial information,
                  analytical applications and services for the investment and
                  corporate communities. Since inception, global financial
                  professionals have utilized the Company's cont...
                wrap: true
                size: Small
                spacing: None
              - type: TextBlock
                text: 'Source: [FactSet](https://www.factset.com)'
                size: Small
                separator: true
                spacing: ExtraLarge
            $schema: http://adaptivecards.io/schemas/adaptive-card.json
            version: '1.2'
        meta: null
    OneEventCalendarCard:
      summary: Event calendar card
      description: Example request for one event calendar adaptive card
      value:
        data:
          adaptiveCard:
            type: AdaptiveCard
            body:
              - type: TextBlock
                text: FactSet Research Systems Inc. (FDS-US)
                size: Large
                weight: Lighter
                wrap: true
              - type: TextBlock
                text: Upcoming Events
                wrap: true
                fontType: Monospace
                size: Medium
                weight: Bolder
              - type: TextBlock
                text: No Events
                wrap: true
                $when: true
              - type: ColumnSet
                columns:
                  - type: Column
                    width: stretch
                    items: []
                    height: stretch
                  - type: Column
                    width: stretch
                    items: []
              - type: TextBlock
                text: Past Events
                wrap: true
                fontType: Monospace
                size: Medium
                weight: Bolder
              - type: ColumnSet
                $when: true
                columns:
                  - type: Column
                    width: stretch
                    items:
                      - type: TextBlock
                        text: Barclays Americas Select Franchise Virtual Conference
                        wrap: true
                        height: stretch
                      - type: TextBlock
                        text: Trade Tech Europe Conference
                        wrap: true
                        height: stretch
                      - type: TextBlock
                        text: Financial Technologies Client Reporting Forum
                        wrap: true
                        height: stretch
                  - type: Column
                    width: stretch
                    items:
                      - type: TextBlock
                        text: 19 May '21, 11:00 AM
                        wrap: true
                        height: stretch
                      - type: TextBlock
                        text: 27 Apr '21
                        wrap: true
                        height: stretch
                      - type: TextBlock
                        text: 21 Apr '21
                        wrap: true
                        height: stretch
              - type: TextBlock
                text: >-
                  [Company/Security - Event
                  Calendar](https://my.apps.factset.com/navigator/company-security/event-calendar/FDS-US)
                wrap: true
                spacing: ExtraLarge
                separator: true
            $schema: http://adaptivecards.io/schemas/adaptive-card.json
            version: '1.2'
        meta: null
tags: []
