openapi: 3.0.3
info:
  title: Portfolio Metadata
  version: 1.0.0
  description: Basic operations for portfolio metadata
  termsOfService: TOS
  contact:
    name: FactSet Research Systems
    url: https://developer.factset.com/contact
    email: api@factset.com
  license:
    name: Apache License, Version 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0
servers:
  - description: production
    url: https://api.factset.com/analytics/portfolio-metadata/v1
security:
  - FactSetApiKey: []
  - FactSetOAuth2: []
paths:
  /account-composite:
    post:
      operationId: createAccountComposite
      description: Create a new account composite
      tags:
        - - Account Composite
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAccountCompositeRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
    get:
      operationId: listAccountComposite
      description: List account composite
      tags:
        - - Account Composite
      parameters:
        - name: path
          in: query
          required: false
          schema:
            type: string
            default: 'Client:'
            example: string
          description: Directory to list
        - name: name
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only files whose name includes this query
        - name: description
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only files whose name includes this query
        - name: _paginationLimit
          in: query
          required: false
          schema:
            type: number
            default: 100
            example: 0
          description: Number of directory items to return
        - name: _paginationCursor
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Cursor used for paging.  Fetch items after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /account-composite/{id}:
    delete:
      operationId: deleteAccountComposite
      description: Remove a account composite
      tags:
        - - Account Composite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier for the account composite to be deleted
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        - name: reason
          in: query
          required: false
          schema:
            type: string
            example: string
          description: User auditable reason that the account composite is being removed
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
    get:
      operationId: readAccountComposite
      description: Read a account composite
      tags:
        - - Account Composite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the account composite to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
    put:
      operationId: updateAccountComposite
      description: Modify a account composite
      tags:
        - - Account Composite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier for the account composite to be updated
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccountCompositeRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAccountCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /account:
    post:
      operationId: createAccount
      description: Create a new account
      tags:
        - - Account
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/createAccountRequest'
      responses:
        '201':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/createAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
    get:
      operationId: listAccount
      description: List account
      tags:
        - - Account
      parameters:
        - name: path
          in: query
          required: false
          schema:
            type: string
            default: 'Client:'
            example: string
          description: Directory to list
        - name: name
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only files whose name includes this query
        - name: description
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only files whose name includes this query
        - name: _paginationLimit
          in: query
          required: false
          schema:
            type: number
            default: 100
            example: 0
          description: Number of directory items to return
        - name: _paginationCursor
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Cursor used for paging.  Fetch items after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /account/{id}:
    delete:
      operationId: deleteAccount
      description: Remove a account
      tags:
        - - Account
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier for the account to be deleted
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
        - name: reason
          in: query
          required: false
          schema:
            type: string
            example: string
          description: User auditable reason that the account is being removed
      responses:
        '204':
          description: Success
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '409':
          $ref: '#/components/responses/ConflictErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
    get:
      operationId: readAccount
      description: Read a account
      tags:
        - - Account
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the account to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
    put:
      operationId: updateAccount
      description: Modify a account
      tags:
        - - Account
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier for the account to be updated
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/updateAccountRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/updateAccountResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /holdings-composite/{id}:
    get:
      operationId: readHoldingsComposite
      description: Read a holdings composite
      tags:
        - - Holdings Composite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the holdings composite to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readHoldingsCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /holdings/{id}:
    get:
      operationId: readHoldings
      description: Read a holdings
      tags:
        - - Holdings
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the holdings to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readHoldingsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /returns-composite/{id}:
    get:
      operationId: readReturnsComposite
      description: Read a returns composite
      tags:
        - - Returns Composite
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the returns composite to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readReturnsCompositeResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /returns/{id}:
    get:
      operationId: readReturns
      description: Read a returns
      tags:
        - - Returns
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the returns to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readReturnsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /trade-data/{id}:
    get:
      operationId: readTradeData
      description: Read a trade data
      tags:
        - - Trade Data
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the trade data to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readTradeDataResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /user-defined-field-group:
    get:
      operationId: listUserDefinedFieldGroups
      description: List user defined groups
      tags:
        - - User Defined Field Group
      parameters:
        - name: name
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only files whose name includes this query
        - name: _paginationLimit
          in: query
          required: false
          schema:
            type: number
            default: 100
            example: 0
          description: Number of groups to return
        - name: _paginationCursor
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Cursor used for paging.  Fetch items after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listUserDefinedFieldGroupsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /user-defined-field-group/{id}:
    get:
      operationId: readUserDefinedGroup
      description: Read a specific user defined field group and list its fields.
      tags:
        - - User Defined Field Group
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifer for the group to be read.
        - name: _paginationLimit
          in: query
          required: false
          schema:
            type: number
            default: 100
            example: 0
          description: Number of fields to list from this group
        - name: _paginationCursor
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Cursor used for paging.  Fetch fields after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readUserDefinedGroupResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /user-defined-field:
    get:
      operationId: listUserDefinedFields
      description: List user defined fields
      tags:
        - - User Defined Field
      parameters:
        - name: database
          in: query
          required: false
          schema:
            type: string
            enum:
              - CLIENT
              - FACTSET
              - SUPER_CLIENT
            default: CLIENT
            example: CLIENT
          description: Database where the fields are defined.
        - name: name
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only fields whose name includes this query
        - name: group
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Return only fields whose group includes this query
        - name: _paginationLimit
          in: query
          required: false
          schema:
            type: number
            default: 100
            example: 0
          description: Number of fields to return
        - name: _paginationCursor
          in: query
          required: false
          schema:
            type: string
            example: string
          description: Cursor used for paging.  Fetch items after the specified cursor
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/listUserDefinedFieldsResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
  /user-defined-field/{id}:
    get:
      operationId: readUserDefinedField
      description: Read a user defined field
      tags:
        - - User Defined Field
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            example: 270c2fa8-9110-444b-9101-17e10132fe0a
          description: Unique identifier of the user defined field to be read
          example: 270c2fa8-9110-444b-9101-17e10132fe0a
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/readUserDefinedFieldResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '406':
          $ref: '#/components/responses/NotAcceptableErrorResponse'
        '415':
          $ref: '#/components/responses/UnsupportedMediaTypeErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '501':
          $ref: '#/components/responses/NotImplementedErrorResponse'
externalDocs:
  description: API Documentation
  url: https://developer.factset.com/api-catalog/portfolio-metadata-api
components:
  securitySchemes:
    FactSetOAuth2:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://auth.factset.com/as/token.oauth2
          scopes: {}
    FactSetApiKey:
      type: http
      scheme: basic
  parameters: {}
  requestBodies: {}
  responses:
    BadRequestErrorResponse:
      description: >-
        The server cannot or will not process the request due to an apparent
        client error (e.g., malformed request syntax, size too large, invalid
        request message framing, or deceptive request routing).
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnauthorizedErrorResponse:
      description: >-
        Similar to 403 Forbidden, but specifically for use when authentication
        is required and has failed or has not yet been provided.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    ForbiddenErrorResponse:
      description: >-
        The request contained valid data and was understood by the server, but
        the server is refusing action. This may be due to the user not having
        the necessary permissions for a resource or needing an account of some
        sort, or attempting a prohibited action.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotFoundErrorResponse:
      description: >-
        The requested resource could not be found but may be available in the
        future. Subsequent requests by the client are permissible.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotAcceptableErrorResponse:
      description: >-
        The requested resource is capable of generating only content not
        acceptable according to the Accept headers sent in the request.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    ConflictErrorResponse:
      description: >-
        Indicates that the request could not be processed because of conflict in
        the current state of the resource, such as an edit conflict between
        multiple simultaneous updates.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    UnsupportedMediaTypeErrorResponse:
      description: >-
        The request entity has a media type which the server or resource does
        not support.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    InternalServerErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
    NotImplementedErrorResponse:
      description: ''
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Errors'
  schemas:
    Errors:
      type: object
      description: Information about one or more errors
      properties:
        errors:
          type: array
          description: List of errors
          items:
            type: object
            properties:
              id:
                type: string
                description: >-
                  Unique identifier for this error instance.  Used to reference
                  this error in logging.
                example: 270c2fa8-9110-444b-9101-17e10132fe0a
              code:
                type: string
                description: Error code for this error
                enum:
                  - BadRequestError
                  - UnauthorizedError
                  - ForbiddenError
                  - NotFoundError
                  - NotAcceptableError
                  - ConflictError
                  - UnsupportedMediaTypeError
                  - InternalServerError
                  - NotImplementedError
              title:
                type: string
                description: HTTP reason phrase associcated with this error
                enum:
                  - Bad Request
                  - Unauthorized
                  - Forbidden
                  - Not Found
                  - Not Acceptable
                  - Conflict
                  - Unsupported Media Type
                  - Internal Server Error
                  - Not Implemented
              detail:
                type: string
                description: Detailed description of the error that occurred
      required:
        - errors
    createAccountCompositeRequest:
      type: object
      properties:
        data:
          type: object
          properties:
            path:
              type: string
              example: string
              description: Directory where account composite should be created
            name:
              type: string
              example: string
              description: Name of the account composite including its extension
            reason:
              type: string
              example: string
              description: User auditable reason for the account composite's creation
            publisher:
              type: object
              description: >-
                Field used to update the settings used for this account in
                Publisher.
              properties:
                benchmarks:
                  type: object
                  description: >-
                    Field used to update the set of benchmarks used in
                    Publisher.
                  properties:
                    returns:
                      type: array
                      items:
                        type: object
                        properties:
                          portfolio:
                            type: object
                            description: >-
                              A reference to the portfolio or vendor benchmark
                              that contains the data this

                              account should be benchmarked against
                            properties:
                              type:
                                type: string
                                enum:
                                  - Account
                                  - AccountComposite
                                  - Holdings
                                  - HoldingsComposite
                                  - Vendor
                              id:
                                type: string
                            required:
                              - type
                              - id
                          modifier:
                            type: string
                            enum:
                              - BUY_AND_HOLD
                              - EXTERNAL
                              - ITERATED_BENCHMARK
                              - LONG_ONLY
                              - NONE
                              - PASSIVE_PORTFOLIO
                              - PASSIVE_WEIGHT
                              - SHORT_ONLY
                              - STYLE_BENCHMARK
                          isComposite:
                            type: boolean
                          comment:
                            type: string
                        required:
                          - portfolio
                    holdings:
                      type: array
                      items:
                        type: object
                        properties:
                          portfolio:
                            type: object
                            description: >-
                              A reference to the portfolio or vendor benchmark
                              that contains the data this

                              account should be benchmarked against
                            properties:
                              type:
                                type: string
                                enum:
                                  - Account
                                  - AccountComposite
                                  - Holdings
                                  - HoldingsComposite
                                  - Vendor
                              id:
                                type: string
                            required:
                              - type
                              - id
                          modifier:
                            type: string
                            enum:
                              - BUY_AND_HOLD
                              - EXTERNAL
                              - ITERATED_BENCHMARK
                              - LONG_ONLY
                              - NONE
                              - PASSIVE_PORTFOLIO
                              - PASSIVE_WEIGHT
                              - SHORT_ONLY
                              - STYLE_BENCHMARK
                          isSpar:
                            type: boolean
                            description: >-
                              Used to signal that the returns data from the
                              provided portfolio should be

                              used to benchmark this account.
                          isComposite:
                            type: boolean
                          comment:
                            type: string
                        required:
                          - portfolio
            description:
              type: string
              description: >-
                Account composite description.  This should be meaningful to the
                end user and

                will often be used in reports generated from this account
                composite.
            dataCatalog:
              type: object
              description: >-
                Field used to make changes to the account's data container
                references.
              properties:
                returns:
                  type: object
                  description: Set the account composite's returns data containers.
                  properties:
                    realEstateTotal:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    privateEquityNet:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    privateEquityGross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    primaryType:
                      type: string
                      enum:
                        - CAPITAL
                        - GROSS
                        - NET
                        - NET_AFTER_TAX
                        - NET_INCOME
                        - OTHER_1
                        - OTHER_2
                        - OTHER_3
                        - OTHER_4
                        - PRIVATE_EQUITY_GROSS
                        - PRIVATE_EQUITY_NET
                        - REAL_ESTATE_TOTAL
                      description: >-
                        Select the default returns series type for this
                        account.  Will throw an error

                        if the selected return series type is not specified in
                        the account.
                    other4:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    other3:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    other2:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    other1:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    netIncome:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    netAfterTax:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    net:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    gross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                    capital:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Returns
                                - ReturnsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        field:
                          type: string
                      required:
                        - portfolio
                holdings:
                  type: object
                  description: Set the account composite's holdings data containers.
                  properties:
                    type:
                      type: string
                      enum:
                        - BLENDED
                        - FIXED_DOLLAR
                        - FLOATING
                        - GIPS
                        - SIMPLE
                    rebalance:
                      type: object
                      properties:
                        useActualFrequencies:
                          type: boolean
                        start:
                          type: string
                          enum:
                            - LATEST_FREQUENCY_END
                            - REPORT_START_DATE
                            - SPECIFIC_POINT
                        quarters:
                          type: string
                          enum:
                            - FEBRUARY_MAY_AUGUST_NOVEMBER
                            - JANUARY_APRIL_JULY_OCTOBER
                            - MARCH_JUNE_SEPTEMBER_DECEMBER
                        periods:
                          type: string
                          enum:
                            - APRIL_OCTOBER
                            - FEBRUARY_AUGUST
                            - JANUARY_JULY
                            - JUNE_DECEMBER
                            - MARCH_SEPTEMBER
                            - MAY_NOVEMBER
                        month:
                          type: string
                          enum:
                            - APRIL
                            - AUGUST
                            - DECEMBER
                            - FEBRUARY
                            - JANUARY
                            - JULY
                            - JUNE
                            - MARCH
                            - MAY
                            - NOVEMBER
                            - OCTOBER
                            - SEPTEMBER
                        frequency:
                          type: string
                          enum:
                            - ANNUALLY
                            - BUY_AND_HOLD
                            - CONSTANTLY
                            - DAILY
                            - MONTHLY
                            - QUARTERLY
                            - SEMI_ANNUALLY
                            - WEEKLY
                        dayOfWeek:
                          type: string
                          enum:
                            - FRIDAY
                            - MONDAY
                            - SATURDAY
                            - SUNDAY
                            - THURSDAY
                            - TUESDAY
                            - WEDNESDAY
                        dayOfMonth:
                          type: string
                        date:
                          type: string
                      required:
                        - frequency
                    methodology:
                      type: string
                      enum:
                        - BUY_AND_HOLD
                        - ORDER_MANAGMENT_SYSTEM
                        - TRANSACTIONS
                    components:
                      type: array
                      items:
                        type: object
                        properties:
                          weight:
                            type: number
                          startDate:
                            type: string
                          portfolio:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                  - Account
                                  - AccountComposite
                                  - HoldingsComposite
                                  - Returns
                                  - ReturnsComposite
                                  - Vendor
                              id:
                                type: string
                            required:
                              - type
                              - id
                          isSpar:
                            type: boolean
                          endDate:
                            type: string
                        required:
                          - weight
                          - startDate
                          - portfolio
                          - endDate
                  required:
                    - components
            benchmarks:
              type: object
              description: >-
                Field used to update the set of benchmarks used for this
                account.
              properties:
                returns:
                  type: object
                  properties:
                    listOfIterated:
                      type: array
                      items:
                        type: object
                        properties:
                          primary:
                            type: object
                            properties:
                              portfolio:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - Account
                                      - AccountComposite
                                      - Returns
                                      - ReturnsComposite
                                      - Vendor
                                  id:
                                    type: string
                                required:
                                  - type
                                  - id
                              modifier:
                                type: string
                                enum:
                                  - BUY_AND_HOLD
                                  - EXTERNAL
                                  - ITERATED_BENCHMARK
                                  - LONG_ONLY
                                  - NONE
                                  - PASSIVE_PORTFOLIO
                                  - PASSIVE_WEIGHT
                                  - SHORT_ONLY
                                  - STYLE_BENCHMARK
                              isComposite:
                                type: boolean
                              comment:
                                type: string
                          iterated:
                            type: array
                            items:
                              type: object
                              properties:
                                startDate:
                                  type: string
                                portfolio:
                                  type: object
                                  properties:
                                    type:
                                      type: string
                                      enum:
                                        - Account
                                        - AccountComposite
                                        - Returns
                                        - ReturnsComposite
                                        - Vendor
                                    id:
                                      type: string
                                  required:
                                    - type
                                    - id
                                modifier:
                                  type: string
                                  enum:
                                    - BUY_AND_HOLD
                                    - EXTERNAL
                                    - ITERATED_BENCHMARK
                                    - LONG_ONLY
                                    - NONE
                                    - PASSIVE_PORTFOLIO
                                    - PASSIVE_WEIGHT
                                    - SHORT_ONLY
                                    - STYLE_BENCHMARK
                                isComposite:
                                  type: boolean
                                comment:
                                  type: string
                              required:
                                - startDate
                          historicalTreatment:
                            type: string
                            enum:
                              - COMBINED_AS_SINGLE_SERIES
                              - LATEST_TAKES_PRECEDENCE
                  required:
                    - listOfIterated
                holdings:
                  type: object
                  properties:
                    primary:
                      type: object
                      description: >-
                        You may specify either primary or iterated, but not
                        both.  primary is a

                        convinence for calling iterated with a single member
                        starting from EARLIEST.
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Holdings
                                - HoldingsComposite
                                - Vendor
                            id:
                              type: string
                          required:
                            - type
                            - id
                        modifier:
                          type: string
                          enum:
                            - BUY_AND_HOLD
                            - EXTERNAL
                            - ITERATED_BENCHMARK
                            - LONG_ONLY
                            - NONE
                            - PASSIVE_PORTFOLIO
                            - PASSIVE_WEIGHT
                            - SHORT_ONLY
                            - STYLE_BENCHMARK
                        isSpar:
                          type: boolean
                        isComposite:
                          type: boolean
                        comment:
                          type: string
                    iterated:
                      type: array
                      items:
                        type: object
                        properties:
                          startDate:
                            type: string
                          portfolio:
                            type: object
                            properties:
                              type:
                                type: string
                                enum:
                                  - Account
                                  - AccountComposite
                                  - Holdings
                                  - HoldingsComposite
                                  - Vendor
                              id:
                                type: string
                            required:
                              - type
                              - id
                          modifier:
                            type: string
                            enum:
                              - BUY_AND_HOLD
                              - EXTERNAL
                              - ITERATED_BENCHMARK
                              - LONG_ONLY
                              - NONE
                              - PASSIVE_PORTFOLIO
                              - PASSIVE_WEIGHT
                              - SHORT_ONLY
                              - STYLE_BENCHMARK
                          isSpar:
                            type: boolean
                          isComposite:
                            type: boolean
                          comment:
                            type: string
                        required:
                          - startDate
                      description: Specify a time iterated list of benchmarks
                    historicalTreatment:
                      type: string
                      enum:
                        - COMBINED_AS_SINGLE_SERIES
                        - LATEST_TAKES_PRECEDENCE
            analytics:
              type: object
              description: >-
                Field used to update the default analytics settings for this
                account.
              properties:
                userDefinedValues:
                  type: array
                  items:
                    type: object
                    properties:
                      value:
                        type: string
                      field:
                        type: object
                        properties:
                          type:
                            type: string
                            enum:
                              - UserDefinedField
                          id:
                            type: string
                        required:
                          - type
                          - id
                    required:
                      - value
                      - field
                currency:
                  type: object
                  properties:
                    iso:
                      type: string
                      description: ISO 4217 Currency code.
                  required:
                    - iso
          required:
            - path
            - name
            - reason
            - dataCatalog
          example:
            path: Client:/examples/
            name: EXAMPLE.ACTM
            reason: Making changes for project X
            publisher:
              benchmarks:
                returns:
                  - portfolio:
                      type: Account
                      id: 6e16cf84-3733-4382-93e1-f88066b4239a
                    modifier: BUY_AND_HOLD
                    isComposite: false
                    comment: Changed benchmark for reason
                holdings:
                  - portfolio:
                      type: Account
                      id: 6e16cf84-3733-4382-93e1-f88066b4239a
                    modifier: BUY_AND_HOLD
                    isSpar: false
                    isComposite: false
                    comment: Changed benchmark for reason
            description: Domestic equity composite
            dataCatalog:
              returns:
                primaryType: NET
                net:
                  portfolio:
                    type: Account
                    id: c80f9bac-6850-4c8e-99d1-e8f7bfd44955
                  field: RETURN
              holdings:
                type: BLENDED
                rebalance:
                  frequency: DAILY
                methodology: BUY_AND_HOLD
                components:
                  - weight: 10
                    startDate: '2022-01-01'
                    portfolio:
                      type: Account
                      id: d5616607-cc1c-4f76-a040-77badf133356
                    isSpar: false
                    endDate: '2022-01-31'
            benchmarks:
              returns:
                listOfIterated:
                  - primary:
                      portfolio:
                        type: Account
                        id: 872bc07e-aafd-4da2-afc5-978d59fab362
                      modifier: BUY_AND_HOLD
                      isComposite: false
                      comment: Changed benchmark for reason
                    historicalTreatment: COMBINED_AS_SINGLE_SERIES
              holdings:
                primary:
                  portfolio:
                    type: Account
                    id: 6e16cf84-3733-4382-93e1-f88066b4239a
                  modifier: BUY_AND_HOLD
                  isSpar: false
                  isComposite: false
                  comment: Changed benchmark for reason
                historicalTreatment: COMBINED_AS_SINGLE_SERIES
            analytics:
              userDefinedValues:
                - value: A user defined value
                  field:
                    type: UserDefinedField
                    id: 948a076c-b7da-46f7-a476-a61c2d85241d
              currency:
                iso: USD
      required:
        - data
    createAccountCompositeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
                - AccountComposite
              nullable: false
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              nullable: false
              description: Unique identifier for this metadata file.
              example: 9a030822-d1ee-4fc0-a598-75e65d1512fd
            display:
              type: string
              nullable: false
              description: The GUI path of this file, including the name and extension.
              example: Client:EXAMPLE.ACTM
            path:
              type: string
              nullable: false
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              nullable: false
              description: Name of this file object including the extension.
              example: EXAMPLE.ACTM
          nullable: false
      nullable: true
    listAccountCompositeResponse:
      type: object
      properties:
        data:
          type: array
          items:
            type: object
            properties:
              type:
                type: string
                enum:
                  - AccountComposite
                nullable: false
                description: Metadata file type formatted for consistency with the REST api
              id:
                type: string
                nullable: false
                description: Unique identifier for this metadata file.
                example: 9a030822-d1ee-4fc0-a598-75e65d1512fd
              display:
                type: string
                nullable: false
                description: The GUI path of this file, including the name and extension.
                example: Client:EXAMPLE.ACTM
              path:
                type: string
                nullable: false
                description: The GUI path to this object.
                example: 'Client:'
              name:
                type: string
                nullable: false
                description: Name of this file object including the extension.
                example: EXAMPLE.ACTM
              description:
                type: string
                nullable: true
                description: User provided description of this file.
                example: Domestic equity composite
            nullable: false
        meta:
          type: object
          properties:
            pagination:
              type: object
              properties:
                next:
                  type: string
                  nullable: true
                  example: YwAAAA==
                previous:
                  type: string
                  nullable: true
                  example: AAAAAA==
              nullable: false
      nullable: true
    readAccountCompositeResponse:
      type: object
      properties:
        data:
          type: object
          properties:
            type:
              type: string
              enum:
                - AccountComposite
              nullable: false
              description: Metadata file type formatted for consistency with the REST api
            id:
              type: string
              nullable: false
              description: Unique identifier for this metadata file.
              example: 9a030822-d1ee-4fc0-a598-75e65d1512fd
            display:
              type: string
              nullable: false
              description: The GUI path of this file, including the name and extension.
              example: Client:EXAMPLE.ACTM
            path:
              type: string
              nullable: false
              description: The GUI path to this object.
              example: 'Client:'
            name:
              type: string
              nullable: false
              description: Name of this file object including the extension.
              example: EXAMPLE.ACTM
            description:
              type: string
              nullable: true
              description: User provided description of this file.
              example: Domestic equity composite
            dataCatalog:
              type: object
              properties:
                holdings:
                  type: object
                  properties:
                    type:
                      type: string
                      enum:
                        - BLENDED
                        - FIXED_DOLLAR
                        - FLOATING
                        - GIPS
                        - SIMPLE
                      nullable: false
                      description: >-
                        The type of composite.  Determines how component weights
                        are interpreted
                    methodology:
                      type: string
                      enum:
                        - BUY_AND_HOLD
                        - ORDER_MANAGMENT_SYSTEM
                        - TRANSACTIONS
                      nullable: false
                      description: >-
                        The holdings methodology to apply when reading this
                        account's holdings data.
                    rebalance:
                      type: object
                      properties:
                        frequency:
                          type: string
                          enum:
                            - ANNUALLY
                            - BUY_AND_HOLD
                            - WEEKLY
                            - MONTHLY
                            - QUARTERLY
                            - SEMI_ANNUALLY
                            - CONSTANTLY
                            - DAILY
                          nullable: false
                        start:
                          type: string
                          enum:
                            - SPECIFIC_POINT
                            - LATEST_FREQUENCY_END
                            - REPORT_START_DATE
                          nullable: false
                        month:
                          type: string
                          enum:
                            - APRIL
                            - AUGUST
                            - DECEMBER
                            - FEBRUARY
                            - JANUARY
                            - JULY
                            - JUNE
                            - MARCH
                            - MAY
                            - NOVEMBER
                            - OCTOBER
                            - SEPTEMBER
                          nullable: false
                        dayOfMonth:
                          type: string
                          nullable: false
                        date:
                          type: string
                          nullable: false
                        quarters:
                          type: string
                          enum:
                            - FEBRUARY_MAY_AUGUST_NOVEMBER
                            - JANUARY_APRIL_JULY_OCTOBER
                            - MARCH_JUNE_SEPTEMBER_DECEMBER
                          nullable: false
                        useActualFrequencies:
                          type: boolean
                          nullable: false
                        periods:
                          type: string
                          enum:
                            - APRIL_OCTOBER
                            - FEBRUARY_AUGUST
                            - JANUARY_JULY
                            - JUNE_DECEMBER
                            - MARCH_SEPTEMBER
                            - MAY_NOVEMBER
                          nullable: false
                        dayOfWeek:
                          type: string
                          enum:
                            - FRIDAY
                            - MONDAY
                            - SATURDAY
                            - SUNDAY
                            - THURSDAY
                            - TUESDAY
                            - WEDNESDAY
                          nullable: false
                      nullable: false
                      description: >-
                        Settings used to determine how a composite's components
                        are rebalanced.
                      example:
                        frequency: DAILY
                    components:
                      type: object
                      properties:
                        all:
                          type: array
                          items:
                            type: object
                            properties:
                              startDate:
                                type: string
                                nullable: false
                                description: >-
                                  First date the data is valid.  If using the
                                  EARLIEST date in the report, this

                                  will be set to 0000-01-01
                                example: '2022-01-01'
                              endDate:
                                type: string
                                nullable: false
                                description: >-
                                  Last date the data is valid.  If using the
                                  LATEST date in the report, this

                                  will be set to 9999-12-31
                                example: '2022-01-31'
                              weight:
                                type: number
                                nullable: false
                                example: 10
                              isSpar:
                                type: boolean
                                nullable: false
                              portfolio:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    enum:
                                      - Account
                                      - AccountComposite
                                      - Forbidden
                                      - HoldingsComposite
                                      - Returns
                                      - ReturnsComposite
                                      - Vendor
                                    nullable: false
                                    description: >-
                                      Metadata file type formatted for
                                      consistency with the REST api
                                  id:
                                    type: string
                                    nullable: false
                                    description: Unique identifier for this metadata file.
                                    example: BENCH:SP50
                                  display:
                                    type: string
                                    nullable: false
                                    description: String suitable for display in a UI.
                                    example: Client:EXAMPLE.CSTM
                                nullable: false
                            nullable: false
                          description: Raw component, time range list
                      nullable: false
                      description: >-
                        A holdings portfolio or vendor benchmark to use as this
                        accounts's holdings

                        data.
                  nullable: true
                  description: >-
                    Describes the location of the account's holdings data
                    containers.
                returns:
                  type: object
                  properties:
                    primaryType:
                      type: string
                      enum:
                        - CAPITAL
                        - GROSS
                        - NET
                        - NET_AFTER_TAX
                        - NET_INCOME
                        - OTHER_1
                        - OTHER_2
                        - OTHER_3
                        - OTHER_4
                        - PRIVATE_EQUITY_GROSS
                        - PRIVATE_EQUITY_NET
                        - REAL_ESTATE_TOTAL
                      nullable: false
                      description: >-
                        The type of the default return series portfolio used for
                        this account.
                      example: NET
                    net:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the NET returns portfolio directly.  NOTE:
                        this portfolio is

                        included in the portfolios field above as well.
                    gross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the GROSS returns portfolio directly. 
                        NOTE: this portfolio is

                        included in the portfolios field above as well.
                    other1:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the OTHER1 returns portfolio directly. 
                        NOTE: this portfolio is

                        included in the portfolios field above as well.
                    other2:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the OTHER2 returns portfolio directly. 
                        NOTE: this portfolio is

                        included in the portfolios field above as well.
                    other3:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the OTHER3 returns portfolio directly. 
                        NOTE: this portfolio is

                        included in the portfolios field above as well.
                    other4:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the OTHER4 returns portfolio directly. 
                        NOTE: this portfolio is

                        included in the portfolios field above as well.
                    netAfterTax:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the NET_AFTER_TAX returns portfolio
                        directly.  NOTE: this

                        portfolio is included in the portfolios field above as
                        well.
                    netIncome:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the NET_INCOME returns portfolio directly. 
                        NOTE: this portfolio

                        is included in the portfolios field above as well.
                    capital:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the CAPITAL returns portfolio directly. 
                        NOTE: this portfolio is

                        included in the portfolios field above as well.
                    realEstateTotal:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the REAL_ESTATE_TOTAL returns portfolio
                        directly.  NOTE: this

                        portfolio is included in the portfolios field above as
                        well.
                    privateEquityGross:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
                              nullable: false
                              description: Unique identifier for this metadata file.
                              example: BENCH:SP50
                            display:
                              type: string
                              nullable: false
                              description: String suitable for display in a UI.
                              example: Client:EXAMPLE.CSTM
                          nullable: false
                      nullable: true
                      description: >-
                        Reference to the PRIVATE_EQUITY_GROSS returns portfolio
                        directly.  NOTE: this

                        portfolio is included in the portfolios field above as
                        well.
                    privateEquityNet:
                      type: object
                      properties:
                        portfolio:
                          type: object
                          properties:
                            type:
                              type: string
                              enum:
                                - Account
                                - AccountComposite
                                - Forbidden
                                - Returns
                                - ReturnsComposite
                                - Vendor
                              nullable: false
                              description: >-
                                Metadata file type formatted for consistency
                                with the REST api
                            id:
                              type: string
[...]
