openapi: 3.0.0
info:
  title: Stripe Invoice API
  description: Needs description.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
security:
  - basicAuth: []
  - bearerAuth: []
servers:
  - url: https://api.stripe.com/
paths:
  /v1/invoiceitems:
    get:
      description: >-
        <p>Returns a list of your invoice items. Invoice items are returned
        sorted by creation date, with the most recently created invoice items
        appearing first.</p>
      operationId: GetInvoiceitems
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            The identifier of the customer whose invoice items to return. If
            none is provided, all invoice items will be returned.
          in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            Only return invoice items belonging to this invoice. If none is
            provided, all invoice items will be returned. If specifying an
            invoice, no customer identifier is needed.
          in: query
          name: invoice
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            Set to `true` to only show pending invoice items, which are not yet
            attached to any invoices. Set to `false` to only show invoice items
            already attached to invoices. If unspecified, no filter is applied.
          in: query
          name: pending
          required: false
          schema:
            type: boolean
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoiceitemsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/InvoicesItemsList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Creates an item to be added to a draft invoice (up to 250 items per
        invoice). If no invoice is specified, the item will be on the next
        invoice created for the customer specified.</p>
      operationId: PostInvoiceitems
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              discounts:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              period:
                explode: true
                style: deepObject
              price_data:
                explode: true
                style: deepObject
              tax_code:
                explode: true
                style: deepObject
              tax_rates:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoiceitemsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceitem'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoiceitems/{invoiceitem}:
    delete:
      description: >-
        <p>Deletes an invoice item, removing it from an invoice. Deleting
        invoice items is only possible when they’re not attached to invoices, or
        if it’s attached to a draft invoice.</p>
      operationId: DeleteInvoiceitemsInvoiceitem
      parameters:
        - in: path
          name: invoiceitem
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/DeleteInvoiceitemsInvoiceitemRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleted_invoiceitem'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    get:
      description: <p>Retrieves the invoice item with the given ID.</p>
      operationId: GetInvoiceitemsInvoiceitem
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: invoiceitem
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoiceitemsInvoiceitemRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceitem'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the amount or description of an invoice item on an upcoming
        invoice. Updating an invoice item is only possible before the invoice
        it’s attached to is closed.</p>
      operationId: PostInvoiceitemsInvoiceitem
      parameters:
        - in: path
          name: invoiceitem
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              discounts:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              period:
                explode: true
                style: deepObject
              price_data:
                explode: true
                style: deepObject
              tax_code:
                explode: true
                style: deepObject
              tax_rates:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoiceitemsInvoiceitemRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoiceitem'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices:
    get:
      description: >-
        <p>You can list all invoices, or list the invoices for a specific
        customer. The invoices are returned sorted by creation date, with the
        most recently created invoices appearing first.</p>
      operationId: GetInvoices
      parameters:
        - description: >-
            The collection method of the invoice to retrieve. Either
            `charge_automatically` or `send_invoice`.
          in: query
          name: collection_method
          required: false
          schema:
            enum:
              - charge_automatically
              - send_invoice
            type: string
          style: form
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: Only return invoices for the customer specified by this customer ID.
          in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - explode: true
          in: query
          name: due_date
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            The status of the invoice, one of `draft`, `open`, `paid`,
            `uncollectible`, or `void`. [Learn
            more](https://stripe.com/docs/billing/invoices/workflow#workflow-overview)
          in: query
          name: status
          required: false
          schema:
            enum:
              - draft
              - open
              - paid
              - uncollectible
              - void
            type: string
            x-stripeBypassValidation: true
          style: form
        - description: >-
            Only return invoices for the subscription specified by this
            subscription ID.
          in: query
          name: subscription
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoicesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/InvoicesList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>This endpoint creates a draft invoice for a given customer. The
        invoice remains a draft until you <a
        href="#finalize_invoice">finalize</a> the invoice, which allows you to
        <a href="#pay_invoice">pay</a> or <a href="#send_invoice">send</a> the
        invoice to your customers.</p>
      operationId: PostInvoices
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              account_tax_ids:
                explode: true
                style: deepObject
              automatic_tax:
                explode: true
                style: deepObject
              custom_fields:
                explode: true
                style: deepObject
              default_tax_rates:
                explode: true
                style: deepObject
              discounts:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              from_invoice:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              payment_settings:
                explode: true
                style: deepObject
              rendering:
                explode: true
                style: deepObject
              shipping_cost:
                explode: true
                style: deepObject
              shipping_details:
                explode: true
                style: deepObject
              transfer_data:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/search:
    get:
      description: >-
        <p>Search for invoices you’ve previously created using Stripe’s <a
        href="/docs/search#search-query-language">Search Query Language</a>.

        Don’t use search in read-after-write flows where strict consistency is
        necessary. Under normal operating

        conditions, data is searchable in less than a minute. Occasionally,
        propagation of new or updated data can be up

        to an hour behind during outages. Search functionality is not available
        to merchants in India.</p>
      operationId: GetInvoicesSearch
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for pagination across multiple pages of results. Don't
            include this parameter on the first call. Use the next_page value
            returned in a previous response to request subsequent results.
          in: query
          name: page
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            The search query string. See [search query
            language](https://stripe.com/docs/search#search-query-language) and
            the list of supported [query fields for
            invoices](https://stripe.com/docs/search#query-fields-for-invoices).
          in: query
          name: query
          required: true
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoicesSearchRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/SearchResult'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/upcoming:
    get:
      description: >-
        <p>At any time, you can preview the upcoming invoice for a customer.
        This will show you all the charges that are pending, including
        subscription renewal charges, invoice item charges, etc. It will also
        show you any discounts that are applicable to the invoice.</p>


        <p>Note that when you are viewing an upcoming invoice, you are simply
        viewing a preview – the invoice has not yet been created. As such, the
        upcoming invoice will not show up in invoice listing calls, and you
        cannot use the API to pay or edit the invoice. If you want to change the
        amount that your customer will be billed, you can add, remove, or update
        pending invoice items, or update the customer’s discount.</p>


        <p>You can preview the effects of updating a subscription, including a
        preview of what proration will take place. To ensure that the actual
        proration is calculated exactly the same as the previewed proration, you
        should pass a <code>proration_date</code> parameter when doing the
        actual subscription update. The value passed in should be the same as
        the <code>subscription_proration_date</code> returned on the upcoming
        invoice resource. The recommended way to get only the prorations being
        previewed is to consider only proration line items where
        <code>period[start]</code> is equal to the
        <code>subscription_proration_date</code> on the upcoming invoice
        resource.</p>
      operationId: GetInvoicesUpcoming
      parameters:
        - description: Settings for automatic tax lookup for this invoice preview.
          explode: true
          in: query
          name: automatic_tax
          required: false
          schema:
            properties:
              enabled:
                type: boolean
            required:
              - enabled
            title: automatic_tax_param
            type: object
          style: deepObject
        - description: >-
            The code of the coupon to apply. If `subscription` or
            `subscription_items` is provided, the invoice returned will preview
            updating or creating a subscription with that coupon. Otherwise, it
            will preview applying that coupon to the customer for the next
            upcoming invoice from among the customer's subscriptions. The
            invoice can be previewed without a coupon by passing this value as
            an empty string.
          in: query
          name: coupon
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            The currency to preview this invoice in. Defaults to that of
            `customer` if not specified.
          in: query
          name: currency
          required: false
          schema:
            type: string
          style: form
        - description: >-
            The identifier of the customer whose upcoming invoice you'd like to
            retrieve. If `automatic_tax` is enabled then one of `customer`,
            `customer_details`, `subscription`, or `schedule` must be set.
          in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Details about the customer you want to invoice or overrides for an
            existing customer. If `automatic_tax` is enabled then one of
            `customer`, `customer_details`, `subscription`, or `schedule` must
            be set.
          explode: true
          in: query
          name: customer_details
          required: false
          schema:
            properties:
              address:
                anyOf:
                  - properties:
                      city:
                        maxLength: 5000
                        type: string
                      country:
                        maxLength: 5000
                        type: string
                      line1:
                        maxLength: 5000
                        type: string
                      line2:
                        maxLength: 5000
                        type: string
                      postal_code:
                        maxLength: 5000
                        type: string
                      state:
                        maxLength: 5000
                        type: string
                    title: optional_fields_address
                    type: object
                  - enum:
                      - ''
                    type: string
              shipping:
                anyOf:
                  - properties:
                      address:
                        properties:
                          city:
                            maxLength: 5000
                            type: string
                          country:
                            maxLength: 5000
                            type: string
                          line1:
                            maxLength: 5000
                            type: string
                          line2:
                            maxLength: 5000
                            type: string
                          postal_code:
                            maxLength: 5000
                            type: string
                          state:
                            maxLength: 5000
                            type: string
                        title: optional_fields_address
                        type: object
                      name:
                        maxLength: 5000
                        type: string
                      phone:
                        maxLength: 5000
                        type: string
                    required:
                      - address
                      - name
                    title: customer_shipping
                    type: object
                  - enum:
                      - ''
                    type: string
              tax:
                properties:
                  ip_address:
                    anyOf:
                      - type: string
                      - enum:
                          - ''
                        type: string
                title: tax_param
                type: object
              tax_exempt:
                enum:
                  - ''
                  - exempt
                  - none
                  - reverse
                type: string
              tax_ids:
                items:
                  properties:
                    type:
                      enum:
                        - ad_nrt
                        - ae_trn
                        - ar_cuit
                        - au_abn
                        - au_arn
                        - bg_uic
                        - bo_tin
                        - br_cnpj
                        - br_cpf
                        - ca_bn
                        - ca_gst_hst
                        - ca_pst_bc
                        - ca_pst_mb
                        - ca_pst_sk
                        - ca_qst
                        - ch_vat
                        - cl_tin
                        - cn_tin
                        - co_nit
                        - cr_tin
                        - do_rcn
                        - ec_ruc
                        - eg_tin
                        - es_cif
                        - eu_oss_vat
                        - eu_vat
                        - gb_vat
                        - ge_vat
                        - hk_br
                        - hu_tin
                        - id_npwp
                        - il_vat
                        - in_gst
                        - is_vat
                        - jp_cn
                        - jp_rn
                        - jp_trn
                        - ke_pin
                        - kr_brn
                        - li_uid
                        - mx_rfc
                        - my_frp
                        - my_itn
                        - my_sst
                        - no_vat
                        - nz_gst
                        - pe_ruc
                        - ph_tin
                        - ro_tin
                        - rs_pib
                        - ru_inn
                        - ru_kpp
                        - sa_vat
                        - sg_gst
                        - sg_uen
                        - si_tin
                        - sv_nit
                        - th_vat
                        - tr_tin
                        - tw_vat
                        - ua_vat
                        - us_ein
                        - uy_ruc
                        - ve_rif
                        - vn_tin
                        - za_vat
                      maxLength: 5000
                      type: string
                      x-stripeBypassValidation: true
                    value:
                      type: string
                  required:
                    - type
                    - value
                  title: data_params
                  type: object
                type: array
            title: customer_details_param
            type: object
          style: deepObject
        - description: >-
            The coupons to redeem into discounts for the invoice preview. If not
            specified, inherits the discount from the customer or subscription.
            This only works for coupons directly applied to the invoice. To
            apply a coupon to a subscription, you must use the `coupon`
            parameter instead. Pass an empty string to avoid inheriting any
            discounts. To preview the upcoming invoice for a subscription that
            hasn't been created, use `coupon` instead.
          explode: true
          in: query
          name: discounts
          required: false
          schema:
            anyOf:
              - items:
                  properties:
                    coupon:
                      maxLength: 5000
                      type: string
                    discount:
                      maxLength: 5000
                      type: string
                  title: discounts_data_param
                  type: object
                type: array
              - enum:
                  - ''
                type: string
          style: deepObject
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            List of invoice items to add or update in the upcoming invoice
            preview.
          explode: true
          in: query
          name: invoice_items
          required: false
          schema:
            items:
              properties:
                amount:
                  type: integer
                currency:
                  type: string
                description:
                  maxLength: 5000
                  type: string
                discountable:
                  type: boolean
                discounts:
                  anyOf:
                    - items:
                        properties:
                          coupon:
                            maxLength: 5000
                            type: string
                          discount:
                            maxLength: 5000
                            type: string
                        title: discounts_data_param
                        type: object
                      type: array
                    - enum:
                        - ''
                      type: string
                invoiceitem:
                  maxLength: 5000
                  type: string
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ''
                      type: string
                period:
                  properties:
                    end:
                      format: unix-time
                      type: integer
                    start:
                      format: unix-time
                      type: integer
                  required:
                    - end
                    - start
                  title: period
                  type: object
                price:
                  maxLength: 5000
                  type: string
                price_data:
                  properties:
                    currency:
                      type: string
                    product:
                      maxLength: 5000
                      type: string
                    tax_behavior:
                      enum:
                        - exclusive
                        - inclusive
                        - unspecified
                      type: string
                    unit_amount:
                      type: integer
                    unit_amount_decimal:
                      format: decimal
                      type: string
                  required:
                    - currency
                    - product
                  title: one_time_price_data
                  type: object
                quantity:
                  type: integer
                tax_behavior:
                  enum:
                    - exclusive
                    - inclusive
                    - unspecified
                  type: string
                tax_code:
                  anyOf:
                    - type: string
                    - enum:
                        - ''
                      type: string
                tax_rates:
                  anyOf:
                    - items:
                        maxLength: 5000
                        type: string
                      type: array
                    - enum:
                        - ''
                      type: string
                unit_amount:
                  type: integer
                unit_amount_decimal:
                  format: decimal
                  type: string
              title: invoice_item_preview_params
              type: object
            type: array
          style: deepObject
        - description: >-
            The identifier of the schedule whose upcoming invoice you'd like to
            retrieve. Cannot be used with subscription or subscription fields.
          in: query
          name: schedule
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            The identifier of the subscription for which you'd like to retrieve
            the upcoming invoice. If not provided, but a `subscription_items` is
            provided, you will preview creating a subscription with those items.
            If neither `subscription` nor `subscription_items` is provided, you
            will retrieve the next upcoming invoice from among the customer's
            subscriptions.
          in: query
          name: subscription
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            For new subscriptions, a future timestamp to anchor the
            subscription's [billing
            cycle](https://stripe.com/docs/subscriptions/billing-cycle). This is
            used to determine the date of the first full invoice, and, for plans
            with `month` or `year` intervals, the day of the month for
            subsequent invoices. For existing subscriptions, the value can only
            be set to `now` or `unchanged`.
          explode: true
          in: query
          name: subscription_billing_cycle_anchor
          required: false
          schema:
            anyOf:
              - enum:
                  - now
                  - unchanged
                maxLength: 5000
                type: string
              - format: unix-time
                type: integer
          style: deepObject
        - description: >-
            A timestamp at which the subscription should cancel. If set to a
            date before the current period ends, this will cause a proration if
            prorations have been enabled using `proration_behavior`. If set
            during a future period, this will always cause a proration for that
            period.
          explode: true
          in: query
          name: subscription_cancel_at
          required: false
          schema:
            anyOf:
              - format: unix-time
                type: integer
              - enum:
                  - ''
                type: string
          style: deepObject
        - description: >-
            Boolean indicating whether this subscription should cancel at the
            end of the current period.
          in: query
          name: subscription_cancel_at_period_end
          required: false
          schema:
            type: boolean
          style: form
        - description: >-
            This simulates the subscription being canceled or expired
            immediately.
          in: query
          name: subscription_cancel_now
          required: false
          schema:
            type: boolean
          style: form
        - description: >-
            If provided, the invoice returned will preview updating or creating
            a subscription with these default tax rates. The default tax rates
            will apply to any line item that does not have `tax_rates` set.
          explode: true
          in: query
          name: subscription_default_tax_rates
          required: false
          schema:
            anyOf:
              - items:
                  maxLength: 5000
                  type: string
                type: array
              - enum:
                  - ''
                type: string
          style: deepObject
        - description: A list of up to 20 subscription items, each with an attached price.
          explode: true
          in: query
          name: subscription_items
          required: false
          schema:
            items:
              properties:
                billing_thresholds:
                  anyOf:
                    - properties:
                        usage_gte:
                          type: integer
                      required:
                        - usage_gte
                      title: item_billing_thresholds_param
                      type: object
                    - enum:
                        - ''
                      type: string
                clear_usage:
                  type: boolean
                deleted:
                  type: boolean
                id:
                  maxLength: 5000
                  type: string
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ''
                      type: string
                price:
                  maxLength: 5000
                  type: string
                price_data:
                  properties:
                    currency:
                      type: string
                    product:
                      maxLength: 5000
                      type: string
                    recurring:
                      properties:
                        interval:
                          enum:
                            - day
                            - month
                            - week
                            - year
                          type: string
                        interval_count:
                          type: integer
                      required:
                        - interval
                      title: recurring_adhoc
                      type: object
                    tax_behavior:
                      enum:
                        - exclusive
                        - inclusive
                        - unspecified
                      type: string
                    unit_amount:
                      type: integer
                    unit_amount_decimal:
                      format: decimal
                      type: string
                  required:
                    - currency
                    - product
                    - recurring
                  title: recurring_price_data
                  type: object
                quantity:
                  type: integer
                tax_rates:
                  anyOf:
                    - items:
                        maxLength: 5000
                        type: string
                      type: array
                    - enum:
                        - ''
                      type: string
              title: subscription_item_update_params
              type: object
            type: array
          style: deepObject
        - description: >-
            Determines how to handle
            [prorations](https://stripe.com/docs/subscriptions/billing-cycle#prorations)
            when the billing cycle changes (e.g., when switching plans,
            resetting `billing_cycle_anchor=now`, or starting a trial), or if an
            item's `quantity` changes. The default value is `create_prorations`.
          in: query
          name: subscription_proration_behavior
          required: false
          schema:
            enum:
              - always_invoice
              - create_prorations
              - none
            type: string
          style: form
        - description: >-
            If previewing an update to a subscription, and doing proration,
            `subscription_proration_date` forces the proration to be calculated
            as though the update was done at the specified time. The time given
            must be within the current subscription period and within the
            current phase of the schedule backing this subscription, if the
            schedule exists. If set, `subscription`, and one of
            `subscription_items`, or `subscription_trial_end` are required.
            Also, `subscription_proration_behavior` cannot be set to 'none'.
          in: query
          name: subscription_proration_date
          required: false
          schema:
            format: unix-time
            type: integer
          style: form
        - description: >-
            For paused subscriptions, setting `subscription_resume_at` to `now`
            will preview the invoice that will be generated if the subscription
            is resumed.
          in: query
          name: subscription_resume_at
          required: false
          schema:
            enum:
              - now
            maxLength: 5000
            type: string
          style: form
        - description: Date a subscription is intended to start (can be future or past).
          in: query
          name: subscription_start_date
          required: false
          schema:
            format: unix-time
            type: integer
          style: form
        - description: >-
            If provided, the invoice returned will preview updating or creating
            a subscription with that trial end. If set, one of
            `subscription_items` or `subscription` is required.
          explode: true
          in: query
          name: subscription_trial_end
          required: false
          schema:
            anyOf:
              - enum:
                  - now
                maxLength: 5000
                type: string
              - format: unix-time
                type: integer
          style: deepObject
        - description: >-
            Indicates if a plan's `trial_period_days` should be applied to the
            subscription. Setting `subscription_trial_end` per subscription is
            preferred, and this defaults to `false`. Setting this flag to `true`
            together with `subscription_trial_end` is not allowed. See [Using
            trial periods on
            subscriptions](https://stripe.com/docs/billing/subscriptions/trials)
            to learn more.
          in: query
          name: subscription_trial_from_plan
          required: false
          schema:
            type: boolean
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoicesUpcomingRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/upcoming/lines:
    get:
      description: >-
        <p>When retrieving an upcoming invoice, you’ll get a
        <strong>lines</strong> property containing the total count of line items
        and the first handful of those items. There is also a URL where you can
        retrieve the full (paginated) list of line items.</p>
      operationId: GetInvoicesUpcomingLines
      parameters:
        - description: Settings for automatic tax lookup for this invoice preview.
          explode: true
          in: query
          name: automatic_tax
          required: false
          schema:
            properties:
              enabled:
                type: boolean
            required:
              - enabled
            title: automatic_tax_param
            type: object
          style: deepObject
        - description: >-
            The code of the coupon to apply. If `subscription` or
            `subscription_items` is provided, the invoice returned will preview
            updating or creating a subscription with that coupon. Otherwise, it
            will preview applying that coupon to the customer for the next
            upcoming invoice from among the customer's subscriptions. The
            invoice can be previewed without a coupon by passing this value as
            an empty string.
          in: query
          name: coupon
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            The currency to preview this invoice in. Defaults to that of
            `customer` if not specified.
          in: query
          name: currency
          required: false
          schema:
            type: string
          style: form
        - description: >-
            The identifier of the customer whose upcoming invoice you'd like to
            retrieve. If `automatic_tax` is enabled then one of `customer`,
            `customer_details`, `subscription`, or `schedule` must be set.
          in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Details about the customer you want to invoice or overrides for an
            existing customer. If `automatic_tax` is enabled then one of
            `customer`, `customer_details`, `subscription`, or `schedule` must
            be set.
          explode: true
          in: query
          name: customer_details
          required: false
          schema:
            properties:
              address:
                anyOf:
                  - properties:
                      city:
                        maxLength: 5000
                        type: string
                      country:
                        maxLength: 5000
                        type: string
                      line1:
                        maxLength: 5000
                        type: string
                      line2:
                        maxLength: 5000
                        type: string
                      postal_code:
                        maxLength: 5000
                        type: string
                      state:
                        maxLength: 5000
                        type: string
                    title: optional_fields_address
                    type: object
                  - enum:
                      - ''
                    type: string
              shipping:
                anyOf:
                  - properties:
                      address:
                        properties:
                          city:
                            maxLength: 5000
                            type: string
                          country:
                            maxLength: 5000
                            type: string
                          line1:
                            maxLength: 5000
                            type: string
                          line2:
                            maxLength: 5000
                            type: string
                          postal_code:
                            maxLength: 5000
                            type: string
                          state:
                            maxLength: 5000
                            type: string
                        title: optional_fields_address
                        type: object
                      name:
                        maxLength: 5000
                        type: string
                      phone:
                        maxLength: 5000
                        type: string
                    required:
                      - address
                      - name
                    title: customer_shipping
                    type: object
                  - enum:
                      - ''
                    type: string
              tax:
                properties:
                  ip_address:
                    anyOf:
                      - type: string
                      - enum:
                          - ''
                        type: string
                title: tax_param
                type: object
              tax_exempt:
                enum:
                  - ''
                  - exempt
                  - none
                  - reverse
                type: string
              tax_ids:
                items:
                  properties:
                    type:
                      enum:
                        - ad_nrt
                        - ae_trn
                        - ar_cuit
                        - au_abn
                        - au_arn
                        - bg_uic
                        - bo_tin
                        - br_cnpj
                        - br_cpf
                        - ca_bn
                        - ca_gst_hst
                        - ca_pst_bc
                        - ca_pst_mb
                        - ca_pst_sk
                        - ca_qst
                        - ch_vat
                        - cl_tin
                        - cn_tin
                        - co_nit
                        - cr_tin
                        - do_rcn
                        - ec_ruc
                        - eg_tin
                        - es_cif
                        - eu_oss_vat
                        - eu_vat
                        - gb_vat
                        - ge_vat
                        - hk_br
                        - hu_tin
                        - id_npwp
                        - il_vat
                        - in_gst
                        - is_vat
                        - jp_cn
                        - jp_rn
                        - jp_trn
                        - ke_pin
                        - kr_brn
                        - li_uid
                        - mx_rfc
                        - my_frp
                        - my_itn
                        - my_sst
                        - no_vat
                        - nz_gst
                        - pe_ruc
                        - ph_tin
                        - ro_tin
                        - rs_pib
                        - ru_inn
                        - ru_kpp
                        - sa_vat
                        - sg_gst
                        - sg_uen
                        - si_tin
                        - sv_nit
                        - th_vat
                        - tr_tin
                        - tw_vat
                        - ua_vat
                        - us_ein
                        - uy_ruc
                        - ve_rif
                        - vn_tin
                        - za_vat
                      maxLength: 5000
                      type: string
                      x-stripeBypassValidation: true
                    value:
                      type: string
                  required:
                    - type
                    - value
                  title: data_params
                  type: object
                type: array
            title: customer_details_param
            type: object
          style: deepObject
        - description: >-
            The coupons to redeem into discounts for the invoice preview. If not
            specified, inherits the discount from the customer or subscription.
            This only works for coupons directly applied to the invoice. To
            apply a coupon to a subscription, you must use the `coupon`
            parameter instead. Pass an empty string to avoid inheriting any
            discounts. To preview the upcoming invoice for a subscription that
            hasn't been created, use `coupon` instead.
          explode: true
          in: query
          name: discounts
          required: false
          schema:
            anyOf:
              - items:
                  properties:
                    coupon:
                      maxLength: 5000
                      type: string
                    discount:
                      maxLength: 5000
                      type: string
                  title: discounts_data_param
                  type: object
                type: array
              - enum:
                  - ''
                type: string
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            List of invoice items to add or update in the upcoming invoice
            preview.
          explode: true
          in: query
          name: invoice_items
          required: false
          schema:
            items:
              properties:
                amount:
                  type: integer
                currency:
                  type: string
                description:
                  maxLength: 5000
                  type: string
                discountable:
                  type: boolean
                discounts:
                  anyOf:
                    - items:
                        properties:
                          coupon:
                            maxLength: 5000
                            type: string
                          discount:
                            maxLength: 5000
                            type: string
                        title: discounts_data_param
                        type: object
                      type: array
                    - enum:
                        - ''
                      type: string
                invoiceitem:
                  maxLength: 5000
                  type: string
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ''
                      type: string
                period:
                  properties:
                    end:
                      format: unix-time
                      type: integer
                    start:
                      format: unix-time
                      type: integer
                  required:
                    - end
                    - start
                  title: period
                  type: object
                price:
                  maxLength: 5000
                  type: string
                price_data:
                  properties:
                    currency:
                      type: string
                    product:
                      maxLength: 5000
                      type: string
                    tax_behavior:
                      enum:
                        - exclusive
                        - inclusive
                        - unspecified
                      type: string
                    unit_amount:
                      type: integer
                    unit_amount_decimal:
                      format: decimal
                      type: string
                  required:
                    - currency
                    - product
                  title: one_time_price_data
                  type: object
                quantity:
                  type: integer
                tax_behavior:
                  enum:
                    - exclusive
                    - inclusive
                    - unspecified
                  type: string
                tax_code:
                  anyOf:
                    - type: string
                    - enum:
                        - ''
                      type: string
                tax_rates:
                  anyOf:
                    - items:
                        maxLength: 5000
                        type: string
                      type: array
                    - enum:
                        - ''
                      type: string
                unit_amount:
                  type: integer
                unit_amount_decimal:
                  format: decimal
                  type: string
              title: invoice_item_preview_params
              type: object
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            The identifier of the schedule whose upcoming invoice you'd like to
            retrieve. Cannot be used with subscription or subscription fields.
          in: query
          name: schedule
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            The identifier of the subscription for which you'd like to retrieve
            the upcoming invoice. If not provided, but a `subscription_items` is
            provided, you will preview creating a subscription with those items.
            If neither `subscription` nor `subscription_items` is provided, you
            will retrieve the next upcoming invoice from among the customer's
            subscriptions.
          in: query
          name: subscription
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            For new subscriptions, a future timestamp to anchor the
            subscription's [billing
            cycle](https://stripe.com/docs/subscriptions/billing-cycle). This is
            used to determine the date of the first full invoice, and, for plans
            with `month` or `year` intervals, the day of the month for
            subsequent invoices. For existing subscriptions, the value can only
            be set to `now` or `unchanged`.
          explode: true
          in: query
          name: subscription_billing_cycle_anchor
          required: false
          schema:
            anyOf:
              - enum:
                  - now
                  - unchanged
                maxLength: 5000
                type: string
              - format: unix-time
                type: integer
          style: deepObject
        - description: >-
            A timestamp at which the subscription should cancel. If set to a
            date before the current period ends, this will cause a proration if
            prorations have been enabled using `proration_behavior`. If set
            during a future period, this will always cause a proration for that
            period.
          explode: true
          in: query
          name: subscription_cancel_at
          required: false
          schema:
            anyOf:
              - format: unix-time
                type: integer
              - enum:
                  - ''
                type: string
          style: deepObject
        - description: >-
            Boolean indicating whether this subscription should cancel at the
            end of the current period.
          in: query
          name: subscription_cancel_at_period_end
          required: false
          schema:
            type: boolean
          style: form
        - description: >-
            This simulates the subscription being canceled or expired
            immediately.
          in: query
          name: subscription_cancel_now
          required: false
          schema:
            type: boolean
          style: form
        - description: >-
            If provided, the invoice returned will preview updating or creating
            a subscription with these default tax rates. The default tax rates
            will apply to any line item that does not have `tax_rates` set.
          explode: true
          in: query
          name: subscription_default_tax_rates
          required: false
          schema:
            anyOf:
              - items:
                  maxLength: 5000
                  type: string
                type: array
              - enum:
                  - ''
                type: string
          style: deepObject
        - description: A list of up to 20 subscription items, each with an attached price.
          explode: true
          in: query
          name: subscription_items
          required: false
          schema:
            items:
              properties:
                billing_thresholds:
                  anyOf:
                    - properties:
                        usage_gte:
                          type: integer
                      required:
                        - usage_gte
                      title: item_billing_thresholds_param
                      type: object
                    - enum:
                        - ''
                      type: string
                clear_usage:
                  type: boolean
                deleted:
                  type: boolean
                id:
                  maxLength: 5000
                  type: string
                metadata:
                  anyOf:
                    - additionalProperties:
                        type: string
                      type: object
                    - enum:
                        - ''
                      type: string
                price:
                  maxLength: 5000
                  type: string
                price_data:
                  properties:
                    currency:
                      type: string
                    product:
                      maxLength: 5000
                      type: string
                    recurring:
                      properties:
                        interval:
                          enum:
                            - day
                            - month
                            - week
                            - year
                          type: string
                        interval_count:
                          type: integer
                      required:
                        - interval
                      title: recurring_adhoc
                      type: object
                    tax_behavior:
                      enum:
                        - exclusive
                        - inclusive
                        - unspecified
                      type: string
                    unit_amount:
                      type: integer
                    unit_amount_decimal:
                      format: decimal
                      type: string
                  required:
                    - currency
                    - product
                    - recurring
                  title: recurring_price_data
                  type: object
                quantity:
                  type: integer
                tax_rates:
                  anyOf:
                    - items:
                        maxLength: 5000
                        type: string
                      type: array
                    - enum:
                        - ''
                      type: string
              title: subscription_item_update_params
              type: object
            type: array
          style: deepObject
        - description: >-
            Determines how to handle
            [prorations](https://stripe.com/docs/subscriptions/billing-cycle#prorations)
            when the billing cycle changes (e.g., when switching plans,
            resetting `billing_cycle_anchor=now`, or starting a trial), or if an
            item's `quantity` changes. The default value is `create_prorations`.
          in: query
          name: subscription_proration_behavior
          required: false
          schema:
            enum:
              - always_invoice
              - create_prorations
              - none
            type: string
          style: form
        - description: >-
            If previewing an update to a subscription, and doing proration,
            `subscription_proration_date` forces the proration to be calculated
            as though the update was done at the specified time. The time given
            must be within the current subscription period and within the
            current phase of the schedule backing this subscription, if the
            schedule exists. If set, `subscription`, and one of
            `subscription_items`, or `subscription_trial_end` are required.
            Also, `subscription_proration_behavior` cannot be set to 'none'.
          in: query
          name: subscription_proration_date
          required: false
          schema:
            format: unix-time
            type: integer
          style: form
        - description: >-
            For paused subscriptions, setting `subscription_resume_at` to `now`
            will preview the invoice that will be generated if the subscription
            is resumed.
          in: query
          name: subscription_resume_at
          required: false
          schema:
            enum:
              - now
            maxLength: 5000
            type: string
          style: form
        - description: Date a subscription is intended to start (can be future or past).
          in: query
          name: subscription_start_date
          required: false
          schema:
            format: unix-time
            type: integer
          style: form
        - description: >-
            If provided, the invoice returned will preview updating or creating
            a subscription with that trial end. If set, one of
            `subscription_items` or `subscription` is required.
          explode: true
          in: query
          name: subscription_trial_end
          required: false
          schema:
            anyOf:
              - enum:
                  - now
                maxLength: 5000
                type: string
              - format: unix-time
                type: integer
          style: deepObject
        - description: >-
            Indicates if a plan's `trial_period_days` should be applied to the
            subscription. Setting `subscription_trial_end` per subscription is
            preferred, and this defaults to `false`. Setting this flag to `true`
            together with `subscription_trial_end` is not allowed. See [Using
            trial periods on
            subscriptions](https://stripe.com/docs/billing/subscriptions/trials)
            to learn more.
          in: query
          name: subscription_trial_from_plan
          required: false
          schema:
            type: boolean
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoicesUpcomingLinesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/InvoiceLinesList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}:
    delete:
      description: >-
        <p>Permanently deletes a one-off invoice draft. This cannot be undone.
        Attempts to delete invoices that are no longer in a draft state will
        fail; once an invoice has been finalized or if an invoice is for a
        subscription, it must be <a href="#void_invoice">voided</a>.</p>
      operationId: DeleteInvoicesInvoice
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/DeleteInvoicesInvoiceRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/deleted_invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    get:
      description: <p>Retrieves the invoice with the given ID.</p>
      operationId: GetInvoicesInvoice
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoicesInvoiceRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Draft invoices are fully editable. Once an invoice is <a
        href="/docs/billing/invoices/workflow#finalized">finalized</a>,

        monetary values, as well as <code>collection_method</code>, become
        uneditable.</p>


        <p>If you would like to stop the Stripe Billing engine from
        automatically finalizing, reattempting payments on,

        sending reminders for, or <a
        href="/docs/billing/invoices/reconciliation">automatically
        reconciling</a> invoices, pass

        <code>auto_advance=false</code>.</p>
      operationId: PostInvoicesInvoice
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              account_tax_ids:
                explode: true
                style: deepObject
              automatic_tax:
                explode: true
                style: deepObject
              custom_fields:
                explode: true
                style: deepObject
              default_source:
                explode: true
                style: deepObject
              default_tax_rates:
                explode: true
                style: deepObject
              discounts:
                explode: true
                style: deepObject
              effective_at:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              on_behalf_of:
                explode: true
                style: deepObject
              payment_settings:
                explode: true
                style: deepObject
              rendering:
                explode: true
                style: deepObject
              shipping_cost:
                explode: true
                style: deepObject
              shipping_details:
                explode: true
                style: deepObject
              transfer_data:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoiceRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/finalize:
    post:
      description: >-
        <p>Stripe automatically finalizes drafts before sending and attempting
        payment on invoices. However, if you’d like to finalize a draft invoice
        manually, you can do so using this method.</p>
      operationId: PostInvoicesInvoiceFinalize
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoiceFinalizeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/lines:
    get:
      description: >-
        <p>When retrieving an invoice, you’ll get a <strong>lines</strong>
        property containing the total count of line items and the first handful
        of those items. There is also a URL where you can retrieve the full
        (paginated) list of line items.</p>
      operationId: GetInvoicesInvoiceLines
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetInvoicesInvoiceLinesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/InvoiceLinesList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/lines/{line_item_id}:
    post:
      description: >-
        <p>Updates an invoice’s line item. Some fields, such as
        <code>tax_amounts</code>, only live on the invoice line item,

        so they can only be updated through this endpoint. Other fields, such as
        <code>amount</code>, live on both the invoice

        item and the invoice line item, so updates on this endpoint will
        propagate to the invoice item as well.

        Updating an invoice’s line item is only possible before the invoice is
        finalized.</p>
      operationId: PostInvoicesInvoiceLinesLineItemId
      parameters:
        - description: Invoice ID of line item
          in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Invoice line item ID
          in: path
          name: line_item_id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              discounts:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              period:
                explode: true
                style: deepObject
              price_data:
                explode: true
                style: deepObject
              tax_amounts:
                explode: true
                style: deepObject
              tax_rates:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoiceLinesLineItemIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/line_item'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/mark_uncollectible:
    post:
      description: >-
        <p>Marking an invoice as uncollectible is useful for keeping track of
        bad debts that can be written off for accounting purposes.</p>
      operationId: PostInvoicesInvoiceMarkUncollectible
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoiceMarkUncollectibleRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/pay:
    post:
      description: >-
        <p>Stripe automatically creates and then attempts to collect payment on
        invoices for customers on subscriptions according to your <a
        href="https://dashboard.stripe.com/account/billing/automatic">subscriptions
        settings</a>. However, if you’d like to attempt payment on an invoice
        out of the normal collection schedule or for some other reason, you can
        do so.</p>
      operationId: PostInvoicesInvoicePay
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              mandate:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoicePayRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/send:
    post:
      description: >-
        <p>Stripe will automatically send invoices to customers according to
        your <a
        href="https://dashboard.stripe.com/account/billing/automatic">subscriptions
        settings</a>. However, if you’d like to manually send an invoice to your
        customer out of the normal schedule, you can do so. When sending
        invoices that have already been paid, there will be no reference to the
        payment in the email.</p>


        <p>Requests made in test-mode result in no emails being sent, despite
        sending an <code>invoice.sent</code> event.</p>
      operationId: PostInvoicesInvoiceSend
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoiceSendRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/invoices/{invoice}/void:
    post:
      description: >-
        <p>Mark a finalized invoice as void. This cannot be undone. Voiding an
        invoice is similar to <a href="#delete_invoice">deletion</a>, however it
        only applies to finalized invoices and maintains a papertrail where the
        invoice can still be found.</p>
      operationId: PostInvoicesInvoiceVoid
      parameters:
        - in: path
          name: invoice
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostInvoicesInvoiceVoidRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/invoice'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
components:
  schemas:
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
        - error
      type: object
    invoiceitem:
      description: >-
        Invoice Items represent the component lines of an
        [invoice](https://stripe.com/docs/api/invoices). An invoice item is
        added to an

        invoice by creating or updating it with an `invoice` field, at which
        point it will be included as

        [an invoice line item](https://stripe.com/docs/api/invoices/line_item)
        within

        [invoice.lines](https://stripe.com/docs/api/invoices/object#invoice_object-lines).


        Invoice Items can be created before you are ready to actually send the
        invoice. This can be particularly useful when combined

        with a [subscription](https://stripe.com/docs/api/subscriptions).
        Sometimes you want to add a charge or credit to a customer, but actually
        charge

        or credit the customer’s card only at the end of a regular billing
        cycle. This is useful for combining several charges

        (to minimize per-transaction fees), or for having Stripe tabulate your
        usage-based billing totals.


        Related guides: [Integrate with the Invoicing
        API](https://stripe.com/docs/invoicing/integration), [Subscription
        Invoices](https://stripe.com/docs/billing/invoices/subscription#adding-upcoming-invoice-items).
      properties:
        amount:
          description: >-
            Amount (in the `currency` specified) of the invoice item. This
            should always be equal to `unit_amount * quantity`.
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        customer:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/customer'
            - $ref: '#/components/schemas/deleted_customer'
          description: >-
            The ID of the customer who will be billed when this invoice item is
            billed.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/customer'
              - $ref: '#/components/schemas/deleted_customer'
        date:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        description:
          description: >-
            An arbitrary string attached to the object. Often useful for
            displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        discountable:
          description: >-
            If true, discounts will apply to this invoice item. Always false for
            prorations.
          type: boolean
        discounts:
          description: >-
            The discounts which apply to the invoice item. Item discounts are
            applied before invoice discounts. Use `expand[]=discounts` to expand
            each discount.
          items:
            anyOf:
              - maxLength: 5000
                type: string
              - $ref: '#/components/schemas/discount'
            x-expansionResources:
              oneOf:
                - $ref: '#/components/schemas/discount'
          nullable: true
          type: array
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        invoice:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/invoice'
          description: The ID of the invoice this invoice item belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/invoice'
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          nullable: true
          type: object
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - invoiceitem
          type: string
        period:
          $ref: '#/components/schemas/invoice_line_item_period'
        price:
          anyOf:
            - $ref: '#/components/schemas/price'
          description: The price of the invoice item.
          nullable: true
        proration:
          description: >-
            Whether the invoice item was created automatically as a proration
            adjustment when the customer switched plans.
          type: boolean
        quantity:
          description: >-
            Quantity of units for the invoice item. If the invoice item is a
            proration, the quantity of the subscription that the proration was
            computed for.
          type: integer
        subscription:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/subscription'
          description: >-
            The subscription that this invoice item has been created for, if
            any.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/subscription'
        subscription_item:
          description: >-
            The subscription item that this invoice item has been created for,
            if any.
          maxLength: 5000
          type: string
        tax_rates:
          description: >-
            The tax rates which apply to the invoice item. When set, the
            `default_tax_rates` on the invoice do not apply to this invoice
            item.
          items:
            $ref: '#/components/schemas/tax_rate'
          nullable: true
          type: array
        test_clock:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/test_helpers.test_clock'
          description: ID of the test clock this invoice item belongs to.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/test_helpers.test_clock'
        unit_amount:
          description: Unit amount (in the `currency` specified) of the invoice item.
          nullable: true
          type: integer
        unit_amount_decimal:
          description: >-
            Same as `unit_amount`, but contains a decimal value with at most 12
            decimal places.
          format: decimal
          nullable: true
          type: string
      required:
        - amount
        - currency
        - customer
        - date
        - discountable
        - id
        - livemode
        - object
        - period
        - proration
        - quantity
      title: InvoiceItem
      type: object
      x-expandableFields:
        - customer
        - discounts
        - invoice
        - period
        - price
        - subscription
        - tax_rates
        - test_clock
      x-resourceId: invoiceitem
    deleted_invoiceitem:
      description: ''
      properties:
        deleted:
          description: Always true for a deleted object
          enum:
            - true
          type: boolean
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - invoiceitem
          type: string
      required:
        - deleted
        - id
        - object
      title: DeletedInvoiceItem
      type: object
      x-expandableFields: []
      x-resourceId: deleted_invoiceitem
    invoice:
      description: >-
        Invoices are statements of amounts owed by a customer, and are either

        generated one-off, or generated periodically from a subscription.


        They contain [invoice items](https://stripe.com/docs/api#invoiceitems),
        and proration adjustments

        that may be caused by subscription upgrades/downgrades (if necessary).


        If your invoice is configured to be billed through automatic charges,

        Stripe automatically finalizes your invoice and attempts payment. Note

        that finalizing the invoice,

        [when
        automatic](https://stripe.com/docs/invoicing/integration/automatic-advancement-collection),
        does

        not happen immediately as the invoice is created. Stripe waits

        until one hour after the last webhook was successfully sent (or the last

        webhook timed out after failing). If you (and the platforms you may have

        connected to) have no webhooks configured, Stripe waits one hour after

        creation to finalize the invoice.


        If your invoice is configured to be billed by sending an email, then
        based on your

        [email
        settings](https://dashboard.stripe.com/account/billing/automatic),

        Stripe will email the invoice to your customer and await payment. These

        emails can contain a link to a hosted page to pay the invoice.


        Stripe applies any customer credit on the account before determining the

        amount due for the invoice (i.e., the amount that will be actually

        charged). If the amount due for the invoice is less than Stripe's
        [minimum allowed charge

        per currency](/docs/currencies#minimum-and-maximum-charge-amounts), the

        invoice is automatically marked paid, and we add the amount due to the

        customer's credit balance which is applied to the next invoice.


        More details on the customer's credit balance are

[...]
