openapi: 3.0.0
info:
  title: Stripe Issuing API
  description: Needs description.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
security:
  - basicAuth: []
  - bearerAuth: []
servers:
  - url: https://api.stripe.com/
paths:
  /v1/issuing/authorizations:
    get:
      description: >-
        <p>Returns a list of Issuing <code>Authorization</code> objects. The
        objects are sorted in descending order by creation date, with the most
        recently created object appearing first.</p>
      operationId: GetIssuingAuthorizations
      parameters:
        - description: Only return authorizations that belong to the given card.
          in: query
          name: card
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return authorizations that belong to the given cardholder.
          in: query
          name: cardholder
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return authorizations that were created during the given date
            interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return authorizations with the given status. One of `pending`,
            `closed`, or `reversed`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - closed
              - pending
              - reversed
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingAuthorizationsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingAuthorizationList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/authorizations/{authorization}:
    get:
      description: <p>Retrieves an Issuing <code>Authorization</code> object.</p>
      operationId: GetIssuingAuthorizationsAuthorization
      parameters:
        - in: path
          name: authorization
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetIssuingAuthorizationsAuthorizationRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.authorization'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the specified Issuing <code>Authorization</code> object by
        setting the values of the parameters passed. Any parameters not provided
        will be left unchanged.</p>
      operationId: PostIssuingAuthorizationsAuthorization
      parameters:
        - in: path
          name: authorization
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostIssuingAuthorizationsAuthorizationRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.authorization'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/authorizations/{authorization}/approve:
    post:
      description: >-
        <p>[Deprecated] Approves a pending Issuing <code>Authorization</code>
        object. This request should be made within the timeout window of the <a
        href="/docs/issuing/controls/real-time-authorizations">real-time
        authorization</a> flow. 

        This method is deprecated. Instead, <a
        href="/docs/issuing/controls/real-time-authorizations#authorization-handling">respond
        directly to the webhook request to approve an authorization</a>.</p>
      operationId: PostIssuingAuthorizationsAuthorizationApprove
      parameters:
        - in: path
          name: authorization
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostIssuingAuthorizationsAuthorizationApproveRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.authorization'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/authorizations/{authorization}/decline:
    post:
      description: >-
        <p>[Deprecated] Declines a pending Issuing <code>Authorization</code>
        object. This request should be made within the timeout window of the <a
        href="/docs/issuing/controls/real-time-authorizations">real time
        authorization</a> flow.

        This method is deprecated. Instead, <a
        href="/docs/issuing/controls/real-time-authorizations#authorization-handling">respond
        directly to the webhook request to decline an authorization</a>.</p>
      operationId: PostIssuingAuthorizationsAuthorizationDecline
      parameters:
        - in: path
          name: authorization
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostIssuingAuthorizationsAuthorizationDeclineRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.authorization'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/cardholders:
    get:
      description: >-
        <p>Returns a list of Issuing <code>Cardholder</code> objects. The
        objects are sorted in descending order by creation date, with the most
        recently created object appearing first.</p>
      operationId: GetIssuingCardholders
      parameters:
        - description: >-
            Only return cardholders that were created during the given date
            interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: Only return cardholders that have the given email address.
          in: query
          name: email
          required: false
          schema:
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: Only return cardholders that have the given phone number.
          in: query
          name: phone_number
          required: false
          schema:
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return cardholders that have the given status. One of `active`,
            `inactive`, or `blocked`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - active
              - blocked
              - inactive
            type: string
          style: form
        - description: >-
            Only return cardholders that have the given type. One of
            `individual` or `company`.
          in: query
          name: type
          required: false
          schema:
            enum:
              - company
              - individual
            type: string
            x-stripeBypassValidation: true
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardholdersRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingCardholderList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Creates a new Issuing <code>Cardholder</code> object that can be
        issued cards.</p>
      operationId: PostIssuingCardholders
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              billing:
                explode: true
                style: deepObject
              company:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              individual:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              preferred_locales:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardholdersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.cardholder'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/cardholders/{cardholder}:
    get:
      description: <p>Retrieves an Issuing <code>Cardholder</code> object.</p>
      operationId: GetIssuingCardholdersCardholder
      parameters:
        - in: path
          name: cardholder
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardholdersCardholderRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.cardholder'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the specified Issuing <code>Cardholder</code> object by
        setting the values of the parameters passed. Any parameters not provided
        will be left unchanged.</p>
      operationId: PostIssuingCardholdersCardholder
      parameters:
        - in: path
          name: cardholder
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              billing:
                explode: true
                style: deepObject
              company:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              individual:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              preferred_locales:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardholdersCardholderRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.cardholder'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/cards:
    get:
      description: >-
        <p>Returns a list of Issuing <code>Card</code> objects. The objects are
        sorted in descending order by creation date, with the most recently
        created object appearing first.</p>
      operationId: GetIssuingCards
      parameters:
        - description: Only return cards belonging to the Cardholder with the provided ID.
          in: query
          name: cardholder
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return cards that were issued during the given date interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return cards that have the given expiration month.
          in: query
          name: exp_month
          required: false
          schema:
            type: integer
          style: form
        - description: Only return cards that have the given expiration year.
          in: query
          name: exp_year
          required: false
          schema:
            type: integer
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Only return cards that have the given last four digits.
          in: query
          name: last4
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return cards that have the given status. One of `active`,
            `inactive`, or `canceled`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - active
              - canceled
              - inactive
            type: string
            x-stripeBypassValidation: true
          style: form
        - description: >-
            Only return cards that have the given type. One of `virtual` or
            `physical`.
          in: query
          name: type
          required: false
          schema:
            enum:
              - physical
              - virtual
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingCardList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Creates an Issuing <code>Card</code> object.</p>
      operationId: PostIssuingCards
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              shipping:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/cards/{card}:
    get:
      description: <p>Retrieves an Issuing <code>Card</code> object.</p>
      operationId: GetIssuingCardsCard
      parameters:
        - in: path
          name: card
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingCardsCardRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the specified Issuing <code>Card</code> object by setting the
        values of the parameters passed. Any parameters not provided will be
        left unchanged.</p>
      operationId: PostIssuingCardsCard
      parameters:
        - in: path
          name: card
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              pin:
                explode: true
                style: deepObject
              spending_controls:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingCardsCardRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.card'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/disputes:
    get:
      description: >-
        <p>Returns a list of Issuing <code>Dispute</code> objects. The objects
        are sorted in descending order by creation date, with the most recently
        created object appearing first.</p>
      operationId: GetIssuingDisputes
      parameters:
        - description: >-
            Select Issuing disputes that were created during the given date
            interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Select Issuing disputes with the given status.
          in: query
          name: status
          required: false
          schema:
            enum:
              - expired
              - lost
              - submitted
              - unsubmitted
              - won
            type: string
          style: form
        - description: Select the Issuing dispute for the given transaction.
          in: query
          name: transaction
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingDisputesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingDisputeList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Creates an Issuing <code>Dispute</code> object. Individual pieces of
        evidence within the <code>evidence</code> object are optional at this
        point. Stripe only validates that required evidence is present during
        submission. Refer to <a
        href="/docs/issuing/purchases/disputes#dispute-reasons-and-evidence">Dispute
        reasons and evidence</a> for more details about evidence
        requirements.</p>
      operationId: PostIssuingDisputes
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              evidence:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              treasury:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingDisputesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/disputes/{dispute}:
    get:
      description: <p>Retrieves an Issuing <code>Dispute</code> object.</p>
      operationId: GetIssuingDisputesDispute
      parameters:
        - in: path
          name: dispute
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingDisputesDisputeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the specified Issuing <code>Dispute</code> object by setting
        the values of the parameters passed. Any parameters not provided will be
        left unchanged. Properties on the <code>evidence</code> object can be
        unset by passing in an empty string.</p>
      operationId: PostIssuingDisputesDispute
      parameters:
        - in: path
          name: dispute
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              evidence:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingDisputesDisputeRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/disputes/{dispute}/submit:
    post:
      description: >-
        <p>Submits an Issuing <code>Dispute</code> to the card network. Stripe
        validates that all evidence fields required for the dispute’s reason are
        present. For more details, see <a
        href="/docs/issuing/purchases/disputes#dispute-reasons-and-evidence">Dispute
        reasons and evidence</a>.</p>
      operationId: PostIssuingDisputesDisputeSubmit
      parameters:
        - in: path
          name: dispute
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingDisputesDisputeSubmitRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.dispute'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/settlements:
    get:
      description: >-
        <p>Returns a list of Issuing <code>Settlement</code> objects. The
        objects are sorted in descending order by creation date, with the most
        recently created object appearing first.</p>
      operationId: GetIssuingSettlements
      parameters:
        - description: >-
            Only return issuing settlements that were created during the given
            date interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingSettlementsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingSettlementList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/settlements/{settlement}:
    get:
      description: <p>Retrieves an Issuing <code>Settlement</code> object.</p>
      operationId: GetIssuingSettlementsSettlement
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: settlement
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingSettlementsSettlementRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.settlement'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the specified Issuing <code>Settlement</code> object by
        setting the values of the parameters passed. Any parameters not provided
        will be left unchanged.</p>
      operationId: PostIssuingSettlementsSettlement
      parameters:
        - in: path
          name: settlement
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingSettlementsSettlementRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.settlement'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/tokens:
    get:
      description: <p>Lists all Issuing <code>Token</code> objects for a given card.</p>
      operationId: GetIssuingTokens
      parameters:
        - description: The Issuing card identifier to list tokens for.
          in: query
          name: card
          required: true
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Select Issuing tokens that were created during the given date
            interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Select Issuing tokens with the given status.
          in: query
          name: status
          required: false
          schema:
            enum:
              - active
              - deleted
              - requested
              - suspended
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingTokensRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingNetworkTokenList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/tokens/{token}:
    get:
      description: <p>Retrieves an Issuing <code>Token</code> object.</p>
      operationId: GetIssuingTokensToken
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: token
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingTokensTokenRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.token'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Attempts to update the specified Issuing <code>Token</code> object to
        the status specified.</p>
      operationId: PostIssuingTokensToken
      parameters:
        - in: path
          name: token
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingTokensTokenRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.token'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/transactions:
    get:
      description: >-
        <p>Returns a list of Issuing <code>Transaction</code> objects. The
        objects are sorted in descending order by creation date, with the most
        recently created object appearing first.</p>
      operationId: GetIssuingTransactions
      parameters:
        - description: Only return transactions that belong to the given card.
          in: query
          name: card
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return transactions that belong to the given cardholder.
          in: query
          name: cardholder
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return transactions that were created during the given date
            interval.
          explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return transactions that have the given type. One of `capture`
            or `refund`.
          in: query
          name: type
          required: false
          schema:
            enum:
              - capture
              - refund
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingTransactionsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/IssuingTransactionList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/issuing/transactions/{transaction}:
    get:
      description: <p>Retrieves an Issuing <code>Transaction</code> object.</p>
      operationId: GetIssuingTransactionsTransaction
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: transaction
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetIssuingTransactionsTransactionRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.transaction'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the specified Issuing <code>Transaction</code> object by
        setting the values of the parameters passed. Any parameters not provided
        will be left unchanged.</p>
      operationId: PostIssuingTransactionsTransaction
      parameters:
        - in: path
          name: transaction
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostIssuingTransactionsTransactionRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/issuing.transaction'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
components:
  schemas:
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
        - error
      type: object
    issuing.authorization:
      description: >-
        When an [issued card](https://stripe.com/docs/issuing) is used to make a
        purchase, an Issuing `Authorization`

        object is created.
        [Authorizations](https://stripe.com/docs/issuing/purchases/authorizations)
        must be approved for the

        purchase to be completed successfully.


        Related guide: [Issued card
        authorizations](https://stripe.com/docs/issuing/purchases/authorizations)
      properties:
        amount:
          description: >-
            The total amount that was authorized or rejected. This amount is in
            `currency` and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal). `amount`
            should be the same as `merchant_amount`, unless `currency` and
            `merchant_currency` are different.
          type: integer
        amount_details:
          anyOf:
            - $ref: '#/components/schemas/issuing_authorization_amount_details'
          description: >-
            Detailed breakdown of amount components. These amounts are
            denominated in `currency` and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
        approved:
          description: Whether the authorization has been approved.
          type: boolean
        authorization_method:
          description: How the card details were provided.
          enum:
            - chip
            - contactless
            - keyed_in
            - online
            - swipe
          type: string
        balance_transactions:
          description: List of balance transactions associated with this authorization.
          items:
            $ref: '#/components/schemas/balance_transaction'
          type: array
        card:
          $ref: '#/components/schemas/issuing.card'
        cardholder:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.cardholder'
          description: The cardholder to whom this authorization belongs.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            The currency of the cardholder. This currency can be different from
            the currency presented at authorization and the `merchant_currency`
            field on this authorization. Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        merchant_amount:
          description: >-
            The total amount that was authorized or rejected. This amount is in
            the `merchant_currency` and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal).
            `merchant_amount` should be the same as `amount`, unless
            `merchant_currency` and `currency` are different.
          type: integer
        merchant_currency:
          description: >-
            The local currency that was presented to the cardholder for the
            authorization. This currency can be different from the cardholder
            currency and the `currency` field on this authorization.
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        merchant_data:
          $ref: '#/components/schemas/issuing_authorization_merchant_data'
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        network_data:
          anyOf:
            - $ref: '#/components/schemas/issuing_authorization_network_data'
          description: >-
            Details about the authorization, such as identifiers, set by the
            card network.
          nullable: true
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.authorization
          type: string
        pending_request:
          anyOf:
            - $ref: '#/components/schemas/issuing_authorization_pending_request'
          description: >-
            The pending authorization request. This field will only be non-null
            during an `issuing_authorization.request` webhook.
          nullable: true
        request_history:
          description: >-
            History of every time a `pending_request` authorization was
            approved/declined, either by you directly or by Stripe (e.g. based
            on your spending_controls). If the merchant changes the
            authorization by performing an incremental authorization, you can
            look at this field to see the previous requests for the
            authorization. This field can be helpful in determining why a given
            authorization was approved/declined.
          items:
            $ref: '#/components/schemas/issuing_authorization_request'
          type: array
        status:
          description: The current status of the authorization in its lifecycle.
          enum:
            - closed
            - pending
            - reversed
          type: string
        token:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.token'
          description: >-
            [Token](https://stripe.com/docs/api/issuing/tokens/object) object
            used for this authorization. If a network token was not used for
            this authorization, this field will be null.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.token'
        transactions:
          description: >-
            List of
            [transactions](https://stripe.com/docs/api/issuing/transactions)
            associated with this authorization.
          items:
            $ref: '#/components/schemas/issuing.transaction'
          type: array
        treasury:
          anyOf:
            - $ref: '#/components/schemas/issuing_authorization_treasury'
          description: >-
            [Treasury](https://stripe.com/docs/api/treasury) details related to
            this authorization if it was created on a
            [FinancialAccount](https://stripe.com/docs/api/treasury/financial_accounts).
          nullable: true
        verification_data:
          $ref: '#/components/schemas/issuing_authorization_verification_data'
        wallet:
          description: >-
            The digital wallet used for this transaction. One of `apple_pay`,
            `google_pay`, or `samsung_pay`. Will populate as `null` when no
            digital wallet was utilized.
          maxLength: 5000
          nullable: true
          type: string
      required:
        - amount
        - approved
        - authorization_method
        - balance_transactions
        - card
        - created
        - currency
        - id
        - livemode
        - merchant_amount
        - merchant_currency
        - merchant_data
        - metadata
        - object
        - request_history
        - status
        - transactions
        - verification_data
      title: IssuingAuthorization
      type: object
      x-expandableFields:
        - amount_details
        - balance_transactions
        - card
        - cardholder
        - merchant_data
        - network_data
        - pending_request
        - request_history
        - token
        - transactions
        - treasury
        - verification_data
      x-resourceId: issuing.authorization
    issuing.cardholder:
      description: >-
        An Issuing `Cardholder` object represents an individual or business
        entity who is [issued](https://stripe.com/docs/issuing) cards.


        Related guide: [How to create a
        cardholder](https://stripe.com/docs/issuing/cards#create-cardholder)
      properties:
        billing:
          $ref: '#/components/schemas/issuing_cardholder_address'
        company:
          anyOf:
            - $ref: '#/components/schemas/issuing_cardholder_company'
          description: Additional information about a `company` cardholder.
          nullable: true
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        email:
          description: The cardholder's email address.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        individual:
          anyOf:
            - $ref: '#/components/schemas/issuing_cardholder_individual'
          description: Additional information about an `individual` cardholder.
          nullable: true
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        name:
          description: The cardholder's name. This will be printed on cards issued to them.
          maxLength: 5000
          type: string
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.cardholder
          type: string
        phone_number:
          description: >-
            The cardholder's phone number. This is required for all cardholders
            who will be creating EU cards. See the [3D Secure
            documentation](https://stripe.com/docs/issuing/3d-secure#when-is-3d-secure-applied)
            for more details.
          maxLength: 5000
          nullable: true
          type: string
        preferred_locales:
          description: >-
            The cardholder’s preferred locales (languages), ordered by
            preference. Locales can be `de`, `en`, `es`, `fr`, or `it`.
             This changes the language of the [3D Secure flow](https://stripe.com/docs/issuing/3d-secure) and one-time password messages sent to the cardholder.
          items:
            enum:
              - de
              - en
              - es
              - fr
              - it
            type: string
          nullable: true
          type: array
        requirements:
          $ref: '#/components/schemas/issuing_cardholder_requirements'
        spending_controls:
          anyOf:
            - $ref: '#/components/schemas/issuing_cardholder_authorization_controls'
          description: >-
            Rules that control spending across this cardholder's cards. Refer to
            our
            [documentation](https://stripe.com/docs/issuing/controls/spending-controls)
            for more details.
          nullable: true
        status:
          description: >-
            Specifies whether to permit authorizations on this cardholder's
            cards.
          enum:
            - active
            - blocked
            - inactive
          type: string
        type:
          description: >-
            One of `individual` or `company`. See [Choose a cardholder
            type](https://stripe.com/docs/issuing/other/choose-cardholder) for
            more details.
          enum:
            - company
            - individual
          type: string
          x-stripeBypassValidation: true
      required:
        - billing
        - created
        - id
        - livemode
        - metadata
        - name
        - object
        - requirements
        - status
        - type
      title: IssuingCardholder
      type: object
      x-expandableFields:
        - billing
        - company
        - individual
        - requirements
        - spending_controls
      x-resourceId: issuing.cardholder
    issuing.card:
      description: >-
        You can [create physical or virtual
        cards](https://stripe.com/docs/issuing/cards) that are issued to
        cardholders.
      properties:
        brand:
          description: The brand of the card.
          maxLength: 5000
          type: string
        cancellation_reason:
          description: The reason why the card was canceled.
          enum:
            - design_rejected
            - lost
            - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        cardholder:
          $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Supported currencies are `usd` in the US, `eur` in the
            EU, and `gbp` in the UK.
          type: string
        cvc:
          description: >-
            The card's CVC. For security reasons, this is only available for
            virtual cards, and will be omitted unless you explicitly request it
            with [the `expand`
            parameter](https://stripe.com/docs/api/expanding_objects).
            Additionally, it's only available via the ["Retrieve a card"
            endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not
            via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        exp_month:
          description: The expiration month of the card.
          type: integer
        exp_year:
          description: The expiration year of the card.
          type: integer
        financial_account:
          description: The financial account this card is attached to.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last 4 digits of the card number.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        number:
          description: >-
            The full unredacted card number. For security reasons, this is only
            available for virtual cards, and will be omitted unless you
            explicitly request it with [the `expand`
            parameter](https://stripe.com/docs/api/expanding_objects).
            Additionally, it's only available via the ["Retrieve a card"
            endpoint](https://stripe.com/docs/api/issuing/cards/retrieve), not
            via "List all cards" or any other endpoint.
          maxLength: 5000
          type: string
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.card
          type: string
        replaced_by:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.card'
          description: The latest card that replaces this card, if any.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.card'
        replacement_for:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.card'
          description: The card this card replaces, if any.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.card'
        replacement_reason:
          description: The reason why the previous card needed to be replaced.
          enum:
            - damaged
            - expired
            - lost
            - stolen
          nullable: true
          type: string
          x-stripeBypassValidation: true
        shipping:
          anyOf:
            - $ref: '#/components/schemas/issuing_card_shipping'
          description: Where and how the card will be shipped.
          nullable: true
        spending_controls:
          $ref: '#/components/schemas/issuing_card_authorization_controls'
        status:
          description: >-
            Whether authorizations can be approved on this card. May be blocked
            from activating cards depending on past-due Cardholder requirements.
            Defaults to `inactive`.
          enum:
            - active
            - canceled
            - inactive
          type: string
          x-stripeBypassValidation: true
        type:
          description: The type of the card.
          enum:
            - physical
            - virtual
          type: string
        wallets:
          anyOf:
            - $ref: '#/components/schemas/issuing_card_wallets'
          description: >-
            Information relating to digital wallets (like Apple Pay and Google
            Pay).
          nullable: true
      required:
        - brand
        - cardholder
        - created
        - currency
        - exp_month
        - exp_year
        - id
        - last4
        - livemode
        - metadata
        - object
        - spending_controls
        - status
        - type
      title: IssuingCard
      type: object
      x-expandableFields:
        - cardholder
        - replaced_by
        - replacement_for
        - shipping
        - spending_controls
        - wallets
      x-resourceId: issuing.card
    issuing.dispute:
      description: >-
        As a [card issuer](https://stripe.com/docs/issuing), you can dispute
        transactions that the cardholder does not recognize, suspects to be
        fraudulent, or has other issues with.


        Related guide: [Issuing
        disputes](https://stripe.com/docs/issuing/purchases/disputes)
      properties:
        amount:
          description: >-
            Disputed amount in the card's currency and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal). Usually the
            amount of the `transaction`, but can differ (usually because of
            currency fluctuation).
          type: integer
        balance_transactions:
          description: List of balance transactions associated with the dispute.
          items:
            $ref: '#/components/schemas/balance_transaction'
          nullable: true
          type: array
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: The currency the `transaction` was made in.
          type: string
        evidence:
          $ref: '#/components/schemas/issuing_dispute_evidence'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.dispute
          type: string
        status:
          description: Current status of the dispute.
          enum:
            - expired
            - lost
            - submitted
            - unsubmitted
            - won
          type: string
        transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.transaction'
          description: The transaction being disputed.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.transaction'
        treasury:
          anyOf:
            - $ref: '#/components/schemas/issuing_dispute_treasury'
          description: >-
            [Treasury](https://stripe.com/docs/api/treasury) details related to
            this dispute if it was created on a
            [FinancialAccount](/docs/api/treasury/financial_accounts
          nullable: true
      required:
        - amount
        - created
        - currency
        - evidence
        - id
        - livemode
        - metadata
        - object
        - status
        - transaction
      title: IssuingDispute
      type: object
      x-expandableFields:
        - balance_transactions
        - evidence
        - transaction
        - treasury
      x-resourceId: issuing.dispute
    issuing.settlement:
      description: >-
        When a non-stripe BIN is used, any use of an [issued
        card](https://stripe.com/docs/issuing) must be settled directly with the
        card network. The net amount owed is represented by an Issuing
        `Settlement` object.
      properties:
        bin:
          description: The Bank Identification Number reflecting this settlement record.
          maxLength: 5000
          type: string
        clearing_date:
          description: >-
            The date that the transactions are cleared and posted to user's
            accounts.
          type: integer
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        interchange_fees:
          description: >-
            The total interchange received as reimbursement for the
            transactions.
          type: integer
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        net_total:
          description: The total net amount required to settle with the network.
          type: integer
        network:
          description: The card network for this settlement report. One of ["visa"]
          enum:
            - visa
          type: string
        network_fees:
          description: The total amount of fees owed to the network.
          type: integer
        network_settlement_identifier:
          description: The Settlement Identification Number assigned by the network.
          maxLength: 5000
          type: string
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.settlement
          type: string
        settlement_service:
          description: One of `international` or `uk_national_net`.
          maxLength: 5000
          type: string
        transaction_count:
          description: The total number of transactions reflected in this settlement.
          type: integer
        transaction_volume:
          description: The total transaction amount reflected in this settlement.
          type: integer
      required:
        - bin
        - clearing_date
        - created
        - currency
        - id
        - interchange_fees
        - livemode
        - metadata
        - net_total
        - network
        - network_fees
        - network_settlement_identifier
        - object
        - settlement_service
        - transaction_count
        - transaction_volume
      title: IssuingSettlement
      type: object
      x-expandableFields: []
      x-resourceId: issuing.settlement
    issuing.token:
      description: >-
        An issuing token object is created when an issued card is added to a
        digital wallet. As a [card issuer](https://stripe.com/docs/issuing), you
        can [view and manage these
        tokens](https://stripe.com/docs/issuing/controls/token-management)
        through Stripe.
      properties:
        card:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.card'
          description: Card associated with this token.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.card'
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        device_fingerprint:
          description: >-
            The hashed ID derived from the device ID from the card network
            associated with the token
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        last4:
          description: The last four digits of the token.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        network:
          description: The token service provider / card network associated with the token.
          enum:
            - mastercard
            - visa
          type: string
        network_data:
          $ref: '#/components/schemas/issuing_network_token_network_data'
        network_updated_at:
          description: >-
            Time at which the token was last updated by the card network.
            Measured in seconds since the Unix epoch.
          format: unix-time
          type: integer
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.token
          type: string
        status:
          description: The usage state of the token.
          enum:
            - active
            - deleted
            - requested
            - suspended
          type: string
        wallet_provider:
          description: The digital wallet for this token, if one was used.
          enum:
            - apple_pay
            - google_pay
            - samsung_pay
          type: string
      required:
        - card
        - created
        - id
        - livemode
        - network
        - network_updated_at
        - object
        - status
      title: IssuingNetworkToken
      type: object
      x-expandableFields:
        - card
        - network_data
      x-resourceId: issuing.token
    issuing.transaction:
      description: >-
        Any use of an [issued card](https://stripe.com/docs/issuing) that
        results in funds entering or leaving

        your Stripe account, such as a completed purchase or refund, is
        represented by an Issuing

        `Transaction` object.


        Related guide: [Issued card
        transactions](https://stripe.com/docs/issuing/purchases/transactions)
      properties:
        amount:
          description: >-
            The transaction amount, which will be reflected in your balance.
            This amount is in your currency and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal).
          type: integer
        amount_details:
          anyOf:
            - $ref: '#/components/schemas/issuing_transaction_amount_details'
          description: >-
            Detailed breakdown of amount components. These amounts are
            denominated in `currency` and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal).
          nullable: true
        authorization:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.authorization'
          description: The `Authorization` object that led to this transaction.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.authorization'
        balance_transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/balance_transaction'
          description: >-
            ID of the [balance
            transaction](https://stripe.com/docs/api/balance_transactions)
            associated with this transaction.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/balance_transaction'
        card:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.card'
          description: The card used to make this transaction.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.card'
        cardholder:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.cardholder'
          description: The cardholder to whom this transaction belongs.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.cardholder'
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        dispute:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.dispute'
          description: If you've disputed the transaction, the ID of the dispute.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.dispute'
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        merchant_amount:
          description: >-
            The amount that the merchant will receive, denominated in
            `merchant_currency` and in the [smallest currency
            unit](https://stripe.com/docs/currencies#zero-decimal). It will be
            different from `amount` if the merchant is taking payment in a
            different currency.
          type: integer
        merchant_currency:
          description: The currency with which the merchant is taking payment.
          type: string
        merchant_data:
          $ref: '#/components/schemas/issuing_authorization_merchant_data'
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        network_data:
          anyOf:
            - $ref: '#/components/schemas/issuing_transaction_network_data'
          description: >-
            Details about the transaction, such as processing dates, set by the
            card network.
          nullable: true
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - issuing.transaction
          type: string
        purchase_details:
          anyOf:
            - $ref: '#/components/schemas/issuing_transaction_purchase_details'
          description: >-
            Additional purchase information that is optionally provided by the
            merchant.
          nullable: true
        token:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/issuing.token'
          description: >-
            [Token](https://stripe.com/docs/api/issuing/tokens/object) object
            used for this transaction. If a network token was not used for this
            transaction, this field will be null.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/issuing.token'
        treasury:
          anyOf:
            - $ref: '#/components/schemas/issuing_transaction_treasury'
          description: >-
            [Treasury](https://stripe.com/docs/api/treasury) details related to
            this transaction if it was created on a
            [FinancialAccount](/docs/api/treasury/financial_accounts
          nullable: true
        type:
          description: The nature of the transaction.
          enum:
            - capture
            - refund
          type: string
          x-stripeBypassValidation: true
        wallet:
          description: >-
            The digital wallet used for this transaction. One of `apple_pay`,
            `google_pay`, or `samsung_pay`.
          enum:
            - apple_pay
            - google_pay
            - samsung_pay
          nullable: true
          type: string
      required:
        - amount
        - card
        - created
        - currency
        - id
        - livemode
        - merchant_amount
        - merchant_currency
        - merchant_data
        - metadata
        - object
        - type
      title: IssuingTransaction
      type: object
      x-expandableFields:
        - amount_details
        - authorization
        - balance_transaction
        - card
        - cardholder
        - dispute
        - merchant_data
        - network_data
        - purchase_details
        - token
        - treasury
      x-resourceId: issuing.transaction
    GetIssuingAuthorizationsRequest:
      type: object
      properties: {}
    IssuingAuthorizationList:
      type: object
      required:
        - data
        - has_more
        - object
        - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/issuing.authorization'
          type: array
        has_more:
          description: >-
            True if this list has another page of items after this one that can
            be fetched.
          type: boolean
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value. Always has the value `list`.
          enum:
            - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/issuing/authorizations
          type: string
    GetIssuingAuthorizationsAuthorizationRequest:
      type: object
      properties: {}
    PostIssuingAuthorizationsAuthorizationRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
            - additionalProperties:
                type: string
              type: object
            - enum:
                - ''
              type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
            Individual keys can be unset by posting an empty value to them. All
            keys can be unset by posting an empty value to `metadata`.
    PostIssuingAuthorizationsAuthorizationApproveRequest:
      type: object
      properties:
        amount:
          description: >-
            If the authorization's `pending_request.is_amount_controllable`
            property is `true`, you may provide this value to control how much
            to hold for the authorization. Must be positive (use
            [`decline`](https://stripe.com/docs/api/issuing/authorizations/decline)
            to decline an authorization request).
          type: integer
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
            - additionalProperties:
                type: string
              type: object
            - enum:
                - ''
              type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
            Individual keys can be unset by posting an empty value to them. All
            keys can be unset by posting an empty value to `metadata`.
    PostIssuingAuthorizationsAuthorizationDeclineRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
            - additionalProperties:
                type: string
              type: object
            - enum:
                - ''
              type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
            Individual keys can be unset by posting an empty value to them. All
            keys can be unset by posting an empty value to `metadata`.
    GetIssuingCardholdersRequest:
      type: object
      properties: {}
    IssuingCardholderList:
      type: object
      required:
        - data
        - has_more
        - object
        - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/issuing.cardholder'
          type: array
        has_more:
          description: >-
[...]
