openapi: 3.0.0
info:
  title: Stripe Refunds API
  description: Needs description.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
security:
  - basicAuth: []
  - bearerAuth: []
servers:
  - url: https://api.stripe.com/
paths:
  /v1/refunds:
    get:
      description: >-
        <p>Returns a list of all refunds you created. We return the refunds in
        sorted order, with the most recent refunds appearing first The 10 most
        recent refunds are always available by default on the Charge object.</p>
      operationId: GetRefunds
      parameters:
        - description: Only return refunds for the charge specified by this charge ID.
          in: query
          name: charge
          required: false
          schema:
            type: string
          style: form
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: Only return refunds for the PaymentIntent specified by this ID.
          in: query
          name: payment_intent
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetRefundsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/APIMethodRefundList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>When you create a new refund, you must specify a Charge or a
        PaymentIntent object on which to create it.</p>


        <p>Creating a new refund will refund a charge that has previously been
        created but not yet refunded.

        Funds will be refunded to the credit or debit card that was originally
        charged.</p>


        <p>You can optionally refund only part of a charge.

        You can do so multiple times, until the entire charge has been
        refunded.</p>


        <p>Once entirely refunded, a charge can’t be refunded again.

        This method will raise an error when called on an already-refunded
        charge,

        or when trying to refund more money than is left on a charge.</p>
      operationId: PostRefunds
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostRefundsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/refunds/{refund}:
    get:
      description: <p>Retrieves the details of an existing refund.</p>
      operationId: GetRefundsRefund
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: refund
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetRefundsRefundRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Updates the refund that you specify by setting the values of the
        passed parameters. Any parameters that you don’t provide remain
        unchanged.</p>


        <p>This request only accepts <code>metadata</code> as an argument.</p>
      operationId: PostRefundsRefund
      parameters:
        - in: path
          name: refund
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostRefundsRefundRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/refunds/{refund}/cancel:
    post:
      description: >-
        <p>Cancels a refund with a status of <code>requires_action</code>.</p>


        <p>You can’t cancel refunds in other states. Only refunds for payment
        methods that require customer action can enter the
        <code>requires_action</code> state.</p>
      operationId: PostRefundsRefundCancel
      parameters:
        - in: path
          name: refund
          required: true
          schema:
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostRefundsRefundCancelRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/refund'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
components:
  schemas:
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
        - error
      type: object
    refund:
      description: >-
        Refund objects allow you to refund a previously created charge that
        isn't

        refunded yet. Funds are refunded to the credit or debit card that's

        initially charged.


        Related guide: [Refunds](https://stripe.com/docs/refunds)
      properties:
        amount:
          description: Amount, in cents (or local equivalent).
          type: integer
        balance_transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/balance_transaction'
          description: >-
            Balance transaction that describes the impact on your account
            balance.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/balance_transaction'
        charge:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/charge'
          description: ID of the charge that's refunded.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/charge'
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        description:
          description: >-
            An arbitrary string attached to the object. You can use this for
            displaying to users (available on non-card refunds only).
          maxLength: 5000
          type: string
        destination_details:
          $ref: '#/components/schemas/refund_destination_details'
        failure_balance_transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/balance_transaction'
          description: >-
            After the refund fails, this balance transaction describes the
            adjustment made on your account balance that reverses the initial
            balance transaction.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/balance_transaction'
        failure_reason:
          description: >-
            Provides the reason for the refund failure. Possible values are:
            `lost_or_stolen_card`, `expired_or_canceled_card`,
            `charge_for_pending_refund_disputed`, `insufficient_funds`,
            `declined`, `merchant_request`, or `unknown`.
          maxLength: 5000
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        instructions_email:
          description: >-
            For payment methods without native refund support (for example,
            Konbini, PromptPay), provide an email address for the customer to
            receive refund instructions.
          maxLength: 5000
          type: string
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          nullable: true
          type: object
        next_action:
          $ref: '#/components/schemas/refund_next_action'
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - refund
          type: string
        payment_intent:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/payment_intent'
          description: ID of the PaymentIntent that's refunded.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/payment_intent'
        reason:
          description: >-
            Reason for the refund, which is either user-provided (`duplicate`,
            `fraudulent`, or `requested_by_customer`) or generated by Stripe
            internally (`expired_uncaptured_charge`).
          enum:
            - duplicate
            - expired_uncaptured_charge
            - fraudulent
            - requested_by_customer
          nullable: true
          type: string
          x-stripeBypassValidation: true
        receipt_number:
          description: >-
            This is the transaction number that appears on email receipts sent
            for this refund.
          maxLength: 5000
          nullable: true
          type: string
        source_transfer_reversal:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/transfer_reversal'
          description: >-
            The transfer reversal that's associated with the refund. Only
            present if the charge came from another Stripe account.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/transfer_reversal'
        status:
          description: >-
            Status of the refund. This can be `pending`, `requires_action`,
            `succeeded`, `failed`, or `canceled`. Learn more about [failed
            refunds](https://stripe.com/docs/refunds#failed-refunds).
          maxLength: 5000
          nullable: true
          type: string
        transfer_reversal:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/transfer_reversal'
          description: >-
            This refers to the transfer reversal object if the accompanying
            transfer reverses. This is only applicable if the charge was created
            using the destination parameter.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/transfer_reversal'
      required:
        - amount
        - created
        - currency
        - id
        - object
      title: Refund
      type: object
      x-expandableFields:
        - balance_transaction
        - charge
        - destination_details
        - failure_balance_transaction
        - next_action
        - payment_intent
        - source_transfer_reversal
        - transfer_reversal
      x-resourceId: refund
    GetRefundsRequest:
      type: object
      properties: {}
    APIMethodRefundList:
      type: object
      required:
        - data
        - has_more
        - object
        - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/refund'
          type: array
        has_more:
          description: >-
            True if this list has another page of items after this one that can
            be fetched.
          type: boolean
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value. Always has the value `list`.
          enum:
            - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/refunds
          type: string
    PostRefundsRequest:
      type: object
      properties:
        amount:
          type: integer
        charge:
          description: The identifier of the charge to refund.
          maxLength: 5000
          type: string
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        customer:
          description: Customer whose customer balance to refund from.
          maxLength: 5000
          type: string
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        instructions_email:
          description: >-
            For payment methods without native refund support (e.g., Konbini,
            PromptPay), use this email from the customer to receive refund
            instructions.
          type: string
        metadata:
          anyOf:
            - additionalProperties:
                type: string
              type: object
            - enum:
                - ''
              type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
            Individual keys can be unset by posting an empty value to them. All
            keys can be unset by posting an empty value to `metadata`.
        origin:
          description: Origin of the refund
          enum:
            - customer_balance
          type: string
        payment_intent:
          description: The identifier of the PaymentIntent to refund.
          maxLength: 5000
          type: string
        reason:
          description: >-
            String indicating the reason for the refund. If set, possible values
            are `duplicate`, `fraudulent`, and `requested_by_customer`. If you
            believe the charge to be fraudulent, specifying `fraudulent` as the
            reason will add the associated card and email to your [block
            lists](https://stripe.com/docs/radar/lists), and will also help us
            improve our fraud detection algorithms.
          enum:
            - duplicate
            - fraudulent
            - requested_by_customer
          maxLength: 5000
          type: string
        refund_application_fee:
          description: >-
            Boolean indicating whether the application fee should be refunded
            when refunding this charge. If a full charge refund is given, the
            full application fee will be refunded. Otherwise, the application
            fee will be refunded in an amount proportional to the amount of the
            charge refunded. An application fee can be refunded only by the
            application that created the charge.
          type: boolean
        reverse_transfer:
          description: >-
            Boolean indicating whether the transfer should be reversed when
            refunding this charge. The transfer will be reversed proportionally
            to the amount being refunded (either the entire or partial
            amount).<br><br>A transfer can be reversed only by the application
            that created the charge.
          type: boolean
    GetRefundsRefundRequest:
      type: object
      properties: {}
    PostRefundsRefundRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
        metadata:
          anyOf:
            - additionalProperties:
                type: string
              type: object
            - enum:
                - ''
              type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
            Individual keys can be unset by posting an empty value to them. All
            keys can be unset by posting an empty value to `metadata`.
    PostRefundsRefundCancelRequest:
      type: object
      properties:
        expand:
          description: Specifies which fields in the response should be expanded.
          items:
            maxLength: 5000
            type: string
          type: array
  securitySchemes:
    basicAuth:
      description: >-
        Basic HTTP authentication. Allowed headers-- Authorization: Basic
        <api_key> | Authorization: Basic <base64 hash of `api_key:`>
      scheme: basic
      type: http
    bearerAuth:
      bearerFormat: auth-scheme
      description: >-
        Bearer HTTP authentication. Allowed headers-- Authorization: Bearer
        <api_key>
      scheme: bearer
      type: http
tags: []
