openapi: 3.0.0
info:
  title: Stripe Sigma API
  description: Needs description.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
security:
  - basicAuth: []
  - bearerAuth: []
servers:
  - url: https://api.stripe.com/
paths:
  /v1/sigma/scheduled_query_runs:
    get:
      description: <p>Returns a list of scheduled query runs.</p>
      operationId: GetSigmaScheduledQueryRuns
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetSigmaScheduledQueryRunsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: '#/components/schemas/SigmaScheduledQueryRunList'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/sigma/scheduled_query_runs/{scheduled_query_run}:
    get:
      description: <p>Retrieves the details of an scheduled query run.</p>
      operationId: GetSigmaScheduledQueryRunsScheduledQueryRun
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: scheduled_query_run
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetSigmaScheduledQueryRunsScheduledQueryRunRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/scheduled_query_run'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
components:
  schemas:
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
        - error
      type: object
    scheduled_query_run:
      description: >-
        If you have [scheduled a Sigma
        query](https://stripe.com/docs/sigma/scheduled-queries), you'll

        receive a `sigma.scheduled_query_run.created` webhook each time the
        query

        runs. The webhook contains a `ScheduledQueryRun` object, which you can
        use to

        retrieve the query results.
      properties:
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        data_load_time:
          description: >-
            When the query was run, Sigma contained a snapshot of your Stripe
            data at this time.
          format: unix-time
          type: integer
        error:
          $ref: '#/components/schemas/sigma_scheduled_query_run_error'
        file:
          anyOf:
            - $ref: '#/components/schemas/file'
          description: The file object representing the results of the query.
          nullable: true
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - scheduled_query_run
          type: string
        result_available_until:
          description: >-
            Time at which the result expires and is no longer available for
            download.
          format: unix-time
          type: integer
        sql:
          description: SQL for the query.
          maxLength: 100000
          type: string
        status:
          description: >-
            The query's execution status, which will be `completed` for
            successful runs, and `canceled`, `failed`, or `timed_out` otherwise.
          maxLength: 5000
          type: string
        title:
          description: Title of the query.
          maxLength: 5000
          type: string
      required:
        - created
        - data_load_time
        - id
        - livemode
        - object
        - result_available_until
        - sql
        - status
        - title
      title: ScheduledQueryRun
      type: object
      x-expandableFields:
        - error
        - file
      x-resourceId: scheduled_query_run
    GetSigmaScheduledQueryRunsRequest:
      type: object
      properties: {}
    SigmaScheduledQueryRunList:
      type: object
      required:
        - data
        - has_more
        - object
        - url
      properties:
        data:
          items:
            $ref: '#/components/schemas/scheduled_query_run'
          type: array
        has_more:
          description: >-
            True if this list has another page of items after this one that can
            be fetched.
          type: boolean
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value. Always has the value `list`.
          enum:
            - list
          type: string
        url:
          description: The URL where this list can be accessed.
          maxLength: 5000
          pattern: ^/v1/sigma/scheduled_query_runs
          type: string
    GetSigmaScheduledQueryRunsScheduledQueryRunRequest:
      type: object
      properties: {}
  securitySchemes:
    basicAuth:
      description: >-
        Basic HTTP authentication. Allowed headers-- Authorization: Basic
        <api_key> | Authorization: Basic <base64 hash of `api_key:`>
      scheme: basic
      type: http
    bearerAuth:
      bearerFormat: auth-scheme
      description: >-
        Bearer HTTP authentication. Allowed headers-- Authorization: Bearer
        <api_key>
      scheme: bearer
      type: http
tags: []
