openapi: 3.0.0
info:
  title: Stripe Treasury API
  description: Needs description.
  contact:
    email: dev-platform@stripe.com
    name: Stripe Dev Platform Team
    url: https://stripe.com
  termsOfService: https://stripe.com/us/terms/
  version: '2023-10-16'
  x-stripeSpecFilename: spec3
security:
  - basicAuth: []
  - bearerAuth: []
servers:
  - url: https://api.stripe.com/
paths:
  /v1/treasury/credit_reversals:
    get:
      description: <p>Returns a list of CreditReversals.</p>
      operationId: GetTreasuryCreditReversals
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: Only return CreditReversals for the ReceivedCredit ID.
          in: query
          name: received_credit
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return CreditReversals for a given status.
          in: query
          name: status
          required: false
          schema:
            enum:
              - canceled
              - posted
              - processing
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryCreditReversalsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryReceivedCreditsResourceCreditReversalList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Reverses a ReceivedCredit and creates a CreditReversal object.</p>
      operationId: PostTreasuryCreditReversals
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryCreditReversalsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.credit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/credit_reversals/{credit_reversal}:
    get:
      description: >-
        <p>Retrieves the details of an existing CreditReversal by passing the
        unique CreditReversal ID from either the CreditReversal creation request
        or CreditReversal list</p>
      operationId: GetTreasuryCreditReversalsCreditReversal
      parameters:
        - in: path
          name: credit_reversal
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetTreasuryCreditReversalsCreditReversalRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.credit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/debit_reversals:
    get:
      description: <p>Returns a list of DebitReversals.</p>
      operationId: GetTreasuryDebitReversals
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: Only return DebitReversals for the ReceivedDebit ID.
          in: query
          name: received_debit
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return DebitReversals for a given resolution.
          in: query
          name: resolution
          required: false
          schema:
            enum:
              - lost
              - won
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return DebitReversals for a given status.
          in: query
          name: status
          required: false
          schema:
            enum:
              - canceled
              - completed
              - processing
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryDebitReversalsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryReceivedDebitsResourceDebitReversalList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Reverses a ReceivedDebit and creates a DebitReversal object.</p>
      operationId: PostTreasuryDebitReversals
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryDebitReversalsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.debit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/debit_reversals/{debit_reversal}:
    get:
      description: <p>Retrieves a DebitReversal object.</p>
      operationId: GetTreasuryDebitReversalsDebitReversal
      parameters:
        - in: path
          name: debit_reversal
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetTreasuryDebitReversalsDebitReversalRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.debit_reversal'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/financial_accounts:
    get:
      description: <p>Returns a list of FinancialAccounts.</p>
      operationId: GetTreasuryFinancialAccounts
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: An object ID cursor for use in pagination.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: A limit ranging from 1 to 100 (defaults to 10).
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: An object ID cursor for use in pagination.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryFinancialAccountsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryFinancialAccountsResourceFinancialAccountList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: >-
        <p>Creates a new FinancialAccount. For now, each connected account can
        only have one FinancialAccount.</p>
      operationId: PostTreasuryFinancialAccounts
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              features:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              platform_restrictions:
                explode: true
                style: deepObject
              supported_currencies:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryFinancialAccountsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/financial_accounts/{financial_account}:
    get:
      description: <p>Retrieves the details of a FinancialAccount.</p>
      operationId: GetTreasuryFinancialAccountsFinancialAccount
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: financial_account
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetTreasuryFinancialAccountsFinancialAccountRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Updates the details of a FinancialAccount.</p>
      operationId: PostTreasuryFinancialAccountsFinancialAccount
      parameters:
        - in: path
          name: financial_account
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              features:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
              platform_restrictions:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostTreasuryFinancialAccountsFinancialAccountRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/financial_accounts/{financial_account}/features:
    get:
      description: >-
        <p>Retrieves Features information associated with the
        FinancialAccount.</p>
      operationId: GetTreasuryFinancialAccountsFinancialAccountFeatures
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: financial_account
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetTreasuryFinancialAccountsFinancialAccountFeaturesRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account_features'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Updates the Features associated with a FinancialAccount.</p>
      operationId: PostTreasuryFinancialAccountsFinancialAccountFeatures
      parameters:
        - in: path
          name: financial_account
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              card_issuing:
                explode: true
                style: deepObject
              deposit_insurance:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              financial_addresses:
                explode: true
                style: deepObject
              inbound_transfers:
                explode: true
                style: deepObject
              intra_stripe_flows:
                explode: true
                style: deepObject
              outbound_payments:
                explode: true
                style: deepObject
              outbound_transfers:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostTreasuryFinancialAccountsFinancialAccountFeaturesRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.financial_account_features'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/inbound_transfers:
    get:
      description: >-
        <p>Returns a list of InboundTransfers sent from the specified
        FinancialAccount.</p>
      operationId: GetTreasuryInboundTransfers
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return InboundTransfers that have the given status:
            `processing`, `succeeded`, `failed` or `canceled`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - canceled
              - failed
              - processing
              - succeeded
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryInboundTransfersRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryInboundTransfersResourceInboundTransferList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Creates an InboundTransfer.</p>
      operationId: PostTreasuryInboundTransfers
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryInboundTransfersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.inbound_transfer'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/inbound_transfers/{id}:
    get:
      description: <p>Retrieves the details of an existing InboundTransfer.</p>
      operationId: GetTreasuryInboundTransfersId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryInboundTransfersIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.inbound_transfer'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/inbound_transfers/{inbound_transfer}/cancel:
    post:
      description: <p>Cancels an InboundTransfer.</p>
      operationId: PostTreasuryInboundTransfersInboundTransferCancel
      parameters:
        - in: path
          name: inbound_transfer
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostTreasuryInboundTransfersInboundTransferCancelRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.inbound_transfer'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/outbound_payments:
    get:
      description: >-
        <p>Returns a list of OutboundPayments sent from the specified
        FinancialAccount.</p>
      operationId: GetTreasuryOutboundPayments
      parameters:
        - description: Only return OutboundPayments sent to this customer.
          in: query
          name: customer
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return OutboundPayments that have the given status:
            `processing`, `failed`, `posted`, `returned`, or `canceled`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - canceled
              - failed
              - posted
              - processing
              - returned
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryOutboundPaymentsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryOutboundPaymentsResourceOutboundPaymentList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Creates an OutboundPayment.</p>
      operationId: PostTreasuryOutboundPayments
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              destination_payment_method_data:
                explode: true
                style: deepObject
              destination_payment_method_options:
                explode: true
                style: deepObject
              end_user_details:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryOutboundPaymentsRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_payment'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/outbound_payments/{id}:
    get:
      description: >-
        <p>Retrieves the details of an existing OutboundPayment by passing the
        unique OutboundPayment ID from either the OutboundPayment creation
        request or OutboundPayment list.</p>
      operationId: GetTreasuryOutboundPaymentsId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryOutboundPaymentsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_payment'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/outbound_payments/{id}/cancel:
    post:
      description: <p>Cancel an OutboundPayment.</p>
      operationId: PostTreasuryOutboundPaymentsIdCancel
      parameters:
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryOutboundPaymentsIdCancelRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_payment'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/outbound_transfers:
    get:
      description: >-
        <p>Returns a list of OutboundTransfers sent from the specified
        FinancialAccount.</p>
      operationId: GetTreasuryOutboundTransfers
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return OutboundTransfers that have the given status:
            `processing`, `canceled`, `failed`, `posted`, or `returned`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - canceled
              - failed
              - posted
              - processing
              - returned
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryOutboundTransfersRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryOutboundTransfersResourceOutboundTransferList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
    post:
      description: <p>Creates an OutboundTransfer.</p>
      operationId: PostTreasuryOutboundTransfers
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              destination_payment_method_options:
                explode: true
                style: deepObject
              expand:
                explode: true
                style: deepObject
              metadata:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/PostTreasuryOutboundTransfersRequest'
        required: true
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_transfer'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/outbound_transfers/{outbound_transfer}:
    get:
      description: >-
        <p>Retrieves the details of an existing OutboundTransfer by passing the
        unique OutboundTransfer ID from either the OutboundTransfer creation
        request or OutboundTransfer list.</p>
      operationId: GetTreasuryOutboundTransfersOutboundTransfer
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: outbound_transfer
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/GetTreasuryOutboundTransfersOutboundTransferRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_transfer'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/outbound_transfers/{outbound_transfer}/cancel:
    post:
      description: >-
        <p>An OutboundTransfer can be canceled if the funds have not yet been
        paid out.</p>
      operationId: PostTreasuryOutboundTransfersOutboundTransferCancel
      parameters:
        - in: path
          name: outbound_transfer
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding:
              expand:
                explode: true
                style: deepObject
            schema:
              additionalProperties: false
              $ref: >-
                #/components/schemas/PostTreasuryOutboundTransfersOutboundTransferCancelRequest
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.outbound_transfer'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/received_credits:
    get:
      description: <p>Returns a list of ReceivedCredits.</p>
      operationId: GetTreasuryReceivedCredits
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: The FinancialAccount that received the funds.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: Only return ReceivedCredits described by the flow.
          explode: true
          in: query
          name: linked_flows
          required: false
          schema:
            properties:
              source_flow_type:
                enum:
                  - credit_reversal
                  - other
                  - outbound_payment
                  - payout
                type: string
                x-stripeBypassValidation: true
            required:
              - source_flow_type
            title: linked_flows_param
            type: object
          style: deepObject
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return ReceivedCredits that have the given status: `succeeded`
            or `failed`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - failed
              - succeeded
            type: string
            x-stripeBypassValidation: true
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedCreditsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryReceivedCreditsResourceReceivedCreditList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/received_credits/{id}:
    get:
      description: >-
        <p>Retrieves the details of an existing ReceivedCredit by passing the
        unique ReceivedCredit ID from the ReceivedCredit list.</p>
      operationId: GetTreasuryReceivedCreditsId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedCreditsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.received_credit'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/received_debits:
    get:
      description: <p>Returns a list of ReceivedDebits.</p>
      operationId: GetTreasuryReceivedDebits
      parameters:
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: The FinancialAccount that funds were pulled from.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return ReceivedDebits that have the given status: `succeeded`
            or `failed`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - failed
              - succeeded
            type: string
            x-stripeBypassValidation: true
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedDebitsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryReceivedDebitsResourceReceivedDebitList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/received_debits/{id}:
    get:
      description: >-
        <p>Retrieves the details of an existing ReceivedDebit by passing the
        unique ReceivedDebit ID from the ReceivedDebit list</p>
      operationId: GetTreasuryReceivedDebitsId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryReceivedDebitsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.received_debit'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/transaction_entries:
    get:
      description: <p>Retrieves a list of TransactionEntry objects.</p>
      operationId: GetTreasuryTransactionEntries
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - explode: true
          in: query
          name: effective_at
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            The results are in reverse chronological order by `created` or
            `effective_at`. The default is `created`.
          in: query
          name: order_by
          required: false
          schema:
            enum:
              - created
              - effective_at
            type: string
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Only return TransactionEntries associated with this Transaction.
          in: query
          name: transaction
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryTransactionEntriesRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryTransactionsResourceTransactionEntryList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/transaction_entries/{id}:
    get:
      description: <p>Retrieves a TransactionEntry object.</p>
      operationId: GetTreasuryTransactionEntriesId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryTransactionEntriesIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.transaction_entry'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/transactions:
    get:
      description: <p>Retrieves a list of Transaction objects.</p>
      operationId: GetTreasuryTransactions
      parameters:
        - explode: true
          in: query
          name: created
          required: false
          schema:
            anyOf:
              - properties:
                  gt:
                    type: integer
                  gte:
                    type: integer
                  lt:
                    type: integer
                  lte:
                    type: integer
                title: range_query_specs
                type: object
              - type: integer
          style: deepObject
        - description: >-
            A cursor for use in pagination. `ending_before` is an object ID that
            defines your place in the list. For instance, if you make a list
            request and receive 100 objects, starting with `obj_bar`, your
            subsequent call can include `ending_before=obj_bar` in order to
            fetch the previous page of the list.
          in: query
          name: ending_before
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - description: Returns objects associated with this FinancialAccount.
          in: query
          name: financial_account
          required: true
          schema:
            type: string
          style: form
        - description: >-
            A limit on the number of objects to be returned. Limit can range
            between 1 and 100, and the default is 10.
          in: query
          name: limit
          required: false
          schema:
            type: integer
          style: form
        - description: >-
            The results are in reverse chronological order by `created` or
            `posted_at`. The default is `created`.
          in: query
          name: order_by
          required: false
          schema:
            enum:
              - created
              - posted_at
            type: string
            x-stripeBypassValidation: true
          style: form
        - description: >-
            A cursor for use in pagination. `starting_after` is an object ID
            that defines your place in the list. For instance, if you make a
            list request and receive 100 objects, ending with `obj_foo`, your
            subsequent call can include `starting_after=obj_foo` in order to
            fetch the next page of the list.
          in: query
          name: starting_after
          required: false
          schema:
            maxLength: 5000
            type: string
          style: form
        - description: >-
            Only return Transactions that have the given status: `open`,
            `posted`, or `void`.
          in: query
          name: status
          required: false
          schema:
            enum:
              - open
              - posted
              - void
            type: string
          style: form
        - description: >-
            A filter for the `status_transitions.posted_at` timestamp. When
            using this filter, `status=posted` and `order_by=posted_at` must
            also be specified.
          explode: true
          in: query
          name: status_transitions
          required: false
          schema:
            properties:
              posted_at:
                anyOf:
                  - properties:
                      gt:
                        type: integer
                      gte:
                        type: integer
                      lt:
                        type: integer
                      lte:
                        type: integer
                    title: range_query_specs
                    type: object
                  - type: integer
            title: status_transition_timestamp_specs
            type: object
          style: deepObject
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryTransactionsRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                description: ''
                x-expandableFields:
                  - data
                $ref: >-
                  #/components/schemas/TreasuryTransactionsResourceTransactionList
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
  /v1/treasury/transactions/{id}:
    get:
      description: <p>Retrieves the details of an existing Transaction.</p>
      operationId: GetTreasuryTransactionsId
      parameters:
        - description: Specifies which fields in the response should be expanded.
          explode: true
          in: query
          name: expand
          required: false
          schema:
            items:
              maxLength: 5000
              type: string
            type: array
          style: deepObject
        - in: path
          name: id
          required: true
          schema:
            maxLength: 5000
            type: string
          style: simple
      requestBody:
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              additionalProperties: false
              $ref: '#/components/schemas/GetTreasuryTransactionsIdRequest'
        required: false
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/treasury.transaction'
          description: Successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/error'
          description: Error response.
components:
  schemas:
    error:
      description: An error response from the Stripe API
      properties:
        error:
          $ref: '#/components/schemas/api_errors'
      required:
        - error
      type: object
    treasury.credit_reversal:
      description: >-
        You can reverse some
        [ReceivedCredits](https://stripe.com/docs/api#received_credits)
        depending on their network and source flow. Reversing a ReceivedCredit
        leads to the creation of a new object known as a CreditReversal.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        financial_account:
          description: The FinancialAccount to reverse funds from.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: >-
            A [hosted transaction
            receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts)
            URL that is provided when money movement is considered regulated
            under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        network:
          description: The rails used to reverse the funds.
          enum:
            - ach
            - stripe
          type: string
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.credit_reversal
          type: string
        received_credit:
          description: The ReceivedCredit being reversed.
          maxLength: 5000
          type: string
        status:
          description: Status of the CreditReversal
          enum:
            - canceled
            - posted
            - processing
          type: string
        status_transitions:
          $ref: >-
            #/components/schemas/treasury_received_credits_resource_status_transitions
        transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/treasury.transaction'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/treasury.transaction'
      required:
        - amount
        - created
        - currency
        - financial_account
        - id
        - livemode
        - metadata
        - network
        - object
        - received_credit
        - status
        - status_transitions
      title: TreasuryReceivedCreditsResourceCreditReversal
      type: object
      x-expandableFields:
        - status_transitions
        - transaction
      x-resourceId: treasury.credit_reversal
    treasury.debit_reversal:
      description: >-
        You can reverse some
        [ReceivedDebits](https://stripe.com/docs/api#received_debits) depending
        on their network and source flow. Reversing a ReceivedDebit leads to the
        creation of a new object known as a DebitReversal.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        financial_account:
          description: The FinancialAccount to reverse funds from.
          maxLength: 5000
          nullable: true
          type: string
        hosted_regulatory_receipt_url:
          description: >-
            A [hosted transaction
            receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts)
            URL that is provided when money movement is considered regulated
            under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        linked_flows:
          anyOf:
            - $ref: >-
                #/components/schemas/treasury_received_debits_resource_debit_reversal_linked_flows
          description: Other flows linked to a DebitReversal.
          nullable: true
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        network:
          description: The rails used to reverse the funds.
          enum:
            - ach
            - card
          type: string
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.debit_reversal
          type: string
        received_debit:
          description: The ReceivedDebit being reversed.
          maxLength: 5000
          type: string
        status:
          description: Status of the DebitReversal
          enum:
            - failed
            - processing
            - succeeded
          type: string
        status_transitions:
          $ref: >-
            #/components/schemas/treasury_received_debits_resource_status_transitions
        transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/treasury.transaction'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/treasury.transaction'
      required:
        - amount
        - created
        - currency
        - id
        - livemode
        - metadata
        - network
        - object
        - received_debit
        - status
        - status_transitions
      title: TreasuryReceivedDebitsResourceDebitReversal
      type: object
      x-expandableFields:
        - linked_flows
        - status_transitions
        - transaction
      x-resourceId: treasury.debit_reversal
    treasury.financial_account:
      description: >-
        Stripe Treasury provides users with a container for money called a
        FinancialAccount that is separate from their Payments balance.

        FinancialAccounts serve as the source and destination of Treasury’s
        money movement APIs.
      properties:
        active_features:
          description: The array of paths to active Features in the Features hash.
          items:
            enum:
              - card_issuing
              - deposit_insurance
              - financial_addresses.aba
              - inbound_transfers.ach
              - intra_stripe_flows
              - outbound_payments.ach
              - outbound_payments.us_domestic_wire
              - outbound_transfers.ach
              - outbound_transfers.us_domestic_wire
              - remote_deposit_capture
            type: string
            x-stripeBypassValidation: true
          type: array
        balance:
          $ref: '#/components/schemas/treasury_financial_accounts_resource_balance'
        country:
          description: >-
            Two-letter country code ([ISO 3166-1
            alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2)).
          maxLength: 5000
          type: string
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        features:
          $ref: '#/components/schemas/treasury.financial_account_features'
        financial_addresses:
          description: The set of credentials that resolve to a FinancialAccount.
          items:
            $ref: >-
              #/components/schemas/treasury_financial_accounts_resource_financial_address
          type: array
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          nullable: true
          type: object
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.financial_account
          type: string
        pending_features:
          description: The array of paths to pending Features in the Features hash.
          items:
            enum:
              - card_issuing
              - deposit_insurance
              - financial_addresses.aba
              - inbound_transfers.ach
              - intra_stripe_flows
              - outbound_payments.ach
              - outbound_payments.us_domestic_wire
              - outbound_transfers.ach
              - outbound_transfers.us_domestic_wire
              - remote_deposit_capture
            type: string
            x-stripeBypassValidation: true
          type: array
        platform_restrictions:
          anyOf:
            - $ref: >-
                #/components/schemas/treasury_financial_accounts_resource_platform_restrictions
          description: >-
            The set of functionalities that the platform can restrict on the
            FinancialAccount.
          nullable: true
        restricted_features:
          description: The array of paths to restricted Features in the Features hash.
          items:
            enum:
              - card_issuing
              - deposit_insurance
              - financial_addresses.aba
              - inbound_transfers.ach
              - intra_stripe_flows
              - outbound_payments.ach
              - outbound_payments.us_domestic_wire
              - outbound_transfers.ach
              - outbound_transfers.us_domestic_wire
              - remote_deposit_capture
            type: string
            x-stripeBypassValidation: true
          type: array
        status:
          description: The enum specifying what state the account is in.
          enum:
            - closed
            - open
          type: string
          x-stripeBypassValidation: true
        status_details:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_status_details
        supported_currencies:
          description: >-
            The currencies the FinancialAccount can hold a balance in.
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase.
          items:
            type: string
          type: array
      required:
        - balance
        - country
        - created
        - financial_addresses
        - id
        - livemode
        - object
        - status
        - status_details
        - supported_currencies
      title: TreasuryFinancialAccountsResourceFinancialAccount
      type: object
      x-expandableFields:
        - balance
        - features
        - financial_addresses
        - platform_restrictions
        - status_details
      x-resourceId: treasury.financial_account
    treasury.financial_account_features:
      description: >-
        Encodes whether a FinancialAccount has access to a particular Feature,
        with a `status` enum and associated `status_details`.

        Stripe or the platform can control Features via the requested field.
      properties:
        card_issuing:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_toggle_settings
        deposit_insurance:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_toggle_settings
        financial_addresses:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_financial_addresses_features
        inbound_transfers:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_inbound_transfers
        intra_stripe_flows:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_toggle_settings
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.financial_account_features
          type: string
        outbound_payments:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_outbound_payments
        outbound_transfers:
          $ref: >-
            #/components/schemas/treasury_financial_accounts_resource_outbound_transfers
      required:
        - object
      title: TreasuryFinancialAccountsResourceFinancialAccountFeatures
      type: object
      x-expandableFields:
        - card_issuing
        - deposit_insurance
        - financial_addresses
        - inbound_transfers
        - intra_stripe_flows
        - outbound_payments
        - outbound_transfers
      x-resourceId: treasury.financial_account_features
    treasury.inbound_transfer:
      description: >-
        Use
        [InboundTransfers](https://stripe.com/docs/treasury/moving-money/financial-accounts/into/inbound-transfers)
        to add funds to your
        [FinancialAccount](https://stripe.com/docs/api#financial_accounts) via a
        PaymentMethod that is owned by you. The funds will be transferred via an
        ACH debit.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        cancelable:
          description: Returns `true` if the InboundTransfer is able to be canceled.
          type: boolean
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        description:
          description: >-
            An arbitrary string attached to the object. Often useful for
            displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        failure_details:
          anyOf:
            - $ref: >-
                #/components/schemas/treasury_inbound_transfers_resource_failure_details
          description: >-
            Details about this InboundTransfer's failure. Only set when status
            is `failed`.
          nullable: true
        financial_account:
          description: The FinancialAccount that received the funds.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: >-
            A [hosted transaction
            receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts)
            URL that is provided when money movement is considered regulated
            under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        linked_flows:
          $ref: >-
            #/components/schemas/treasury_inbound_transfers_resource_inbound_transfer_resource_linked_flows
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.inbound_transfer
          type: string
        origin_payment_method:
          description: The origin payment method to be debited for an InboundTransfer.
          maxLength: 5000
          type: string
        origin_payment_method_details:
          anyOf:
            - $ref: '#/components/schemas/inbound_transfers'
          description: Details about the PaymentMethod for an InboundTransfer.
          nullable: true
        returned:
          description: >-
            Returns `true` if the funds for an InboundTransfer were returned
            after the InboundTransfer went to the `succeeded` state.
          nullable: true
          type: boolean
        statement_descriptor:
          description: >-
            Statement descriptor shown when funds are debited from the source.
            Not all payment networks support `statement_descriptor`.
          maxLength: 5000
          type: string
        status:
          description: >-
            Status of the InboundTransfer: `processing`, `succeeded`, `failed`,
            and `canceled`. An InboundTransfer is `processing` if it is created
            and pending. The status changes to `succeeded` once the funds have
            been "confirmed" and a `transaction` is created and posted. The
            status changes to `failed` if the transfer fails.
          enum:
            - canceled
            - failed
            - processing
            - succeeded
          type: string
        status_transitions:
          $ref: >-
            #/components/schemas/treasury_inbound_transfers_resource_inbound_transfer_resource_status_transitions
        transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/treasury.transaction'
          description: The Transaction associated with this object.
          nullable: true
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/treasury.transaction'
      required:
        - amount
        - cancelable
        - created
        - currency
        - financial_account
        - id
        - linked_flows
        - livemode
        - metadata
        - object
        - origin_payment_method
        - statement_descriptor
        - status
        - status_transitions
      title: TreasuryInboundTransfersResourceInboundTransfer
      type: object
      x-expandableFields:
        - failure_details
        - linked_flows
        - origin_payment_method_details
        - status_transitions
        - transaction
      x-resourceId: treasury.inbound_transfer
    treasury.outbound_payment:
      description: >-
        Use OutboundPayments to send funds to another party's external bank
        account or
        [FinancialAccount](https://stripe.com/docs/api#financial_accounts). To
        send money to an account belonging to the same user, use an
        [OutboundTransfer](https://stripe.com/docs/api#outbound_transfers).


        Simulate OutboundPayment state changes with the
        `/v1/test_helpers/treasury/outbound_payments` endpoints. These methods
        can only be called on test mode objects.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        cancelable:
          description: Returns `true` if the object can be canceled, and `false` otherwise.
          type: boolean
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        customer:
          description: >-
            ID of the [customer](https://stripe.com/docs/api/customers) to whom
            an OutboundPayment is sent.
          maxLength: 5000
          nullable: true
          type: string
        description:
          description: >-
            An arbitrary string attached to the object. Often useful for
            displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        destination_payment_method:
          description: >-
            The PaymentMethod via which an OutboundPayment is sent. This field
            can be empty if the OutboundPayment was created using
            `destination_payment_method_data`.
          maxLength: 5000
          nullable: true
          type: string
        destination_payment_method_details:
          anyOf:
            - $ref: '#/components/schemas/outbound_payments_payment_method_details'
          description: Details about the PaymentMethod for an OutboundPayment.
          nullable: true
        end_user_details:
          anyOf:
            - $ref: >-
                #/components/schemas/treasury_outbound_payments_resource_outbound_payment_resource_end_user_details
          description: Details about the end user.
          nullable: true
        expected_arrival_date:
          description: >-
            The date when funds are expected to arrive in the destination
            account.
          format: unix-time
          type: integer
        financial_account:
          description: The FinancialAccount that funds were pulled from.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: >-
            A [hosted transaction
            receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts)
            URL that is provided when money movement is considered regulated
            under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.outbound_payment
          type: string
        returned_details:
          anyOf:
            - $ref: >-
                #/components/schemas/treasury_outbound_payments_resource_returned_status
          description: >-
            Details about a returned OutboundPayment. Only set when the status
            is `returned`.
          nullable: true
        statement_descriptor:
          description: >-
            The description that appears on the receiving end for an
            OutboundPayment (for example, bank statement for external bank
            transfer).
          maxLength: 5000
          type: string
        status:
          description: >-
            Current status of the OutboundPayment: `processing`, `failed`,
            `posted`, `returned`, `canceled`. An OutboundPayment is `processing`
            if it has been created and is pending. The status changes to
            `posted` once the OutboundPayment has been "confirmed" and funds
            have left the account, or to `failed` or `canceled`. If an
            OutboundPayment fails to arrive at its destination, its status will
            change to `returned`.
          enum:
            - canceled
            - failed
            - posted
            - processing
            - returned
          type: string
        status_transitions:
          $ref: >-
            #/components/schemas/treasury_outbound_payments_resource_outbound_payment_resource_status_transitions
        transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/treasury.transaction'
          description: The Transaction associated with this object.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/treasury.transaction'
      required:
        - amount
        - cancelable
        - created
        - currency
        - expected_arrival_date
        - financial_account
        - id
        - livemode
        - metadata
        - object
        - statement_descriptor
        - status
        - status_transitions
        - transaction
      title: TreasuryOutboundPaymentsResourceOutboundPayment
      type: object
      x-expandableFields:
        - destination_payment_method_details
        - end_user_details
        - returned_details
        - status_transitions
        - transaction
      x-resourceId: treasury.outbound_payment
    treasury.outbound_transfer:
      description: >-
        Use OutboundTransfers to transfer funds from a
        [FinancialAccount](https://stripe.com/docs/api#financial_accounts) to a
        PaymentMethod belonging to the same entity. To send funds to a different
        party, use
        [OutboundPayments](https://stripe.com/docs/api#outbound_payments)
        instead. You can send funds over ACH rails or through a domestic wire
        transfer to a user's own external bank account.


        Simulate OutboundTransfer state changes with the
        `/v1/test_helpers/treasury/outbound_transfers` endpoints. These methods
        can only be called on test mode objects.
      properties:
        amount:
          description: Amount (in cents) transferred.
          type: integer
        cancelable:
          description: Returns `true` if the object can be canceled, and `false` otherwise.
          type: boolean
        created:
          description: >-
            Time at which the object was created. Measured in seconds since the
            Unix epoch.
          format: unix-time
          type: integer
        currency:
          description: >-
            Three-letter [ISO currency
            code](https://www.iso.org/iso-4217-currency-codes.html), in
            lowercase. Must be a [supported
            currency](https://stripe.com/docs/currencies).
          type: string
        description:
          description: >-
            An arbitrary string attached to the object. Often useful for
            displaying to users.
          maxLength: 5000
          nullable: true
          type: string
        destination_payment_method:
          description: >-
            The PaymentMethod used as the payment instrument for an
            OutboundTransfer.
          maxLength: 5000
          nullable: true
          type: string
        destination_payment_method_details:
          $ref: '#/components/schemas/outbound_transfers_payment_method_details'
        expected_arrival_date:
          description: >-
            The date when funds are expected to arrive in the destination
            account.
          format: unix-time
          type: integer
        financial_account:
          description: The FinancialAccount that funds were pulled from.
          maxLength: 5000
          type: string
        hosted_regulatory_receipt_url:
          description: >-
            A [hosted transaction
            receipt](https://stripe.com/docs/treasury/moving-money/regulatory-receipts)
            URL that is provided when money movement is considered regulated
            under Stripe's money transmission licenses.
          maxLength: 5000
          nullable: true
          type: string
        id:
          description: Unique identifier for the object.
          maxLength: 5000
          type: string
        livemode:
          description: >-
            Has the value `true` if the object exists in live mode or the value
            `false` if the object exists in test mode.
          type: boolean
        metadata:
          additionalProperties:
            maxLength: 500
            type: string
          description: >-
            Set of [key-value pairs](https://stripe.com/docs/api/metadata) that
            you can attach to an object. This can be useful for storing
            additional information about the object in a structured format.
          type: object
        object:
          description: >-
            String representing the object's type. Objects of the same type
            share the same value.
          enum:
            - treasury.outbound_transfer
          type: string
        returned_details:
          anyOf:
            - $ref: >-
                #/components/schemas/treasury_outbound_transfers_resource_returned_details
          description: >-
            Details about a returned OutboundTransfer. Only set when the status
            is `returned`.
          nullable: true
        statement_descriptor:
          description: >-
            Information about the OutboundTransfer to be sent to the recipient
            account.
          maxLength: 5000
          type: string
        status:
          description: >-
            Current status of the OutboundTransfer: `processing`, `failed`,
            `canceled`, `posted`, `returned`. An OutboundTransfer is
            `processing` if it has been created and is pending. The status
            changes to `posted` once the OutboundTransfer has been "confirmed"
            and funds have left the account, or to `failed` or `canceled`. If an
            OutboundTransfer fails to arrive at its destination, its status will
            change to `returned`.
          enum:
            - canceled
            - failed
            - posted
            - processing
            - returned
          type: string
        status_transitions:
          $ref: >-
            #/components/schemas/treasury_outbound_transfers_resource_status_transitions
        transaction:
          anyOf:
            - maxLength: 5000
              type: string
            - $ref: '#/components/schemas/treasury.transaction'
          description: The Transaction associated with this object.
          x-expansionResources:
            oneOf:
              - $ref: '#/components/schemas/treasury.transaction'
      required:
        - amount
        - cancelable
        - created
        - currency
        - destination_payment_method_details
        - expected_arrival_date
        - financial_account
        - id
        - livemode
        - metadata
        - object
        - statement_descriptor
        - status
        - status_transitions
[...]
