<script>
///##############
///This is an intentionally crude search engine, exploring what is possible with a network of independent search nodes. 
///We are working on a cloud version, allowing users to switch between network or cloud search.
///The goal is to redefine API search with federated, cloud, localized, and any other type of search possible using APIs.json.
///If you have a better way to write a search -- let's see it!!    
///##############

function slugify(str) {
    return String(str)
        .normalize('NFKD') // split accented characters into their base characters and diacritical marks
        .replace(/[\u0300-\u036f]/g, '') // remove all the accents, which happen to be all in the \u03xx UNICODE block.
        .trim() // trim leading or trailing whitespace
        .toLowerCase() // convert to lowercase
        .replace(/[^a-z0-9 -]/g, '') // remove non-alphanumeric characters
        .replace(/\s+/g, '-') // replace spaces with hyphens
        .replace(/-+/g, '-'); // remove consecutive hyphens
    }   



    function search(){

        let query = 'api';
        if(document.getElementById('api-search').value != ''){                        
            query = document.getElementById('api-search').value;
        }
        const options = {
                method: 'get',
                headers: {
                    "Accept": "application/json"
                }
            };	
    
        fetch('{{ site.search_url }}?search=' + query,options)
            .then(function(response) {
                if (!response.ok) {
                    console.log('Error with Status Code: ' + response.status);
                    return;
                }
                response.json().then(function(search) {	
                
                    if(prime == 0){
                        
                        let rows = '';
                        if(search.data.length > 0){
                            for (let i = 1; i < search.data.length; i++) {
                                rows += '<tr>';
                                rows += '<th scope="row"></th>';
                                rows += '<td style="text-align:left; vertical-align: middle;">' + search.data[i].name + '</td>';
                                rows += '<td style="width: 50px;"><a href="' + search.data[i].humanURL + '" target="_blank"><button type="button" class="btn btn-outline-primary">API</button></a></td>';
                                rows += '<td style="width: 50px;"><a href="https://apis.io/' + search.data[i].slug + '" target="_blank"><button type="button" class="btn btn-outline-success">INFO</button></a></td>';
                                rows += '</tr>';
                            }
                            document.getElementById('search-results').innerHTML = rows;
                        }
                        else{
                            document.getElementById('search-results').innerHTML = '<tr><th scope="row"></th><td style="padding: 25px;">No Results</td></tr>';
                        }
                        
                        
                    }
                });
            })
            .catch(function(err) {
                console.log('Error: ' + err);
        });               
    }        
</script>