openapi: 3.0.1
info:
  title: Zoom REST API
  description: API Description
  contact:
    name: Zoom Developers
    url: https://zoom.us/developer
    email: developer@zoom.us
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  version: 1.0.0
externalDocs:
  description: Zoom REST API Documentation
  url: https://zoom.github.io/api
servers:
- url: https://api.zoom.us/v1
security:
- api_key: []
- api_secret: []
tags:
- name: User
  description: User operations
- name: Meeting
  description: Meeting operations
- name: Report
  description: Report operations
- name: Group
  description: Group operations
- name: IM Group
  description: IM Group operations
- name: Webinar
  description: Webinar operations
- name: Dashboard
  description: Dashboard operations
- name: Cloud Recording
  description: Cloud Recording operations
- name: Archived Chat
  description: Archived Chat operations
- name: Account
  description: Account operations
- name: Device
  description: Device operations
paths:
  /chat/get:
    post:
      tags:
      - Chat
      description: |+
        Get chat messages for a specified period.

      operationId: chatGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - access_token
              - from
              - session_id
              - to
              type: object
              properties:
                access_token:
                  type: string
                  description: Archived chat messages access token. Admin who has
                    the view privilege of Archived chat messages will get it.
                session_id:
                  type: string
                  description: Session Id of chat messages.
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: "30"
                next_page_token:
                  type: string
                  description: Used to paginate through large result sets.  A next
                    page token will be returned whenever the set of available chat
                    history list exceeds 100.  The expiration period is 30 minutes.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                session_id: unique_id
                group_name: zoom
                from: 2016-01-16
                to: 2016-01-22
                page_size: 30
                page_count: 1
                next_page_token: ""
                chat_messages:
                - message: test1
                  sender: ""
                  date_time: 2016-01-18T06:40:56Z
  /chat/list:
    post:
      tags:
      - Chat
      description: |+
        Get chat history list for a specified time period.

      operationId: chatList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - access_token
              - from
              - to
              type: object
              properties:
                access_token:
                  type: string
                  description: Archived chat messages access token. Admin who has
                    the view privilege of Archived chat messages will get it.
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: "30"
                email:
                  type: string
                  description: Email query condition.
                next_page_token:
                  type: string
                  description: Used to paginate through large result sets.  A next
                    page token will be returned whenever the set of available chat
                    history list exceeds 100.  The expiration period is 30 minutes.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                from: 2016-01-16
                to: 2016-01-22
                page_size: 30
                page_count: 1
                next_page_token: ""
                chat_list:
                - session_id: unique_id
                  type: Group
                  participants: ""
                  group_name: zoom test1
                  last_message_send_time: 2016-01-18T06:40:56Z
  /group/create:
    post:
      tags:
      - Group
      description: |+
        Create a group on Zoom, return the new group info.

      operationId: groupCreate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
                  description: "Group name, must be unique in one account."
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                group_id: unique_id
                account_id: unique_id
                name: New Group Test
                total_members: 0
  /group/delete:
    post:
      tags:
      - Group
      description: |+
        Delete a group on Zoom, return the deleted group ID.

      operationId: groupDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2015-08-20T08:41:58Z
                deleted_count: 1
  /group/edit:
    post:
      tags:
      - Group
      description: |+
        Edit a group on Zoom, return the new group info.

      operationId: groupEdit
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                name:
                  type: string
                  description: "Group name, must be unique in one account."
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                group_id: unique_id
                account_id: unique_id
                name: New Group Test
                total_members: 0
  /group/get:
    post:
      tags:
      - Group
      description: |+
        Get a group on Zoom via ID, return the group info.

      operationId: groupGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                group_id: unique_id
                account_id: unique_id
                name: Group Test
                total_members: 2
  /group/list:
    post:
      tags:
      - Group
      description: |+
        List all groups on your Zoom account.

      operationId: groupList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - api_key
              - api_secret
              type: object
              properties:
                api_key:
                  type: string
                  description: Your API Key
                api_secret:
                  type: string
                  description: Your API Secret
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                total_records: 1
                groups:
                - group_id: unique_id
                  account_id: unique_id
                  name: Group Test1
                  total_members: 40
  /group/member/add:
    post:
      tags:
      - Group
      description: |+
        Add members to a group on Zoom.

      operationId: groupMemberAdd
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              - member_ids
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                member_ids:
                  type: string
                  description: "The member IDs, separated by comma"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                add_at: 2015-08-20T08:57:38Z
                add_count: 2
  /group/member/delete:
    post:
      tags:
      - Group
      description: |+
        Delete members of a group on Zoom.

      operationId: groupMemberDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              - member_ids
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                member_ids:
                  type: string
                  description: "The member IDs, separated by comma"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2015-08-20T08:57:38Z
                deleted_count: 2
  /group/member/list:
    post:
      tags:
      - Group
      description: |+
        Lists the members of a group on Zoom.

      operationId: groupMemberList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 1
                members:
                - id: unique_id
                  email: email_address
                  first_name: Zoomie
                  last_name: Userton
                  pic_url: https://ssotest.zoom.us/p/6EoubcvJR7eF2grNXJkrHA/f2003a9c-3095-4865-8536-03cc6f211e86-9569
  /h323/device/create:
    post:
      tags:
      - Device
      description: |+
        Create a H.323/SIP Device on your Zoom account.

      operationId: deviceDeviceCreate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - ip
              - name
              type: object
              properties:
                name:
                  type: string
                  description: Display Name.
                ip:
                  type: string
                  description: IP Address or H.323 Extension.
                protocol_type:
                  type: string
                  description: "Protocol type. 1 means H.323, 2 means SIP."
                  default: "1"
                encryption_type:
                  type: string
                  description: "Encryption type. 0 means No, 1 means Yes, 2 means\
                    \ Auto."
                  default: "2"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                name: New Device
                ip: 192.168.1.10
                protocol_type: 1
                encryption_type: 2
  /h323/device/delete:
    post:
      tags:
      - Device
      description: |+
        Delete a H.323/SIP Device on your Zoom account.

      operationId: deviceDeviceDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Device ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2017-03-14T09:27:15Z
  /h323/device/list:
    post:
      tags:
      - Device
      description: |+
        List H.323/SIP Devices on your Zoom account.

      operationId: deviceDeviceList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 1
                devices:
                - id: unique_id
                  name: New Device
                  ip: 192.168.1.10
                  protocol_type: 1
                  encryption_type: 2
  /h323/device/update:
    post:
      tags:
      - Device
      description: |+
        Update a H.323/SIP Device on your Zoom account.

      operationId: deviceDeviceUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Device ID.
                name:
                  type: string
                  description: Display Name.
                ip:
                  type: string
                  description: IP Address or H.323 Extension.
                protocol_type:
                  type: string
                  description: "Protocol type. 1 means H.323, 2 means SIP."
                  default: "1"
                encryption_type:
                  type: string
                  description: "Encryption type. 0 means No, 1 means Yes, 2 means\
                    \ Auto."
                  default: "2"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                updated_at: 2017-03-14T09:27:03Z
  /im/group/create:
    post:
      tags:
      - IM Group
      description: |+
        Create a IM group on Zoom, return the new group info.

      operationId: imGroupGroupCreate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - name
              type: object
              properties:
                name:
                  type: string
                  description: "Group name, must be unique in one account."
                type:
                  type: string
                  description: "Group type, Normal: normal group, Restricted: Restricted\
                    \ group, Shared: Shared group."
                  default: Normal
                option_search_by_domain:
                  type: boolean
                  description: Others in the same email domain can search members.
                  default: false
                option_search_by_account:
                  type: boolean
                  description: Others under same account can search members.
                  default: false
                option_search_by_ma:
                  type: boolean
                  description: "Others under same master account, including all sub\
                    \ accounts can search members."
                  default: false
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                group_id: unique_id
                account_id: unique_id
                name: New Group Test
                total_members: 0
                option_search_by_domain: false
                option_search_by_account: false
                option_search_by_ma_account: false
  /im/group/delete:
    post:
      tags:
      - IM Group
      description: |+
        Delete a IM group on Zoom, return the deleted group ID.

      operationId: imGroupGroupDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2015-08-20T08:41:58Z
                deleted_count: 1
  /im/group/edit:
    post:
      tags:
      - IM Group
      description: |+
        Edit a IM group on Zoom, return the new group info.

      operationId: imGroupGroupEdit
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                name:
                  type: string
                  description: "Group name, must be unique in one account."
                type:
                  type: string
                  description: "Group type, Normal: normal group, Restricted: Restricted\
                    \ group, Shared: Shared group."
                  default: Normal
                option_search_by_domain:
                  type: boolean
                  description: Others in the same email domain can search members.
                  default: false
                option_search_by_account:
                  type: boolean
                  description: Others under same account can search members.
                  default: false
                option_search_by_ma:
                  type: boolean
                  description: "Others under same master account, including all sub\
                    \ accounts can search members."
                  default: false
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                group_id: unique_id
                account_id: unique_id
                name: New Group Test
                total_members: 0
                option_search_by_domain: false
                option_search_by_account: true
                option_search_by_ma_account: false
  /im/group/get:
    post:
      tags:
      - IM Group
      description: |+
        Get a IM group on Zoom via ID, return the group info.

      operationId: imGroupGroupGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                group_id: unique_id
                account_id: unique_id
                name: Group Test
                total_members: 2
                option_search_by_domain: false
                option_search_by_account: true
                option_search_by_ma_account: false
  /im/group/list:
    post:
      tags:
      - IM Group
      description: |+
        List all IM groups on your Zoom account.

      operationId: imGroupGroupList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - api_key
              - api_secret
              type: object
              properties:
                api_key:
                  type: string
                  description: Your API Key
                api_secret:
                  type: string
                  description: Your API Secret
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                total_records: 1
                groups:
                - group_id: unique_id
                  account_id: unique_id
                  name: Group Test1
                  total_members: 40
                  option_search_by_domain: false
                  option_search_by_account: true
                  option_search_by_ma_account: false
                  last_modified_time: 2016-04-16T07:45:41Z
  /im/group/member/delete:
    post:
      tags:
      - IM Group
      description: |+
        Delete members of a IM group on Zoom.

      operationId: imGroupGroupMemberDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              - member_ids
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                member_ids:
                  type: string
                  description: "The member IDs, separated by comma"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2015-08-20T08:57:38Z
                deleted_count: 2
  /im/group/member/list:
    post:
      tags:
      - IM Group
      description: |+
        Lists the members of a IM group on Zoom.

      operationId: imGroupGroupMemberList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Group ID.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 1
                members:
                - id: unique_id
                  email: email_address
                  first_name: Zoomie
                  last_name: Userton
                  pic_url: https://ssotest.zoom.us/p/6EoubcvJR7eF2grNXJkrHA/f2003a9c-3095-4865-8536-03cc6f211e86-9569
  /ma/account/billing/update:
    post:
      tags:
      - Account
      description: |+
        Update Billing Information for a sub account of the master account on Zoom.

      operationId: accountBillingUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
                first_name:
                  type: string
                  description: Sold To Contact’s first name.
                last_name:
                  type: string
                  description: Sold To Contact’s last name.
                phone_number:
                  type: string
                  description: Sold To Contact’s phone number.
                address:
                  type: string
                  description: Sold To Contact’s address.
                apt:
                  type: string
                  description: Sold To Contact’s Apt/Suite.
                city:
                  type: string
                  description: Sold To Contact’s city.
                country:
                  type: string
                  description: Sold To Contact’s country. For this parameter value
                    please refer to the id value in country list JSON file
                state:
                  type: string
                  description: "Sold To Contact’s state. If country value is \"US\"\
                    \ or \"CA\", for this parameter value please refer to the id value\
                    \ in state list JSON file"
                zip:
                  type: string
                  description: Sold To Contact’s zip/postal.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: 'unique_id '
                updated_at: 2012-11-25T12:00:00Z
  /ma/account/create:
    post:
      tags:
      - Account
      description: |+
        Create a sub account of the master account on Zoom, return the created sub account id and owner id.

        <aside class="notice">Your account must be a master account and have this privilege to create sub account. Zoom only assign this privilege to trusted partner.</aside>

        <aside class="notice">User will not receive the confirmation email.</aside>

      operationId: accountCreate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - email
              - first_name
              - last_name
              - password
              type: object
              properties:
                email:
                  type: string
                  description: "A valid email address. It must be unique in Zoom service.\
                    \ If an email address is existed, a \"user existing\" error message\
                    \ will be return."
                first_name:
                  type: string
                  description: User’s first name.
                last_name:
                  type: string
                  description: User’s last name.
                password:
                  type: string
                  description: User’s password.
                enable_share_rc:
                  type: boolean
                  description: Enable Share Virtual Room Connector.
                  default: false
                share_rc:
                  type: string
                  description: "Virtual Room Connector, multiple value separated by\
                    \ comma."
                enable_share_mc:
                  type: boolean
                  description: Enable Share Meeting Connector.
                  default: false
                share_mc:
                  type: string
                  description: "Meeting Connector, multiple value separated by comma."
                pay_mode:
                  type: string
                  description: "Who will pay for this account? 0 means Sub Account\
                    \ Holders Pays, 1 means Master Account Holder Pays."
                  default: "1"
                collection_method:
                  type: string
                  description: "Collection Method? 0 means Automatic (billing online),\
                    \ 1 means Manual (send invoice)."
                  default: "1"
                enable_pstn:
                  type: boolean
                  description: "The value should be true or false, by default is true."
                  default: true
                enable_enforce_login:
                  type: boolean
                  description: Only signed-in users can join this meeting.
                  default: false
                enable_enforce_login_sd:
                  type: boolean
                  description: Only signed-in users with specified domains can join
                    meetings.
                  default: false
                enforce_login_domains:
                  type: string
                  description: Domains of signed-in users.
                meeting_capacity:
                  type: string
                  description: "Account’ meeting capacity, max of 100."
                disable_cmr_reminder:
                  type: boolean
                  description: Disable cloud recording reminder.
                  default: false
                enable_only_host_download_cmr:
                  type: boolean
                  description: Enable Only the host can download cloud recordings.
                  default: false
                enable_same_account_access_cmr:
                  type: boolean
                  description: Enable Only users on my account can access cloud recordings.
                  default: false
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                owner_id: unique_id
                owner_email: email_address
                created_at: 2012-11-25T12:00:00Z
  /ma/account/delete:
    post:
      tags:
      - Account
      description: |+
        Delete the sub account.

      operationId: accountDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2012-11-25T12:00:00Z
  /ma/account/get:
    post:
      tags:
      - Account
      description: |+
        Get a sub account of the master account on Zoom, return the created sub account id and owner id.

        <aside class="notice">Your account must be a master account and have this privilege to get sub account. Zoom only assign this privilege to trusted partner.</aside>

        <aside class="notice">This API will let the master account owner to get sub account API key pair. This is a private feature and needs to be enabled by zoom support. If you need this function, please open a case with support to enable this API.</aside>

      operationId: accountGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                owner_id: unique_id
                owner_email: email_address
                created_at: 2012-11-25T12:00:00Z
  /ma/account/list:
    post:
      tags:
      - Account
      description: |+
        List all the sub account under the master account.

      operationId: accountList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - api_key
              - api_secret
              type: object
              properties:
                api_key:
                  type: string
                  description: Your API Key
                api_secret:
                  type: string
                  description: Your API Secret
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 3
                subAccounts:
                - id: unique_id
                  owner_email: email_address
                  created_at: 2015-01-27T140508Z
  /ma/account/plan/add:
    post:
      tags:
      - Account
      description: |+
        Add a plan for a sub account of the master account on Zoom.

        <aside class="notice">Only for the sub account which is a paid account and paid by master account.</aside>

        <aside class="notice">Only add an Additional plan for a sub account.</aside>

      operationId: accountPlanAdd
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              - plan
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
                plan:
                  type: string
                  description: "Additional Plan. See [Plans](#plans) for more details"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                updated_at: 2012-11-25T12:00:00Z
  /ma/account/plan/get:
    post:
      tags:
      - Account
      description: |+
        Get plans information for a sub account of the master account on Zoom.

      operationId: accountPlanGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                email: email_address
                first_name: Zoomie
                last_name: Userton
                phone_number: "123456789"
                address: address
                apt: apt
                city: city
                state: state
                zip: "12345"
                country: country
                plan_base:
                  type: monthly
                  hosts: 9
                plan_zoom_rooms:
                  type: zroom_monthly
                  hosts: 9
                plan_room_connector:
                  type: roomconnector_yearly
                  hosts: 9
                plan_large_meeting:
                - type: large100_monthly
                  hosts: 9
                - type: large200_monthly
                  hosts: 9
                - type: large300_yearly
                  hosts: 9
                - type: large500_yearly
                  hosts: 9
                plan_webinar:
                - type: webinar100_monthly
                  hosts: 9
                - type: webinar500_yearly
                  hosts: 9
                - type: webinar1000_yearly
                  hosts: 9
                - type: webinar3000_monthly
                  hosts: 9
                - type: webinar5000_monthly
                  hosts: 9
                - type: webinar10000_monthly
                  hosts: 9
                plan_recording: cmr_monthly_commitment_500
                plan_audio:
                  type: tollfree_monthly_commitment_100
                  tollfree_country: AT
                  premium_country: TW
                  callout: 1
                  ddi_numbers: 66
  /ma/account/plan/subscribe:
    post:
      tags:
      - Account
      description: |+
        Subscribe plans for a sub account of the master account on Zoom.

      operationId: accountPlanSubscribe
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              - address
              - city
              - country
              - first_name
              - last_name
              - phone_number
              - plan_base
              - state
              - zip
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
                first_name:
                  type: string
                  description: Sold To Contact’s first name.
                last_name:
                  type: string
                  description: Sold To Contact’s last name.
                phone_number:
                  type: string
                  description: Sold To Contact’s phone number.
                address:
                  type: string
                  description: Sold To Contact’s address.
                apt:
                  type: string
                  description: Sold To Contact’s Apt/Suite.
                city:
                  type: string
                  description: Sold To Contact’s city.
                country:
                  type: string
                  description: Sold To Contact’s country. For this parameter value
                    please refer to the id value in country list JSON file
                state:
                  type: string
                  description: "Sold To Contact’s state. If country value is \"US\"\
                    \ or \"CA\", for this parameter value please refer to the id value\
                    \ in state list JSON file"
                zip:
                  type: string
                  description: Sold To Contact’s zip/postal.
                plan_base:
                  type: string
                  description: "Base Plan.  See [Plans](#plans) for more details"
                plan_zoom_rooms:
                  type: string
                  description: "Additional Zoom Rooms Plan.  See [Plans](#plans) for\
                    \ more details"
                plan_room_connector:
                  type: string
                  description: "Additional H.323/SIP Room Connector Plan.  See [Plans](#plans)\
                    \ for more details"
                plan_large_meeting:
                  type: string
                  description: "Additional Large Meeting Plan.  See [Plans](#plans)\
                    \ for more details"
                plan_webinar:
                  type: string
                  description: "Additional Webinar Plan.  See [Plans](#plans) for\
                    \ more details"
                plan_recording:
                  type: string
                  description: "Additional Cloud Recording Plan.  See [Plans](#plans)\
                    \ for more details"
                plan_audio:
                  type: string
                  description: "Additional Audio Conferencing Plan.  See [Plans](#plans)\
                    \ for more details"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                email: email_address
                first_name: Zoomie
                last_name: Userton
                phone_number: "123456789"
                address: address
                apt: apt
                city: city
                state: state
                zip: "12345"
                country: country
                plan_base:
                  type: monthly
                  hosts: 9
                plan_zoom_rooms:
                  type: zroom_monthly
                  hosts: 9
                plan_room_connector:
                  type: roomconnector_yearly
                  hosts: 9
                plan_large_meeting:
                - type: large200_monthly
                  hosts: 9
                - type: large300_yearly
                  hosts: 9
                - type: large500_yearly
                  hosts: 9
                plan_webinar:
                - type: webinar100_monthly
                  hosts: 9
                - type: webinar500_yearly
                  hosts: 9
                - type: webinar1000_yearly
                  hosts: 9
                - type: webinar3000_monthly
                  hosts: 9
                - type: webinar5000_monthly
                  hosts: 9
                - type: webinar10000_monthly
                  hosts: 9
                plan_recording: cmr_monthly_commitment_500
                plan_audio:
                  type: tollfree_monthly_commitment_100
                  tollfree_country: AT
                  premium_country: TW
                  callout: 1
                  ddi_numbers: 66
  /ma/account/plan/update:
    post:
      tags:
      - Account
      description: |+
        Update a plan for a sub account of the master account on Zoom.

        <aside class="notice">Only for the sub account which is a paid account and paid by master account.</aside>

        <aside class="notice">Could update a base plan or an additional plan.</aside>

      operationId: accountPlanUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              - plan
              - type
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
                type:
                  type: string
                  description: "Plan Type. 1 means Base Plan, 2 means Additional Plan."
                  default: "1"
                plan:
                  type: string
                  description: "A Base Plan or an Additional Plan. See [Plans](#plans)\
                    \ for more details"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: w40hUJRpRmmkx4uPXczdHg
                updated_at: 2012-11-25T12:00:00Z
  /ma/account/update:
    post:
      tags:
      - Account
      description: |+
        Update a sub account of the master account on Zoom, return the updated sub account id.

      operationId: accountUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - account_id
              type: object
              properties:
                account_id:
                  type: string
                  description: The sub account ID.
                enable_share_rc:
                  type: string
                  description: Enable Share Virtual Room Connector.
                share_rc:
                  type: string
                  description: "Virtual Room Connector, multiple value separated by\
                    \ comma."
                enable_share_mc:
                  type: string
                  description: Enable Share Meeting Connector.
                share_mc:
                  type: string
                  description: "Meeting Connector, multiple value separated by comma."
                pay_mode:
                  type: string
                  description: "Who will pay for this account? 0 means Sub Account\
                    \ Holders Pays, 1 means Master Account Holder Pays."
                collection_method:
                  type: string
                  description: "Collection Method? 0 means Automatic (billing online),\
                    \ 1 means Manual (send invoice)."
                enable_pstn:
                  type: boolean
                  description: "The value should be true or false, by default is true."
                  default: true
                enable_call_out:
                  type: boolean
                  description: "The value should be true or false. If it is true,\
                    \ the user under this account will follow MA call out type."
                  default: false
                enable_enforce_login:
                  type: boolean
                  description: Only signed-in users can join this meeting.
                  default: false
                enable_enforce_login_sd:
                  type: boolean
                  description: Only signed-in users with specified domains can join
                    meetings.
                  default: false
                enforce_login_domains:
                  type: string
                  description: Domains of signed-in users.
                meeting_capacity:
                  type: string
                  description: "Account’ meeting capacity, max of 100."
                disable_cmr_reminder:
                  type: boolean
                  description: Disable cloud recording reminder.
                  default: false
                enable_only_host_download_cmr:
                  type: boolean
                  description: Enable Only the host can download cloud recordings.
                  default: false
                enable_same_account_access_cmr:
                  type: boolean
                  description: Enable Only users on my account can access cloud recordings.
                  default: false
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                updated_at: 2012-11-25T12:00:00Z
  /mc/recording/list:
    post:
      tags:
      - Cloud Recording
      description: |+
        Lists all the cloud recordings meetings on a Meeting Connector

      operationId: mcRecordingList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              type: object
              properties:
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
                meeting_number:
                  type: string
                  description: The meeting number.
                from:
                  type: string
                  description: "The meeting start time after this date, MM/dd/yyyy\
                    \ hh:mm a. For example: 11/05/2014 09:05 pm. Use the host’s time\
                    \ zone, if host has not set time zone, will use GMT."
                to:
                  type: string
                  description: "The meeting start time before this date, MM/dd/yyyy\
                    \ hh:mm a."
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 300 meetings.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 15
                total_records: 1
                meetings:
                - uuid: unique_id
                  meeting_number: "123456789"
                  host_id: unique_id
                  account_id: unique_id
                  topic: Meeting Topic
                  start_time: 2014-11-06T04:10:10Z
                  timezone: America/Los_Angeles
                  duration: 999
                  total_size: 4324324324
                  recording_count: 1
                  recording_files:
                  - id: unique_id
                    meeting_id: unique_id
                    recording_start: 2014-11-06T04:14:10Z
                    recording_end: 2014-11-06T04:24:10Z
                    file_type: M4A
                    file_size: 432432
                    play_url: https://brand.zoom.us/recording/play/HzMyuI23bqxlJLVJLrww3L9ZuFeZEvYtG0vQ6pHhp6Twr6GPjX4Qks_CJak7jrU2
                    download_url: https://brand.zoom.us/recording/download/HzMyuI23bqxlJLVJLrww3L9ZuFeZEvYtG0vQ6pHhp6Twr6GPjX4Qks_CJak7jrU2
  /meeting/create:
    post:
      tags:
      - Meeting
      description: |+
        Create a meeting on Zoom, return the created meeting URL

      operationId: meetingCreate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              - topic
              - type
              type: object
              properties:
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
                    Cannot be updated after creation.
                type:
                  type: string
                  description: "Meeting type: 1 means instant meeting (Only used for\
                    \ host to start it as soon as created). 2 means normal scheduled\
                    \ meeting. 3 means a recurring meeting with no fixed time. 8 means\
                    \ a recurring meeting with fixed time."
                  default: "2"
                topic:
                  type: string
                  description: Meeting topic. Max of 300 characters.
                start_time:
                  type: string
                  description: "Meeting start time in ISO datetime format. For scheduled\
                    \ meeting and recurring meeting with fixed time. Should be UTC\
                    \ time, such as 2012-11-25T12:00:00Z."
                duration:
                  type: string
                  description: Meeting duration (minutes). For scheduled meeting only.
                timezone:
                  type: string
                  description: "Timezone to format start_time, like \"America/Los_Angeles\"\
                    . For scheduled meeting only. For this parameter value please\
                    \ refer to the id value in timezone list JSON file."
                password:
                  type: string
                  description: "Meeting password. Password may only contain the following\
                    \ characters: [a-z A-Z 0-9 @ - _"
                  default: ' 10 characters'
                recurrence:
                  type: string
                  description: "Recurrence Meeting Settings. For recurring meeting\
                    \ with fixed time only. See [Recurrence Object](#recurrence-object)\
                    \ for more details."
                option_registration:
                  type: boolean
                  description: Registration required.
                  default: false
                registration_type:
                  type: string
                  description: "Registration type. 1 means Attendees register once\
                    \ and can attend any of the occurrences, 2 means Attendees need\
                    \ to register for each occurrence to attend, 3 means Attendees\
                    \ register once and can choose one or more occurrences to attend.\
                    \ For recurring meeting with fixed time only."
                  default: "1"
                option_jbh:
                  type: boolean
                  description: Join meeting before host start the meeting. Only for
                    scheduled or recurring meetings.
                  default: false
                option_start_type:
                  type: string
                  description: Meeting start type. Can be "video" or "screen_share".
                    (deprecated)
                  default: video
                option_host_video:
                  type: boolean
                  description: Start video when host join meeting.
                  default: true
                option_participants_video:
                  type: boolean
                  description: Start video when participants join meeting.
                  default: true
                option_cn_meeting:
                  type: boolean
                  description: Host meeting in China.
                  default: false
                option_in_meeting:
                  type: boolean
                  description: Host meeting in India.
                  default: false
                option_audio:
                  type: string
                  description: "Meeting audio options. Can be \"both\", \"telephony\"\
                    , \"voip\"."
                  default: both
                option_enforce_login:
                  type: boolean
                  description: Only signed-in users can join this meeting.
                  default: false
                option_enforce_login_domains:
                  type: string
                  description: Only signed-in users with specified domains can join
                    meetings.
                option_alternative_hosts:
                  type: string
                  description: Alternative hosts.
                option_alternative_host_ids:
                  type: string
                  description: Alternative hosts IDs.
                option_use_pmi:
                  type: boolean
                  description: Use Personal Meeting ID. Only for scheduled meetings.
                  default: false
                option_auto_record_type:
                  type: string
                  description: "Automatically record type. Can be \"local\", \"cloud\"\
                    \ or \"none\"."
                  default: local
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                uuid: unique_id
                id: "123456789"
                start_url: https://zoom.us/s/123456789?zak=xxxxxx
                join_url: https://zoom.us/j/123456789
                created_at: 2012-11-25T12:00:00Z
                host_id: unique_id
                topic: Topic for this meeting
                type: 2
                option_jbh: false
                option_start_type: video
                start_time: 2012-11-25T12:00:00Z
                duration: 30
                timezone: America/Los_Angeles
                password: "123"
                h323_password: "123456"
                option_host_video: false
                option_participants_video: false
                option_audio: both
                option_enforce_login: false
                'option_enforce_login_domains ': ""
                option_alternative_hosts: ""
                status: 0
  /meeting/delete:
    post:
      tags:
      - Meeting
      description: |+
        Delete a meeting on Zoom, return the deleted meeting ID.

      operationId: meetingDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Meeting ID.
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
                occurrence_id:
                  type: string
                  description: "Occurrence ID, could get this value from Meeting Get\
                    \ API."
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: "123456789"
                deleted_at: 2012-11-25T12:00:00Z
  /meeting/end:
    post:
      tags:
      - Meeting
      description: |+
        End a meeting on Zoom, return the deleted meeting ID.

      operationId: meetingEnd
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Meeting ID.
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: "123456789"
                ended_at: 2012-11-25T12:00:00Z
  /meeting/get:
    post:
      tags:
      - Meeting
      description: |+
        Get a meeting on Zoom via meeting ID, return the meeting info.

      operationId: meetingGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              - id
              type: object
              properties:
                id:
                  type: string
                  description: Meeting ID.
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                uuid: unique_id
                id: "123456789"
                host_id: unique_id
                topic: Zoom Meeting
                password: ""
                h323_password: ""
                status: 0
                option_jbh: false
                option_start_type: video
                option_host_video: true
                option_participants_video: true
                option_cn_meeting: false
                option_enforce_login: false
                option_enforce_login_domains: ""
                option_in_meeting: false
                option_audio: both
                option_alternative_hosts: ""
                option_use_pmi: false
                type: 8
                start_time: ""
                duration: 0
                timezone: Asia/Hong_Kong
                start_url: https://www.zoom.us/s/123456789?zak=xxxxxx
                join_url: https://www.zoom.us/j/123456789
                created_at: 2016-12-20T02:51:42Z
                occurrences:
                - occurrence_id: "1483210260000"
                  start_time: 2017-01-01T02:51:00Z
                  duration: 60
  /meeting/list:
    post:
      tags:
      - Meeting
      description: |+
        List all the scheduled meetings on Zoom.

      operationId: meetingList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              type: object
              properties:
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 300 meetings.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 5
                total_records: 235
                page_number: 1
                page_size: 50
                meetings:
                - uuid: unique_id
                  id: "123456789"
                  start_url: https://zoom.us/s/123456789?zak=xxxxxx
                  join_url: https://zoom.us/j/123456789
                  created_at: 2012-11-25T12:00:00Z
                  host_id: unique_id
                  topic: Topic for this meeting
                  type: 2
                  start_time: 2012-11-25T12:00:00Z
                  duration: 30
                  timezone: America/Los_Angeles
                  password: "123"
                  h323_password: "123456"
                  option_jbh: false
                  option_start_type: video
                  option_host_video: false
                  option_participants_video: false
                  option_audio: both
                  option_enforce_login: false
                  'option_enforce_login_domains ': ""
                  option_alternative_hosts: ""
                  status: 0
  /meeting/live:
    post:
      tags:
      - Meeting
      description: |+
        Lists the live meetings on Zoom.

      operationId: meetingLive
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - api_key
              - api_secret
              type: object
              properties:
                api_key:
                  type: string
                  description: Your API Key
                api_secret:
                  type: string
                  description: Your API Secret
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 5
                total_records: 235
                page_number: 1
                page_size: 50
                meetings:
                - uuid: unique_id
                  id: "123456789"
                  start_url: https://zoom.us/s/123456789?zak=xxxxxx
                  join_url: https://zoom.us/j/123456789
                  created_at: 2012-11-25T12:00:00Z
                  host_id: unique_id
                  topic: Topic for this meeting
                  type: 2
                  status: 0
                  start_time: 2012-11-25T12:00:00Z
                  duration: 30
                  timezone: America/Los_Angeles
                  password: "123"
                  h323_password: "123456"
                  option_jbh: false
                  option_start_type: video
                  option_host_video: false
                  option_participants_video: false
                  option_audio: both
                  option_enforce_login: false
                  'option_enforce_login_domains ': ""
                  option_alternative_hosts: ""
  /meeting/register:
    post:
      tags:
      - Meeting
      description: |+
        Register for a meeting.

      operationId: meetingRegister
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - email
              - first_name
              - id
              - last_name
              type: object
              properties:
                id:
                  type: string
                  description: Meeting ID.
                email:
                  type: string
                  description: A valid email address.
                first_name:
                  type: string
                  description: User’s first name.
                last_name:
                  type: string
                  description: User’s last name.
                address:
                  type: string
                  description: Address.
                city:
                  type: string
                  description: City.
                country:
                  type: string
                  description: Country. For this parameter value please refer to the
                    id value in country list JSON file
                zip:
                  type: string
                  description: Zip/Postal Code.
                state:
                  type: string
                  description: State/Province.
                phone:
                  type: string
                  description: Phone.
                industry:
                  type: string
                  description: Industry.
                org:
                  type: string
                  description: Organization.
                job_title:
                  type: string
                  description: Job Title.
                purchasing_time_frame:
                  type: string
                  description: "Purchasing Time Frame, should be \"Within a month\"\
                    , \"1-3 months\", \"4-6 months\", \"More than 6 months\", \"No\
                    \ timeframe\"."
                role_in_purchase_process:
                  type: string
                  description: "Role in Purchase Process, should be \"Decision Maker\"\
                    , \"Evaluator/Recommender\", \"Influencer\", \"Not involved\"."
                no_of_employees:
                  type: string
                  description: "Number of Employees, should be \"1-20\", \"21-50\"\
                    , \"51-100\", \"101-250\", \"251-500\", \"501-1,000\", \"1,001-5,000\"\
                    , \"5,001-10,000\", \"More than 10,000\"."
                comments:
                  type: string
                  description: Questions & Comments.
                custom_questions:
                  type: string
                  description: "Custom Questions, should be JSON format: [{\"title\"\
                    :\"field_name1\",\"value\":\"xxx\"},{\"title\":\"field_name2\"\
                    ,\"value\":\"xxx\"}]."
                language:
                  type: string
                  description: "Language setting of email. This value should be \"\
                    en-US\", \"en\", \"zh-CN\", \"zh\", \"en-ES\", \"es\", \"fr-FR\"\
                    \ or \"fr\"."
                occurrence_ids:
                  type: string
                  description: "Occurrence IDs, could get this value from Meeting\
                    \ Get API."
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                registrant_id: unique_id
                id: "123456789"
                topic: meeting registration
                start_time: 2016-02-21T04:00:00Z
                join_url: https://www.zoom.us/w/869275230?tk=2DsQiu6nZVsZVATrPLvXgqPvw8mmKyxgAGaDMizLv34.DQEAAAAAM9AWXhZ2Nm5vRjIyMlRoUzE3ZktWM3l4cHVRAA
  /meeting/update:
    post:
      tags:
      - Meeting
      description: |+
        Update meeting info on Zoom via meeting ID.

      operationId: meetingUpdate
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              - id
              - type
              type: object
              properties:
                id:
                  type: string
                  description: Meeting ID.
                host_id:
                  type: string
                  description: "Meeting host user ID. Can be any user under this account.\
                    \ Used to retrieve a meeting, cannot be updated."
                type:
                  type: string
                  description: "Meeting type: 1 means instant meeting (Only used for\
                    \ host to start it as soon as created). 2 means normal scheduled\
                    \ meeting. 3 means a recurring meeting with no fixed time. 8 means\
                    \ a recurring meeting with fixed time."
                  default: "2"
                topic:
                  type: string
                  description: Meeting topic. Max of 300 characters.
                start_time:
                  type: string
                  description: "Meeting start time in ISO datetime format. For scheduled\
                    \ meeting only. Should be UTC time, such as 2012-11-25T12:00:00Z."
                duration:
                  type: string
                  description: Meeting duration (minutes). For scheduled meeting only.
                timezone:
                  type: string
                  description: "Timezone to format start_time, like \"America/Los_Angeles\"\
                    . For scheduled meeting only. For this parameter value please\
                    \ refer to the id value in timezone list JSON file."
                password:
                  type: string
                  description: "Meeting password. Password may only contain the following\
                    \ characters: [a-z A-Z 0-9 @ - _"
                  default: ' 10 characters'
                recurrence:
                  type: string
                  description: "Recurrence Meeting Settings. For recurring meeting\
                    \ with fixed time only. See [Recurrence Object](#recurrence-object)\
                    \ for more details."
                option_registration:
                  type: boolean
                  description: Registration required.
                  default: false
                registration_type:
                  type: string
                  description: "Registration type. 1 means Attendees register once\
                    \ and can attend any of the occurrences, 2 means Attendees need\
                    \ to register for each occurrence to attend, 3 means Attendees\
                    \ register once and can choose one or more occurrences to attend.\
                    \ For recurring meeting with fixed time only."
                  default: "1"
                option_jbh:
                  type: boolean
                  description: Join meeting before host start the meeting. Only for
                    scheduled or recurring meetings.
                  default: false
                option_start_type:
                  type: string
                  description: Meeting start type. Can be "video" or "screen_share".
                    (deprecated)
                  default: video
                option_host_video:
                  type: boolean
                  description: Start video when host join meeting.
                  default: true
                option_participants_video:
                  type: boolean
                  description: Start video when participants join meeting.
                  default: true
                option_cn_meeting:
                  type: boolean
                  description: Host meeting in China.
                  default: false
                option_in_meeting:
                  type: boolean
                  description: Host meeting in India.
                  default: false
                option_audio:
                  type: string
                  description: "Meeting audio options. Can be \"both\", \"telephony\"\
                    , \"voip\"."
                  default: both
                option_enforce_login:
                  type: boolean
                  description: Only signed-in users can join this meeting.
                  default: false
                option_enforce_login_domains:
                  type: string
                  description: Only signed-in users with specified domains can join
                    meetings.
                option_alternative_hosts:
                  type: string
                  description: Alternative hosts.
                option_alternative_host_ids:
                  type: string
                  description: Alternative hosts IDs.
                option_use_pmi:
                  type: boolean
                  description: Use Personal Meeting ID. Only for scheduled meetings.
                  default: false
                option_auto_record_type:
                  type: string
                  description: "Automatically record type. Can be \"local\", \"cloud\"\
                    \ or \"none\"."
                  default: local
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                updated_at: 2012-11-25T12:00:00Z
  /metrics/crc:
    post:
      tags:
      - Dashboard
      description: |+
        Get CRC Port usage hour by hour for a specified time period.

      operationId: dashboardCrc
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - from
              - to
              type: object
              properties:
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                from: 2015-03-12
                to: 2015-03-12
                crc_ports_usage:
                - date_time: 2015-03-12
                  crc_ports_hour_usage:
                  - hour: "00"
                    max_usage: 1
                    total_usage: 3
  /metrics/im:
    post:
      tags:
      - Dashboard
      description: |+
        Get statistics of Zoom IM

      operationId: dashboardIm
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - from
              - to
              type: object
              properties:
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                from: 2016-04-12
                to: 2016-04-13
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 10
                users:
                - user_id: unique_id
                  user_name: Zoomie Userton
                  email: email_address
                  total_send: 0
                  total_receive: 0
                  group_send: 0
                  group_receive: 0
                  calls_send: 0
                  calls_receive: 0
                  files_send: 0
                  files_receive: 0
                  images_send: 0
                  images_receive: 0
                  voice_send: 0
                  voice_receive: 0
                  videos_send: 0
                  videos_receive: 0
                  emoji_send: 0
                  emoji_receive: 0
  /metrics/meetingdetail:
    post:
      tags:
      - Dashboard
      description: |+
        Get live and past meeting details

      operationId: dashboardMeetingdetail
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - meeting_id
              - type
              type: object
              properties:
                meeting_id:
                  type: string
                  description: "The meeting ID Example: ucc69C82Q5mTNyCRWE29Aw== Or\
                    \ B9C73AF4-2F36-4399-9337-2091584DBD03"
                type:
                  type: string
                  description: Meeting type. 1 means live meeting. 2 means past meeting.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 100 records.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                uuid: unique_id
                id: "123456789"
                type: Past Meeting
                host: Zoomie Userton
                email: email_address
                user_type: Pro
                start_time: 2015-08-30T05:36:56Z
                end_time: 2015-08-30T06:36:56Z
                duration: 4 mins
                has_pstn: false
                has_voip: true
                has_3rd_party_audio: false
                has_video: true
                has_screen_share: false
                recording: 0
                participants_count: 2
                page_count: 1
                page_number: 1
                page_size: 30
                participants:
                - id: unique_id
                  user_id: unique_id
                  user_name: Zoomie Userton
                  device: Mac
                  ip_address: 117.83.222.228
                  cn: CN
                  city: Nanjing
                  network_type: Wifi
                  join_time: 2017-02-18T01:44:47Z
                  leave_time: 2017-02-18T01:45:58Z
                  share_application: true
                  share_desktop: true
                  share_whiteboard: true
                  recording: true
  /metrics/meetings:
    post:
      tags:
      - Dashboard
      description: |+
        Get Live Meetings and past meetings for a specified period

      operationId: dashboardMeetings
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - from
              - to
              - type
              type: object
              properties:
                type:
                  type: string
                  description: Meeting list type. 1 means live meetings. 2 means past
                    meetings.
                  default: "1"
                from:
                  type: string
                  description: Start date. Only for past meetings.
                to:
                  type: string
                  description: End date. Only for past meetings.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 100 meetings.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                from: 2015-08-02
                to: 2015-09-02
                page_count: 2
                page_number: 1
                page_size: 30
                total_records: 49
                type: Past Meetings
                meetings:
                - uuid: unique_id
                  id: "123456789"
                  host: Zoomie Userton
                  email: email_address
                  user_type: Pro
                  start_time: 2015-08-29T05:36:56Z
                  end_time: 2015-08-29T06:36:56Z
                  duration: 4 mins
                  participants: 2
                  has_pstn: false
                  has_voip: true
                  has_3rd_party_audio: false
                  has_video: true
                  has_screen_share: false
                  recording: 0
  /metrics/qos:
    post:
      tags:
      - Dashboard
      description: |+
        Get the users quality of service in a Zoom Meeting

      operationId: dashboardQos
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - meeting_id
              - type
              type: object
              properties:
                meeting_id:
                  type: string
                  description: The meeting ID.
                type:
                  type: string
                  description: Meeting type. 1 means live meeting. 2 means past meeting.
                user_id:
                  type: string
                  description: The user ID to get user qos.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 10. Max of 10 records.
                  default: "10"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                meeting_id: unique_id
                user_id: unique_id
                type: Past Meeting
                device: Mac
                ip_address: 112.80.63.6
                cn: CN
                city: Nanjing
                version: 3.5.35288.1217
                user_qos:
                - dateTime: 2015-08-30T06:40:56Z
                  audio_input:
                    bitrate: 29 kbps
                    latency: 39 ms
                    jitter: 11 ms
                    avg_loss: 2.5%
                    max_loss: 5.0%
                  audio_output:
                    bitrate: ""
                    latency: ""
                    jitter: ""
                    avg_loss: ""
                    max_loss: ""
                  video_input:
                    bitrate: 77 kbps
                    latency: 84 ms
                    jitter: 4 ms
                    avg_loss: 28.3%
                    max_loss: 28.3%
                    resolution: 480*270
                    frame_rate: 3 fps
                  video_output:
                    bitrate: ""
                    latency: ""
                    jitter: ""
                    avg_loss: ""
                    max_loss: ""
                    resolution: ""
                    frame_rate: ""
                  as_input:
                    bitrate: ""
                    latency: ""
                    jitter: ""
                    avg_loss: ""
                    max_loss: ""
                    resolution: ""
                    frame_rate: ""
                  as_output:
                    bitrate: ""
                    latency: ""
                    jitter: ""
                    avg_loss: ""
                    max_loss: ""
                    resolution: ""
                    frame_rate: ""
                  cpu_usage:
                    zoom_min_cpu_usage: 1%
                    zoom_avg_cpu_usage: 3%
                    zoom_max_cpu_usage: 5%
                    system_max_cpu_usage: 20%
  /metrics/webinardetail:
    post:
      tags:
      - Dashboard
      description: |+
        Get live and past webinar details

      operationId: dashboardWebinardetail
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - meeting_id
              - type
              type: object
              properties:
                meeting_id:
                  type: string
                  description: "The meeting ID Example: ucc69C82Q5mTNyCRWE29Aw== Or\
                    \ B9C73AF4-2F36-4399-9337-2091584DBD03"
                type:
                  type: string
                  description: Meeting type. 1 means live webinar. 2 means past webinar.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 100 records.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                uuid: unique_id
                id: "123456789"
                type: Past Webinar
                host: Zoomie Userton
                email: email_address
                user_type: Pro
                start_time: 2015-08-30T05:36:56Z
                end_time: 2015-08-30T06:36:56Z
                duration: 4 mins
                has_pstn: false
                has_voip: true
                has_3rd_party_audio: false
                has_video: true
                has_screen_share: false
                recording: 0
                participants_count: 2
                page_count: 1
                page_number: 1
                page_size: 30
                participants:
                - id: unique_id
                  user_id: unique_id
                  user_name: Zoomie Userton
                  device: Mac
                  ip_address: 117.83.222.228
                  cn: CN
                  city: Nanjing
                  network_type: Wifi
                  join_time: 2017-02-18T01:44:47Z
                  leave_time: 2017-02-18T01:45:58Z
                  share_application: true
                  share_desktop: true
                  share_whiteboard: true
                  recording: true
  /metrics/webinars:
    post:
      tags:
      - Dashboard
      description: |+
        Get live webinars and past webinars for a specified period.

      operationId: dashboardWebinars
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - from
              - to
              - type
              type: object
              properties:
                type:
                  type: string
                  description: Webinar list type. 1 means live webinars. 2 means past
                    webinars.
                  default: "1"
                from:
                  type: string
                  description: Start date. Only for past webinars.
                to:
                  type: string
                  description: End date. Only for past webinars.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 100 webinars.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                from: 2015-08-02
                to: 2015-09-02
                page_count: 2
                page_number: 1
                page_size: 30
                total_records: 49
                type: Past Webinars
                meetings:
                - uuid: unique_id
                  id: "123456789"
                  host: Zoomie Userton
                  email: email_address
                  user_type: Pro
                  start_time: 2015-08-29T05:36:56Z
                  end_time: 2015-08-29T06:36:56Z
                  duration: 4 mins
                  participants: 2
                  has_pstn: false
                  has_voip: true
                  has_3rd_party_audio: false
                  has_video: true
                  has_screen_share: false
                  recording: 0
  /metrics/zoomroomdetail:
    post:
      tags:
      - Dashboard
      description: |+
        Get a Zoom Room on Zoom via Zoom ID, return the Zoom Room info.

      operationId: dashboardZoomroomdetail
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - from
              - id
              - to
              type: object
              properties:
                id:
                  type: string
                  description: "The zoom room ID. Example: ucc69C82Q5mTNyCRWE29Aw==\
                    \ Or B9C73AF4-2F36-4399-9337-2091584DBD03"
                from:
                  type: string
                  description: Start date.
                to:
                  type: string
                  description: End date.
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                from: 2016-04-12
                to: 2016-04-13
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 1
                zoom_room:
                  id: unique_id
                  room_name: zoom room
                  email: zoomroom@zoom.us
                  account_type: Work Email
                  passcode: "123"
                  status: Available
                  messages:
                    last_started_time: ""
                    running_time: ""
                    selected_microphone: ""
                    selected_speaker: ""
                    selected_camera: ""
                  meeting_id: ""
                live_meeting:
                  uuid: ""
                  id: 0
                  host: ""
                  email: ""
                  user_type: ""
                  start_time: ""
                  end_time: ""
                  duration: ""
                  participants: 0
                  has_pstn: false
                  has_voip: false
                  has_3rd_party_audio: false
                  has_video: false
                  has_screen_share: false
                  recording: 0
                past_meetings:
                - uuid: unique_id
                  id: "123456789"
                  host: Zoomie Userton
                  email: email_address
                  user_type: ""
                  start_time: ""
                  end_time: ""
                  duration: ""
                  participants: 1
                  has_pstn: false
                  has_voip: false
                  has_3rd_party_audio: false
                  has_video: false
                  has_screen_share: false
                  recording: 0
  /metrics/zoomrooms:
    post:
      tags:
      - Dashboard
      description: |+
        List all Zoom Rooms on Zoom.

      operationId: dashboardZoomrooms
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 30 records.
                  default: "30"
                page_number:
                  type: string
                  description: Current page number of returned records. Default to
                    1.
                  default: "1"
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                page_count: 1
                page_number: 1
                page_size: 30
                total_records: 2
                zoom_rooms:
                - id: unique_id
                  room_name: zoom room1
                  email: zoomroom1@zoom.us
                  account_type: Work Email
                  passcode: "123"
                  status: Available
                  messages:
                    last_started_time: ""
                    running_time: ""
                    selected_microphone: ""
                    selected_speaker: ""
                    selected_camera: ""
                  meeting_id: ""
  /recording/delete:
    post:
      tags:
      - Cloud Recording
      description: |+
        Delete recorded meeting either on Zoom cloud or on-premise.

      operationId: recordingDelete
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - meeting_id
              type: object
              properties:
                meeting_id:
                  type: string
                  description: "The meeting ID. Example: ucc69C82Q5mTNyCRWE29Aw==\
                    \ Or B9C73AF4-2F36-4399-9337-2091584DBD03"
                file_id:
                  type: string
                  description: "The file ID, if given this, will only delete this\
                    \ one file, if not given this, will delete all files of the meeting"
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                id: unique_id
                deleted_at: 2012-11-25T12:00:00Z
  /recording/get:
    post:
      tags:
      - Cloud Recording
      description: |+
        Get the recorded meeting on either Zoom cloud or on-prem.

      operationId: recordingGet
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - meeting_id
              type: object
              properties:
                meeting_id:
                  type: string
                  description: The meeting ID.
        required: true
      responses:
        "200":
          description: Success
          content:
            application/json:
              example:
                uuid: unique_id
                meeting_number: "123456789"
                host_id: unique_id
                account_id: unique_id
                topic: Meeting Topic
                start_time: 2015-04-13T01:06:04Z
                timezone: UTC
                duration: 1
                total_size: 686496
                recording_count: 3
                recording_files:
                - id: unique_id
                  meeting_id: unique_id
                  recording_start: 2015-04-13T01:06:36Z
                  recording_end: 2015-04-13T01:06:47Z
                  file_type: MP4
                  file_size: 438482
                  play_url: https://brand.zoom.us/recording/play/HzMyuI23bqxlJLVJLrww3L9ZuFeZEvYtG0vQ6pHhp6Twr6GPjX4Qks_CJak7jrU2
                  download_url: https://brand.zoom.us/recording/download/HzMyuI23bqxlJLVJLrww3L9ZuFeZEvYtG0vQ6pHhp6Twr6GPjX4Qks_CJak7jrU2
  /recording/list:
    post:
      tags:
      - Cloud Recording
      description: |+
        List all the cloud recording meetings on Zoom.

      operationId: recordingList
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              required:
              - host_id
              type: object
              properties:
                host_id:
                  type: string
                  description: Meeting host user ID. Can be any user under this account.
                meeting_number:
                  type: string
                  description: The meeting number.
                from:
                  type: string
                  description: "The meeting start time after this date, MM/dd/yyyy\
                    \ hh:mm a. For example: 11/05/2014 09:05 pm. Use the host’s time\
                    \ zone, if host has not set time zone, will use GMT."
                to:
                  type: string
                  description: "The meeting start time before this date, MM/dd/yyyy\
                    \ hh:mm a."
                page_size:
                  type: string
                  description: The amount of records returns within a single API call.
                    Defaults to 30. Max of 300 meetings.
                  default: "30"
                page_number:
                  type: string
[...]
