---
layout: default
---
<div class="uk-section">
    <div class="uk-container uk-container-xlarge">
        <article class="uk-article">       
            
            {% assign slug = page.url | replace: '/apis/','' | replace: '/index/','' %}         
            {% assign overlay = site.data[slug].overlays.apis-io-search %}
            <div class="article-content">

                <div style="border: 0px solid #000; width: 100%; padding: 0px; margin: 0px; border-radius: 25px;" id="map-{{ slug }}-shell">
                    {% assign url = page.url | replace_first: "/", "" %}
                    {% assign pos = url | size | minus: 1 %}
                    {% assign url = url | slice: 0, pos %}
                    <h1 class="uk-article-title">{{ overlay.name | escape }}</h1>
                    <table align="right" style="padding: 15px;">
                        <tr>
                            <td align="center"><a href="https://raw.githubusercontent.com/api-search/{{ site.node }}/main/_{{ url }}.md" target="_blank"><img src="https://s3.amazonaws.com/kinlane-productions2/bw-icons/bw-api-a.png" width="100"></a></td>
                        </tr>
                        <tr>
                            <td align="center"><a href="https://raw.githubusercontent.com/api-search/{{ site.node }}/main/_{{ url }}.md" target="_blank">APIs.json</a></td>
                        </tr>                        
                    </table>                    
                    <p>{{ overlay.description | strip_html | strip_newlines }}</p>  
                    {% for api in overlay.apis %}

                        <a name="{{ api.name }}"></a>
                        <h3>{{ api.name }}</h3>
                        <p>{{ api.description | strip_html | strip_newlines }}</p> 
                        <h4>Properties</h4>
                        <ul id="">
                            <li><a href="{{ api.humanURL }}">Human URL</a></li>
                            {% if api.baseURL != 'https://api.example.com' %}
                                <li><a href="{{ api.baseURL }}">Base URL</a></li>
                            {% endif %}
                            {% for property in api.properties %}
                                <li><a href="{{ property.url }}">{{ property.type }}</a></li>
                            {% endfor %}    
                        </ul>

                        <!-- OPERATIONS -->
                        {% assign any = 0 %}         
                        {% for property in api.properties %}
                            {% if property.type == 'OpenAPI' %}
                                {% for path in property.data.paths %}
                                    {% for method in path[1] %}
                                        {% assign any = 1 %}         
                                    {% endfor %}                                          
                                {% endfor %}    
                            {% endif %}
                        {% endfor %}      
                        {% if any == 1 %}                   
                            <h4>Operations</h4>
                            <ul id="">
                            {% for property in api.properties %}
                                {% if property.type == 'OpenAPI' %}
                                    {% for path in property.data.paths %}
                                        {% for method in path[1] %}
                                                <li><strong>{{ method[1].summary | strip_html | strip_newlines }}</strong> ({{ method[0] }}) - {{ method[1].description | strip_html | strip_newlines }}</li>
                                        {% endfor %}                                          
                                    {% endfor %}    
                                {% endif %}
                            {% endfor %}    
                            </ul>  
                        {% endif %}
                        <!-- OPERATIONS -->
                        
                        <!-- RATINGS -->
                        {% assign any = 0 %}         
                        {% for property in api.properties %}
                            {% if property.type == 'API Evangelist Ratings' %}
                                {% for rule in property.data.rules %}
                                    {% assign any = 1 %}        
                                {% endfor %}    
                            {% endif %}                            
                        {% endfor %}     
                        {% if any == 1 %}                         
                            <h4>Ratings</h4>
                            <ul id=""> 
                            {% for property in api.properties %}
                                {% if property.type == 'API Evangelist Ratings' %}
                                    {% for rule in property.data.rules %}
                                        <li><strong>{{ rule.message }}</strong> ({{ rule.code }})</li>                                       
                                    {% endfor %}    
                                {% endif %}                            
                            {% endfor %}    
                            </ul>         
                        {% endif %} 
                        <!-- RATINGS -->                

                        <h4>Tags</h4>
                        <ul id="">
                            {% for tag in api.tags %}
                                {% if tag != '' %}
                                    <li>{{ tag }}</li>
                                {% endif %}
                            {% endfor %}    
                        </ul>                                                                   
                    {% endfor %}                                     
                    
                </div>

            </div>

        </article>

    </div>
</div>
