---
layout: default
---

<div class="uk-section">
    <div class="uk-container uk-container-xsmall">
        <article class="uk-article">

            <h1 class="uk-article-title">{{ page.name | escape }}</h1>

            <div class="article-content" style="color: #000;">

                <!--<img src="{{ page.image }}" width="100" align="left" style="padding: 5px;">-->
                <!--<span>{{ page.description }}</span>-->

                <table width="100%">
                {% for index in site.apis %}
                    {% for api in index.apis %}

                        {% assign show_api = 0 %}

                        {% for property in api.properties %}
                            {% if property.type == "API Evangelist Ratings" %}
                                {% for this_rule in property.data.rules %}
                                    {% if this_rule.code == page.slug %}
                                        {% assign show_api = 1 %}
                                    {% endif %}
                                {% endfor %} 
                            {% endif %}
                        {% endfor %} 

                        {% if show_api == 1 %}
                            <tr>
                                <td width="90%">{{ api.name }}</td>
                                <td width="10%" align="center"><a href="{{ index.url }}#{{ api.name }}"><button type="button" class="btn btn-outline-success">Details</button></a></td>
                            </tr>
                        {% endif %}

                    {% endfor %}  
                {% endfor %}  
                </table>  

                <p align="center"><a href="../"><button type="button" class="btn btn-outline-success">Return to Tag Listing</button></a></p>

            </div>

        </article>

        <script>
            // Table of contents scroll to
            UIkit.scroll('#markdown-toc a', {
                duration: 400,
                offset: 120
            });
        </script>

    </div>
</div>
